# Datov√° akademie, ƒåSOB, 2023

---

* [ƒåasov√© ≈ôady](#ƒåasov√©-≈ôady),
    - [√∫vodn√≠ motivace](#Data-a-ƒças-v-Pythonu),
    - [ƒçasov√© ≈ôady](#ƒåasov√©-datov√©-typy),
    - [funkce to_datetime](#Funkce-TO_DATETIME),
    - [funkce date_range](#Funkce-DATE_RANGE),
    - [resampling](#Resampling,-sn√≠≈æen√≠-frekvence)
    - [zp≈ôes≈àov√°n√≠](#Zp≈ôes≈àov√°n√≠-≈ôady).
* [V√Ωkonn√© pandy](),
    - [funkce eval](#funkce-EVAL),
    - [v√Ωhody eval](#V√Ωkon-EVAL),
    - [funkce query](#Funkce-QUERY),
    - [souhrn k eval a query](#Souhrn-k-EVAL-a-QUERY).
* [Skuteƒçn√© hodnoty](#Chybƒõj√≠c√≠-hodnoty),
    - [chybƒõj√≠c√≠ √∫daje](#Kolik-mi-chyb√≠-√∫daj≈Ø),
    - [encoding](#Encoding),
    - [nekonzistentn√≠ data](#Nekonzistentn√≠-data).

<br>

## ƒåasov√© ≈ôady

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.odqbr-09dxxBQjF7x7NyBAHaII%26pid%3DApi&f=1&ipt=5b4a03c1dd38b52108237102ebb350595a5d6ea6a50572f5897ca89fbf5b5445&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

ƒå√°st *frameworku* byla vyvinuta za √∫ƒçelem **finanƒçn√≠ho modelov√°n√≠**.

Proto je v√≠ce ne≈æ dob≈ôe vybavena sadou n√°stroj≈Ø, kter√© um√≠ pracovat **s daty, ƒçasem a ƒçasov√Ωmi objekty**.

<br>

Uplatnƒõn√≠:
* **Anal√Ωza a predikce**: ƒåasov√© ≈ôady umo≈æ≈àuj√≠ analyzovat v√Ωvoj hodnot v ƒçase a p≈ôedpov√≠dat budouc√≠ trendy nebo sez√≥nn√≠ zmƒõny,

* **Efektivn√≠ manipulace s ƒçasem**: Pandas poskytuje n√°stroje pro efektivn√≠ pr√°ci s ƒçasov√Ωmi ≈ôadami, co≈æ zjednodu≈°uje √∫koly, jako je agregace, interpolace nebo ƒçasov√© posuny,

* **ƒåasovƒõ z√°visl√© anal√Ωzy**: ƒåasov√© ≈ôady umo≈æ≈àuj√≠ prov√°dƒõt ƒçasovƒõ z√°visl√© anal√Ωzy, jako je detekce zmƒõn v trendech, identifikace sez√≥nn√≠ch vliv≈Ø nebo identifikace ƒçasov√Ωch z√°vislost√≠ mezi promƒõnn√Ωmi,

* **Flexibiln√≠ indexace**: Pandas podporuje flexibiln√≠ indexaci ƒçasov√Ωch ≈ôad, co≈æ usnad≈àuje filtrov√°n√≠, ≈ôazen√≠ a v√Ωbƒõr dat na z√°kladƒõ ƒçasov√Ωch znaƒçek nebo rozsah≈Ø,

* **Kompatibilita s dal≈°√≠mi knihovnami**: Pandas je kompatibiln√≠ s mnoha dal≈°√≠mi knihovnami pro anal√Ωzu ƒçasov√Ωch ≈ôad, jako je `statsmodels` nebo `scikit-learn`.
    
<br>

Jde nap≈ô√≠klad o √∫daje typu:
* *timestampy*, √∫daj odkazuj√≠c√≠ na **konkr√©tn√≠ ƒçasov√Ω okam≈æik** (datum a ƒças, nap≈ô. `4. ƒçervence 2015 v 7:00 hod.`),
* *ƒçasov√© intervaly*, tedy obdob√≠ odkazuj√≠ na **d√©lku ƒçasu mezi konkr√©tn√≠m zaƒç√°tkem a koncem** (nap≈ô. intervaly ze dne na den),
* *time delta* objekty, tedy **p≈ôesn√© d√©lky ƒçasu** (nap≈ô. `22,22` sekundy).

<br>

#### Data a ƒças v Pythonu

---

Standardn√≠ v√Ωbavou Pythonu jsou knihovny `datetime`:

In [87]:
from datetime import datetime

In [88]:
datetime?

Init signature: datetime(self, /, *args, **kwargs)
Docstring:
datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

The year, month and day arguments are required. tzinfo may be None, or an
instance of a tzinfo subclass. The remaining arguments may be ints.
File:           /usr/lib/python3.8/datetime.py
Type:           type
Subclasses:     ABCTimestamp, _NaT

In [ ]:
datetime(year=2023, month=4, day=5)

<br>

Nebo knihovna `dateutil` pro *parsov√°n√≠* datov√Ωch typ≈Ø z r≈Øzn√Ωch **stringov√Ωch zad√°n√≠**:

In [89]:
from dateutil import parser

In [90]:
parser?

Type:        module
String form: <module 'dateutil.parser' from '/home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages/dateutil/parser/__init__.py'>
File:        ~/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages/dateutil/parser/__init__.py
Docstring:
This module offers a generic date/time string parser which is able to parse
most known formats to represent a date and/or time.

This module attempts to be forgiving with regards to unlikely input formats,
returning a datetime object even for dates which are ambiguous. If an element
of a date/time stamp is omitted, the following rules are applied:

- If AM or PM is left unspecified, a 24-hour clock is assumed, however, an hour
  on a 12-hour clock (``0 <= hour <= 12``) *must* be specified if AM or PM is
  specified.
- If a time zone is omitted, a timezone-naive datetime is returned.

If any other elements are missing, they are taken from the
:class:`datetime.datetime` object passed to the parameter ``default``. If this
results in a day number exceeding the valid number of days per month, the
value falls back to the end of the month.

Additional resources about date/time string formats can be found below:

- `A summary of the international standard date and time notation
  <https://www.cl.cam.ac.uk/~mgk25/iso-time.html>`_
- `W3C Date and Time Formats <https://www.w3.org/TR/NOTE-datetime>`_
- `Time Formats (Planetary Rings Node) <https://pds-rings.seti.org:443/tools/time_formats.html>`_
- `CPAN ParseDate module
  <https://metacpan.org/pod/release/MUIR/Time-modules-2013.0912/lib/Time/ParseDate.pm>`_
- `Java SimpleDateFormat Class
  <https://docs.oracle.com/javase/6/docs/api/java/text/SimpleDateFormat.html>`_

In [ ]:
date = parser.parse("5th of april, 2023")

In [ ]:
date

<br>

Kde pomoc√≠ metody `strftime` m≈Ø≈æe≈° vypsat den:

In [ ]:
date.strftime("%A")

<br>

#### Data a ƒças v numpy

---

Nƒõkter√© nedostatky uvnit≈ô knihoven `datetime` a `dateutil` vedli ke vzniku sady n√°stroj≈Ø.

Tyto dopl≈àky vznikly pod hlaviƒçkou knihovny `numpy`.

In [ ]:
from numpy import array, arange

In [ ]:
date = array('2023-04-05', dtype=np.datetime64)

In [ ]:
date

<br>

Pokud pot≈ôebuje≈° pole n√°sleduj√≠c√≠ch 7 dn√≠:

In [ ]:
date + arange(7)

<br>

Vzhledem k jednotn√©mu datovu typu v poli pro **numpy** `datetime64` m≈Ø≈æe tento typ operace
prov√°dƒõt mnohem rychleji, ne≈æ p≈ô√≠mo v Pythonu `datetime` objekty, zejm√©na kdy≈æ objekty nab√Ωvaj√≠ na velikosti.

#### Data a ƒças v pand√°ch

---

Jde o kombinace objekt≈Ø z obou p≈ôedchoz√≠ch podkapitol.

Ty d√°vaj√≠ dohromady to nejlep≈°√≠ prost≈ôedky pro zach√°zen√≠ s ƒçasem.

In [ ]:
from pandas import to_datetime

In [ ]:
date = to_datetime("5th of April, 2023")

In [ ]:
date

In [ ]:
date.strftime("%A")

<br>

### Z√°kladn√≠ objekty

---

V podstatƒõ jde o hlavn√≠ n√°stroj, kter√Ω tato knihovna dovede nab√≠dnout.

Tedy pr√°ce s univerz√°ln√≠mi datov√Ωmi typy pro ƒças.

Mezi z√°kladn√≠ objekty pro pr√°ci s ƒçasem pat≈ô√≠:
* `Timestamp`, typ (souvisej√≠c√≠ struktura Indexu `DatetimeIndex`,
* `Period`, typ (.. `PeriodIndex`),
* `Timedelta`, typ (.. `TimedeltaIndex`).

#### Timestamp

---

Z√°kladn√≠ datov√Ω typ do ƒçasov√Ωch ≈ôad.

P≈ôi≈ôazuje pandas√≠ hodnoty k skuteƒçn√Ωm konkr√©tn√≠m ƒçasov√Ωm bod≈Øm.

In [106]:
from pandas import Timestamp

In [110]:
Timestamp("2023-05-04")

Timestamp('2023-05-04 00:00:00')

In [111]:
Timestamp(2023, 5, 4)

Timestamp('2023-05-04 00:00:00')

In [118]:
type(Timestamp(2023, 5, 4))

pandas._libs.tslibs.timestamps.Timestamp

<br>

#### Period

---

V mnoha p≈ô√≠padech je v≈°ak p≈ôirozenƒõj≈°√≠ spojit promƒõnn√©, jako je zmƒõna, s ƒçasov√Ωm rozpƒõt√≠m.

`Period` p≈ôedstavuje ƒçasov√Ω interval nebo obdob√≠, kter√© m√° zaƒç√°tek a konec.

In [112]:
from pandas import Period

In [114]:
Period("2023-05", freq="D")

Period('2023-05-01', 'D')

In [119]:
type(Period("2023-05", freq="D"))

pandas._libs.tslibs.period.Period

Hlavn√≠m rozd√≠lem pro `Timestamp` a `Period` je v r√°mci jejich zapracov√°n√≠.

`Timestamp` pracuje s konkr√©tn√≠m ƒçasov√Ωm okam≈æikem.

`Period` naopak s ƒçasov√Ωm intervalem.

<br>

#### Indexov√°n√≠ ƒçasem

---

`DatetimeIndex` obsahuje ƒçasov√© znaƒçky (*timestamp*), kter√© jsou ulo≈æeny ve form√°tu `datetime64` s nanosekundovou p≈ôesnost√≠.

Tento objekt umo≈æ≈àuje efektivn√≠ pr√°ci s ƒçasov√Ωmi ≈ôadami a poskytuje mnoho funkc√≠ pro manipulaci s daty a ƒçasy.

V√Ωhody pr√°ce s `DatetimeIndex` objektem:
* ƒåasov√© z√≥ny,
* frekvence,
* ƒçasovƒõ z√°visl√© selekce,
* atributy ƒçasov√Ωch znaƒçek,
* operace s ƒçasem.

In [120]:
from pandas import DatetimeIndex, Series

In [121]:
datumy = ["2023-04-05", "2022-04-05", "2021-04-05", "2020-04-05"]

In [122]:
indexy = DatetimeIndex(datumy)

In [123]:
hodnoty = [to_datetime(den).strftime("%A") for den in datumy]

In [124]:
df_hodnoty = Series(hodnoty, index=indexy)

In [125]:
df_hodnoty

2023-04-05    Wednesday
2022-04-05      Tuesday
2021-04-05       Monday
2020-04-05       Sunday
dtype: object

In [126]:
type(indexy)

pandas.core.indexes.datetimes.DatetimeIndex

In [127]:
df_hodnoty["2020": "2022"]

/tmp/ipykernel_7941/3590313258.py:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  df_hodnoty["2020": "2022"]

2022-04-05    Tuesday
2021-04-05     Monday
2020-04-05     Sunday
dtype: object

<br>

### Funkce TO_DATETIME

---

Nejƒçastƒõj≈°√≠ datov√© typy, kter√© lze zapsat p≈ô√≠mo, ov≈°em bƒõ≈ænƒõj≈°√≠ je pracovat s funkc√≠ `to_datetime`.

Funkce `to_datetime` um√≠ parsovat r≈Øzn√© stringov√© form√°ty.

In [128]:
from pandas import to_datetime

<br>

#### Pr√°ce s jedn√≠m datumem

---

In [129]:
datum = to_datetime("05/04/2023")

In [130]:
datum

Timestamp('2023-05-04 00:00:00')

In [131]:
type(datum)

pandas._libs.tslibs.timestamps.Timestamp

Pokud do funkce `to_datetime` vlo≈æ√≠≈° jedinou hodnotu, vrac√≠ objekty typu `Timestamp`.

<br>

#### Specifick√Ω form√°t

---

Pokud se parser ve funkci `to_datetime` ztrat√≠ nebo tvoje zad√°n√≠ neodpov√≠d√° jeho vyhotoven√≠, m≈Ø≈æe≈° zadat form√°t explicitnƒõ:

In [133]:
vystup = to_datetime("12-11-2010 00:00", format="%d-%m-%Y %H:%M")

In [137]:
vystup.day

12

In [135]:
vystup.month

11

In [136]:
vystup.year

2010

<br>

#### Pr√°ce s nƒõkolika datumy

---

Stejnƒõ jak um√≠ funkce *parsovat* jednu hodnotu, um√≠ zpracovat pole ƒçasov√Ωch string≈Ø:

In [138]:
datumy = to_datetime([
    datetime(2023, 4, 5), "5th of April 2023", "2023-Apr-5", "05-04-2023", "20230405"]
)

In [139]:
datumy

DatetimeIndex(['2023-04-05', '2023-04-05', '2023-04-05', '2023-05-04',
               '2023-04-05'],
              dtype='datetime64[ns]', freq=None)

In [140]:
type(datumy)

pandas.core.indexes.datetimes.DatetimeIndex

Zat√≠mco pole hodnot s datumy, kter√© funkce `to_datetime` zpracuje vrac√≠ objekt typu `DatetimeIndex`.

<br>

Objekt `DatetimeIndex` potom m≈Ø≈æe≈° konvertovat na `PeriodIndex` pomoc√≠ *metody* `to_period`:

In [141]:
datumy.to_period?

Signature: datumy.to_period(*args, **kwargs)
Docstring:
Cast to PeriodArray/Index at a particular frequency.

Converts DatetimeArray/Index to PeriodArray/Index.

Parameters
----------
freq : str or Offset, optional
    One of pandas' :ref:`offset strings <timeseries.offset_aliases>`
    or an Offset object. Will be inferred by default.

Returns
-------
PeriodArray/Index

Raises
------
ValueError
    When converting a DatetimeArray/Index with non-regular values,
    so that a frequency cannot be inferred.

See Also
--------
PeriodIndex: Immutable ndarray holding ordinal values.
DatetimeIndex.to_pydatetime: Return DatetimeIndex as object.

Examples
--------
>>> df = pd.DataFrame({"y": [1, 2, 3]},
...                   index=pd.to_datetime(["2000-03-31 00:00:00",
...                                         "2000-05-31 00:00:00",
...                                         "2000-08-31 00:00:00"]))
>>> df.index.to_period("M")
PeriodIndex(['2000-03', '2000-05', '2000-08'],
            dtype='period[M]')

Infer the daily frequency

>>> idx = pd.date_range("2017-01-01", periods=2)
>>> idx.to_period()
PeriodIndex(['2017-01-01', '2017-01-02'],
            dtype='period[D]')
File:      ~/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages/pandas/core/indexes/extension.py
Type:      method

<br>

Tato metoda je u≈æiteƒçn√°, pokud chcete p≈ôev√©st ƒçasov√© ≈ôady **na urƒçit√© ƒçasov√© obdob√≠**.

Kdy≈æ bude≈° t≈ôeba pot≈ôebovat p≈ôev√©st hodnoty **z denn√≠ch dat na mƒõs√≠ƒçn√≠ data**.

#### Denn√≠ data

In [ ]:
datumy.to_period("D")

#### Mƒõs√≠ƒçn√≠ data

In [ ]:
datumy.to_period("M")

In [ ]:
data = {
    'date': pd.date_range(start='2022-01-01', periods=10, freq='D'),
    'sales': [100, 102, 105, 107, 110, 112, 115, 117, 120, 122]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.set_index('date', inplace=True)

In [ ]:
df_period = df.to_period(freq='Y')

<br>

#### ƒåasov√© zony

---

In [101]:
tz_datum = datum.tz_localize("UTC")

In [102]:
tz_datum

Timestamp('2023-05-04 00:00:00+0000', tz='UTC')

In [103]:
nove_tz_datum = tz_datum.tz_convert("US/Pacific")

In [104]:
nove_tz_datum

Timestamp('2023-05-03 17:00:00-0700', tz='US/Pacific')

<br>

### TimedeltaIndex

---

Jde o rozd√≠l v jednotk√°ch ƒçasu.

Nejƒçastƒõji se s t√≠mto objektem setk√°≈°, pokud pot≈ôebuje≈° z√≠skat **rozd√≠l mezi dvƒõma datumy**.

In [ ]:
specialni_datumy = to_datetime([
    datetime(2022, 4, 5), "5th of April 2021", "2020-Apr-5", "05-04-2019", "20180405"]
)

In [ ]:
datumy - specialni_datumy

<br>

### Funkce DATE_RANGE

---

Aby bylo zad√°n√≠ ≈ôady (sekvence) dat pohodlnƒõj≈°√≠, vyzkou≈°ej funkci `date_range`.

Obdobnƒõ potom pracuj√≠ souvisej√≠c√≠ funkce:
* `date_range`, timestampy,
* `period_range`, periody,
* `timedelta_range`, pro delty.

In [143]:
from pandas import date_range

<br>

#### Poƒçet period

---

Nachyst√° objekt, kter√Ω vypracuje tolik period, kter√© definuje≈° pomoc√≠ parametru `periods`:

In [144]:
datumy_ind = date_range("01-01-1992", periods=8)

In [145]:
datumy_ind

DatetimeIndex(['1992-01-01', '1992-01-02', '1992-01-03', '1992-01-04',
               '1992-01-05', '1992-01-06', '1992-01-07', '1992-01-08'],
              dtype='datetime64[ns]', freq='D')

<br>

#### Frekvence

---

In [146]:
datumy_mesicne_ind = date_range("01-01-1992", periods=8, freq="M")

In [147]:
datumy_mesicne_ind

DatetimeIndex(['1992-01-31', '1992-02-29', '1992-03-31', '1992-04-30',
               '1992-05-31', '1992-06-30', '1992-07-31', '1992-08-31'],
              dtype='datetime64[ns]', freq='M')

<br>

#### Hodinov√© periody

---

In [148]:
from pandas import timedelta_range

In [149]:
hodinove_ind = timedelta_range(0, periods=12, freq="H")

In [150]:
hodinove_ind

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00', '0 days 10:00:00', '0 days 11:00:00'],
               dtype='timedelta64[ns]', freq='H')

<br>

### Frekvence

ƒåasovou paletou frekvenc√≠, kterou framework `pandas` nab√≠z√≠ je tato tabulka:

| String | Popisek |
| :-: | :- |
| `D` | kalend√°≈ôn√≠ den |
| `W` | t√Ωden |
| `M` | konec mƒõs√≠ce |
| `Q` | konec ƒçtvrtlet√≠ |
| `A` | konec roku |
| `H` | hodiny |
| `T` | minuty |
| `S` | vte≈ôiny |
| `B` | pracovn√≠ den |
| `BM` | konec pracovn√≠·∏ßo mƒõs√≠ce |
| `BQ` | konec pracovn√≠ho ƒçtvrtlet√≠ |

#### Netradiƒçn√≠ frekvence

---

In [151]:
timedelta_range(0, periods=5, freq="1H15T")

TimedeltaIndex(['0 days 00:00:00', '0 days 01:15:00', '0 days 02:30:00',
                '0 days 03:45:00', '0 days 05:00:00'],
               dtype='timedelta64[ns]', freq='75T')

<br>

### Resampling, sn√≠≈æen√≠ frekvence

---

*Resampling* nebo tak√© *p≈ôevzorkov√°n√≠* je proces, kter√Ω upravuje frekvenci ƒçasov√© ≈ôady.

*Resampling* se obvykle pou≈æ√≠v√° **pro sn√≠≈æen√≠ frekvence** (z hodinov√Ωch dat na denn√≠ data).

*Resampling* zahrnuje *agregaci* dat.

V `pandas` se k tomu pou≈æ√≠v√° metoda `resample`, kter√° m√° jako parametr novou frekvenci, na kterou chcete data p≈ôev√©st:

In [ ]:
import pandas as pd

In [ ]:
data = {
    'date': pd.date_range(start='2022-01-01', periods=60, freq='D'),
    'sales': range(60)
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.set_index('date', inplace=True)

In [ ]:
monthly_data = df.resample('M').sum()

In [ ]:
print(monthly_data)

<br>

### Zp≈ôes≈àov√°n√≠ ≈ôady

---

Zahrnuje **zv√Ω≈°en√≠ frekvence ƒçasov√Ωch ≈ôad**.

P≈ôiƒçem≈æ se novƒõ vytvo≈ôen√© hodnoty obvykle interpoluj√≠ nebo dopl≈àuj√≠ nƒõjakou konstantou.

V pandas se k zp≈ôes≈àov√°n√≠ pou≈æ√≠v√° metoda `asfreq`, kter√° m√° jako parametr novou frekvenci, na kterou chcete data p≈ôev√©st.

In [ ]:
data = {
    'date': pd.date_range(start='2022-01-01', end='2022-03-01', freq='MS'),
    'sales': [100, 120, 150]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.head()

In [ ]:
df.set_index('date', inplace=True)

In [ ]:
daily_data = df.asfreq('D', method='ffill')

In [ ]:
daily_data.head(20)

Metoda `asfreq` bere jako parametr novou frekvenci, na kterou chceme data p≈ôev√©st.

V p≈ô√≠padƒõ v√Ω≈°e jde o frekvenci `D`, co≈æ znamen√° **denn√≠ data**.

Proto≈æe p≈ôi zp≈ôes≈àov√°n√≠ se **vytvo≈ô√≠ chybƒõj√≠c√≠ hodnoty** (v d≈Øsledku zv√Ω≈°en√≠ frekvence), je pot≈ôeba zvolit metodu pro jejich doplnƒõn√≠.

V√Ω≈° jde o metodu `forward fill` (parametr `method='ffill'`), kter√° kop√≠ruje p≈ôedchoz√≠ hodnotu pro v√Ωpl≈à chybƒõj√≠c√≠ch hodnot.

Dal≈°√≠ mo≈ænost√≠ je pou≈æ√≠t metodu `'back fill'` (parametr `method='bfill'`), kter√° kop√≠ruje n√°sleduj√≠c√≠ hodnotu pro v√Ωpl≈à chybƒõj√≠c√≠ch hodnot.

<br>

**üß† CVIƒåEN√ç üß†, procviƒç si ƒçasov√© ≈ôady**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:
1. Celkov√Ω prodej za ka≈æd√Ω mƒõs√≠c.
2. Pr≈Ømƒõrn√Ω prodej za ka≈æd√Ω den v t√Ωdnu.
3. Denn√≠ prodej za posledn√≠ t√Ωden.

In [ ]:
import pandas as pd
import numpy as np

denni_datumy = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
prodeje = np.random.randint(10, 100, size=(len(date_rng),))

data = {
    'datumy': denni_datumy,
    'prodeje': prodeje
}

df_prodeje = pd.DataFrame(data)
df_prodeje.set_index('datumy', inplace=True)

In [ ]:
df_prodeje

### Resampling

---

*Resampling* nebo tak√© *p≈ôevzorkov√°n√≠* je proces, kter√Ω upravuje frekvenci ƒçasov√© ≈ôady.

*Resampling* se obvykle pou≈æ√≠v√° **pro sn√≠≈æen√≠ frekvence** (z hodinov√Ωch dat na denn√≠ data).

*Resampling* zahrnuje *agregaci* dat.

V `pandas` se k tomu pou≈æ√≠v√° metoda `resample`, kter√° m√° jako parametr novou frekvenci, na kterou chcete data p≈ôev√©st:

In [ ]:
import pandas as pd

In [ ]:
data = {
    'date': pd.date_range(start='2022-01-01', periods=60, freq='D'),
    'sales': range(60)
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.set_index('date', inplace=True)

In [ ]:
monthly_data = df.resample('M').sum()

In [ ]:
print(monthly_data)

<br>

### Zp≈ôes≈àov√°n√≠

---

Zahrnuje **zv√Ω≈°en√≠ frekvence ƒçasov√Ωch ≈ôad**.

P≈ôiƒçem≈æ se novƒõ vytvo≈ôen√© hodnoty obvykle interpoluj√≠ nebo dopl≈àuj√≠ nƒõjakou konstantou.

V pandas se k zp≈ôes≈àov√°n√≠ pou≈æ√≠v√° metoda `asfreq`, kter√° m√° jako parametr novou frekvenci, na kterou chcete data p≈ôev√©st.

In [ ]:
data = {
    'date': pd.date_range(start='2022-01-01', end='2022-03-01', freq='MS'),
    'sales': [100, 120, 150]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.head()

In [ ]:
df.set_index('date', inplace=True)

In [ ]:
daily_data = df.asfreq('D', method='ffill')

In [ ]:
daily_data.head(20)

Metoda `asfreq` bere jako parametr novou frekvenci, na kterou chceme data p≈ôev√©st.

V p≈ô√≠padƒõ v√Ω≈°e jde o frekvenci `D`, co≈æ znamen√° **denn√≠ data**.

Proto≈æe p≈ôi zp≈ôes≈àov√°n√≠ se **vytvo≈ô√≠ chybƒõj√≠c√≠ hodnoty** (v d≈Øsledku zv√Ω≈°en√≠ frekvence), je pot≈ôeba zvolit metodu pro jejich doplnƒõn√≠.

V√Ω≈° jde o metodu `forward fill` (parametr `method='ffill'`), kter√° kop√≠ruje p≈ôedchoz√≠ hodnotu pro v√Ωpl≈à chybƒõj√≠c√≠ch hodnot.

Dal≈°√≠ mo≈ænost√≠ je pou≈æ√≠t metodu `'back fill'` (parametr `method='bfill'`), kter√° kop√≠ruje n√°sleduj√≠c√≠ hodnotu pro v√Ωpl≈à chybƒõj√≠c√≠ch hodnot.

<br>

**üß† CVIƒåEN√ç üß†, procviƒç si ƒçasov√© ≈ôady**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:
1. Celkov√Ω prodej za ka≈æd√Ω mƒõs√≠c.
2. Pr≈Ømƒõrn√Ω prodej za ka≈æd√Ω den v t√Ωdnu.
3. Denn√≠ prodej za posledn√≠ t√Ωden.

In [133]:
from numpy.random import randint
from pandas import date_range, DataFrame

denni_datumy = date_range(start='2022-01-01', end='2022-12-31', freq='D')
prodeje = randint(10, 100, size=(len(denni_datumy),))

data = {
    'datumy': denni_datumy,
    'prodeje': prodeje
}

df_prodeje = DataFrame(data)
df_prodeje.set_index('datumy', inplace=True)

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    mesicni_prodej = df_prodeje.resample('M').sum()

    df_prodeje['weekday'] = df_prodeje.index.weekday
    denni_prumer = df_prodeje.groupby('weekday')['prodeje'].mean()

    prodej_posledni_vikend = df_prodeje.loc['2022-12-25':, 'prodeje']
    ```
</details>

* [High performance](),
    - [√∫vodn√≠ motivace](),
    - [eval](),
    - [query](),
    - [caveats]().

## Vysok√Ω v√Ωkon v PANDAS

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.riOR-y2_yu_2cGdEN2e6-wAAAA%26pid%3DApi&f=1&ipt=638c4516d155ff9768066e17887a621cbad0de6bce639a40be98f5dedbce67ac&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

Z p≈ôedchoz√≠ch uk√°zek a popisk≈Ø (seskupov√°n√≠) tedy m≈Ø≈æe≈° ch√°pat, ≈æe skuteƒçn√Ω v√Ωkon *frameworku* tkv√≠ v p≈ôeveden√≠ **z√°kladn√≠ch operac√≠ do jazyka C**.

Tyto abstrakce jsou √∫ƒçinn√© a efektivn√≠ pro mnoho bƒõ≈æn√Ωch p≈ô√≠pad≈Ø pou≈æit√≠.

Vytv√°≈ôej√≠ ale spousty doƒçasn√Ωch objekt≈Ø, co≈æ m≈Ø≈æe zp≈Øsobit nep≈ôimƒõ≈ôenou re≈æii v√Ωpoƒçetn√≠ho ƒçasu a pamƒõti.

### EVAL a QUERY

---

P≈ô√≠m√Ω p≈ô√≠stup k operac√≠m rychlosti C bez n√°kladn√© alokace `pandas` poskytuje funkce `eval` a `query`.

Ty spoleh√°j√≠ na funkci `numexpr`.

<br>

### funkce EVAL

---

Dva d≈Øvody, proƒç pou≈æ√≠vat funkci `eval` m√≠sto obyƒçejn√©ho Pythonu:
1. velk√© objekty typu `DataFrame` jsou vyhodnocov√°ny efektivnƒõji,
2. aritmetick√© a logick√© v√Ωrazy projdou nar√°z z√°kladn√≠m enginem (pomoc√≠ `numexpr`).

**Pozor!** Dobr√° obecn√° pom≈Øcka ≈ô√≠k√°, ≈æe nen√≠ nutn√© vyu≈æ√≠vat funkci `eval` pro tabulky, kter√© jsou krat≈°√≠ ne≈æ 10 000 ≈ô√°dk≈Ø.

### Pou≈æit√≠ EVAL

---

Funkce `eval` slou≈æ√≠ k efektivn√≠mu vyhodnocen√≠ **aritmetick√Ωch v√Ωraz≈Ø** na:
* objekty `DataFrame`,
* objekty `Series`.

Jej√≠ nejvƒõt≈°√≠ v√Ωhodou je **rychlost a efektivita**, kter√° spoƒç√≠v√° v minimalizaci pamƒõ≈•ov√© z√°tƒõ≈æe a zrychlen√≠ operac√≠.

Kdy≈æ pracuje≈° **s velk√Ωmi datov√Ωmi sadami**, pamƒõ≈•ov√° z√°tƒõ≈æ a rychlost se st√°vaj√≠ kl√≠ƒçov√Ωmi faktory.

Funkce `eval` optimalizuje v√Ωpoƒçetn√≠ proces t√≠m, ≈æe sni≈æuje mno≈æstv√≠ alokovan√© pamƒõti a zrychluje v√Ωpoƒçetn√≠ operace.

Uk√°zka pou≈æit√≠ funkce `eval`:

### Uk√°zka EVAL

---

Pro zadan√Ω *dummy dataset* vytvo≈ô **nov√Ω sloupeƒçek** `sloupec_D`, podle vzoru:
`A + B * C`

In [1]:
from pandas import DataFrame, eval

In [2]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}

In [3]:
df_data = DataFrame(data)

In [5]:
df_data

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [9]:
df_data['sloupec_D'] = df_data['A'] + df_data['B'] * df_data['C']

In [10]:
df_data

   A   B   C  sloupec_D
0  1   6  11         67
1  2   7  12         86
2  3   8  13        107
3  4   9  14        130
4  5  10  15        155

<br>

*Alternativn√≠ zp≈Øsob*, jak prov√©st stejn√Ω v√Ωpoƒçet, pokud m√°≈° dlouhou tabulku nebo sloupeƒçek, je pou≈æit√≠ funkce `eval`:

In [11]:
df_data['sloupecek_D'] = df_data.eval('A + B * C')

<br>

Funkce `eval` zpracov√°v√° zadan√Ω `str` podobnƒõ jako built-in funkce `eval`.

In [12]:
df_data

   A   B   C  sloupec_D  sloupecek_D
0  1   6  11         67           67
1  2   7  12         86           86
2  3   8  13        107          107
3  4   9  14        130          130
4  5  10  15        155          155

Souhrnnƒõ lze ≈ô√≠ci:
* funkci `eval` pou≈æij tehdy, pokud je dataset dlouh√Ω,
* ve v≈°ech ostatn√≠ch sc√©n√°≈ô√≠ch, kde nepot≈ôebuje≈° ≈°et≈ôit pamƒõt a ƒças pou≈æij klasickou syntaxi.

### V√Ωkon EVAL

---

In [22]:
import numpy as np
import pandas as pd

In [14]:
pocet_radku, pocet_sloupcu = 100_000, 100

In [15]:
rng = np.random.RandomState(42)

In [29]:
dframe_1, dframe_2, dframe_3, dframe_4 = [DataFrame(rng.rand(pocet_radku, pocet_sloupcu)) for _ in range(4)]

In [30]:
%timeit dframe_1 + dframe_2 + dframe_3 + dframe_4

523 ms ¬± 69.4 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

In [31]:
%timeit pd.eval("dframe_1 + dframe_2 + dframe_3 + dframe_4")

354 ms ¬± 64.8 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

<br>

### Funkce QUERY

---

Funkce `query` slou≈æ√≠ k efektivn√≠mu **filtrov√°n√≠ ≈ô√°dk≈Ø**.

Filtrov√°n√≠ prob√≠h√° na z√°kladƒõ **zadan√© podm√≠nky**.


Hlavn√≠ v√Ωhodou jsou:
* **snadn√° ƒçitelnost**, umo≈æ≈àuje zapisovat podm√≠nky ve snadno ƒçiteln√© formƒõ, zejm√©na v p≈ô√≠padƒõ slo≈æitƒõj≈°√≠ch dotaz≈Ø,
* **rychlost**, m≈Ø≈æe b√Ωt rychlej≈°√≠ ne≈æ tradiƒçn√≠ metody filtrov√°n√≠,(zejm√©na pro velk√© datov√© sady).

### Uk√°zka QUERY

---

Pro zadan√Ω *dummy dataset* vyfiltruj takov√© z√°znamy, kde:
1. Hodnoty ze sloupce A budou **men≈°√≠ ne≈æ 4**,
2. hodnoty ze sloupce B budou **vƒõt≈°√≠ ne≈æ 6**,
3. hodnoty ze sloupce C budou **vƒõt≈°√≠ ne≈æ 11**.

In [32]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}

In [33]:
df_data = DataFrame(data)

In [34]:
df_data

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [39]:
df_filtrovane = df_data[(df_data['A'] < 4) & (df_data['B'] > 6) & (df_data['C'] > 11)]

In [40]:
df_filtrovane

   A  B   C
1  2  7  12
2  3  8  13

Zapisov√°n√≠ pomoc√≠ *boolean indexov√°n√≠* je ov≈°em n√°roƒçn√© jak pro z√°pis, tak pro ƒçten√≠.

<br>

Pomoc√≠ funkce `query`:

In [37]:
df_filtrovane = df_data.query('A < 4 and B > 6 and C > 11')

In [38]:
df_filtrovane

   A  B   C
1  2  7  12
2  3  8  13

### Nedostatky QUERY

---

1. **Omezen√° syntaxe**, m√° omezenƒõj≈°√≠ syntaxi ve srovn√°n√≠ s bƒõ≈æn√Ωm z√°pisem v Pythonu a nemus√≠ podporovat v≈°echny operace,
2. **N√°zvy sloupc≈Ø**, pokud n√°zvy sloupc≈Ø obsahuj√≠ **mezery nebo znaky**, kter√© nejsou platn√Ωmi identifik√°tory Pythonu, mus√≠≈° je uv√©st v z√°vork√°ch a pou≈æ√≠t symbol `@` pro reference na promƒõnn√© mimo `DataFrame`.

In [47]:
df_cisla = pd.DataFrame({'Sloupec 1': [1, 2, 3, 4, 5], 'Sloupec 2': [10, 20, 30, 40, 50]})

In [48]:
vystup_1 = df_cisla.query('Sloupec 1 < 3')

SyntaxError: invalid syntax (<unknown>, line 1)

In [49]:
vystup_2 = df_cisla.query('`Sloupec 1` < 3')

In [50]:
vystup_2

   Sloupec 1  Sloupec 2
0          1         10
1          2         20

### Souhrn k EVAL a QUERY

---

Hlavn√≠m √∫ƒçelem tƒõchto funkc√≠ je aplikace na skuteƒçnƒõ **velk√© datov√© sety**.

Rozd√≠ly u drobnƒõj≈°√≠ch dataset≈Ø **jsou ƒçasto minim√°ln√≠**.

Velk√Ω vliv na v√Ωstupn√Ω ƒças dƒõl√° parametr `engine`, kter√Ω se sna≈æ√≠ pracovat s knihovnou `numexpr`.

<br>

**üß† CVIƒåEN√ç üß†, procviƒç si funkce EVAL a QUERY**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:
1. Vyber studenty s vƒõkem **mezi 20 a 22 lety (vƒçetnƒõ)** a email, kter√Ω obsahuje string **gmail.com**,
2. vypoƒçtƒõte *BMI* (Body Mass Index) pro ka≈æd√©ho studenta a p≈ôidejte ho do nov√©ho sloupce (vzorec: *v√°ha[kg] / (v√Ω≈°ka[m] * v√Ω≈°ka[m])*)
3. vyberte studenty s BMI vy≈°≈°√≠m ne≈æ 22 a kte≈ô√≠ poch√°z√≠ z mƒõst Brno a Praha.

In [88]:
uzivatele = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [19, 20, 21, 22, 23],
    'Height_cm': [160, 170, 175, 180, 165],
    'Weight_kg': [50, 65, 70, 80, 55],
    'Email': ["alice@gmail.com", "bob@tech-users.com", "charlie91@mail.com", "david_bB@gmail.com", "eevee@my_domain.net"],
    'Address': [
        "Vrbov√° 215/14, 602 00, Brno, ƒåesk√° republika",
        "Jilmov√° 862, 400 11, √öst√≠ nad Labem, ƒåesk√° republika",
        "Kamenick√° 37/2, 170 00, Praha, ƒåesk√° republika",
        "Podlipn√° 1284/6, 460 01, Liberec, ƒåesk√° republika",
        "Havl√≠ƒçkova 1703, 500 02, Hradec Kr√°lov√©, ƒåesk√° republika"
    ]
}

In [89]:
df_uzivatele = DataFrame(uzivatele)

In [90]:
df_uzivatele

,Name,Age,Height_cm,Weight_kg,Email,Address
0,Alice,19,160,50,alice@gmail.com,"Vrbov√° 215/14, 602 00, Brno, ƒåesk√° republika"
1,Bob,20,170,65,bob@tech-users.com,"Jilmov√° 862, 400 11, √öst√≠ nad Labem, ƒåesk√° rep..."
2,Charlie,21,175,70,charlie91@mail.com,"Kamenick√° 37/2, 170 00, Praha, ƒåesk√° republika"
3,David,22,180,80,david_bB@gmail.com,"Podlipn√° 1284/6, 460 01, Liberec, ƒåesk√° republika"
4,Eve,23,165,55,eevee@my_domain.net,"Havl√≠ƒçkova 1703, 500 02, Hradec Kr√°lov√©, ƒåesk√°..."

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    vyber_uzivatel = df_uzivatele.query("20 <= Age <= 22 and Email.str.contains('gmail.com')")

    df_uzivatele['Height_m'] = df_uzivatele.eval('Height_cm / 100')
    df_uzivatele['BMI'] = df_uzivatele.eval('Weight_kg / (Height_m * Height_m)').round(1)
    
    df_prodeje['weekday'] = df_prodeje.index.weekday
    average_weekday_sales = df_prodeje.groupby('weekday')['prodeje'].mean()
    
    df_uzivatele["City"] = df_uzivatele["Address"].apply(lambda x: x.split(",")[2])
    students_with_high_bmi = df_uzivatele.query('BMI > 22 and City in ["Brno", "Praha"]')
    ```
</details>

<br>

## Chybƒõj√≠c√≠ hodnoty

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.JJu86kKRph1LHt5M7agODQHaHa%26pid%3DApi&f=1&ipt=5cfb9e9f7b451b3a4f7a3ebdc4eb99177d477f20f8145cd818cc4966143f8b2b&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

ƒåi≈°tƒõn√≠ dat je proces, kter√Ω pat≈ô√≠ k samotn√© pr√°ci s daty.

Spolu s nƒõkter√Ωmi souvisej√≠c√≠mi √∫kony, pat≈ô√≠ mezi ty v√≠ce frustruj√≠c√≠.

Nesmysln√© datov√© typy, zkomolen√© ƒçasov√© √∫daje, nefunguj√≠c√≠ transformace.

In [116]:
df_uzivatele = DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [None, 20, None, 22, 23],
    'Height_cm': [160, 170, 175, None, 165],
    'Weight_kg': [50, 65, 70, 80, 55]
})

In [117]:
df_uzivatele.head(3)

      Name   Age  Height_cm  Weight_kg
0    Alice   NaN      160.0         50
1      Bob  20.0      170.0         65
2  Charlie   NaN      175.0         70

Ihned po naƒçten√≠ je nejlep≈°√≠ data prozkoumat.

Nejenom datov√© typy ale tak√© m√≠t povƒõdom√≠ **o chybƒõj√≠c√≠ch hodnot√°ch**:

In [107]:
df_uzivatele.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       5 non-null      object
 1   Age        3 non-null      float64
 2   Height_cm  4 non-null      float64
 3   Weight_kg  5 non-null      int64
 4   Email      4 non-null      object
dtypes: float64(2), int64(1), object(2)
memory usage: 328.0+ bytes

<br>

Pomoc√≠ metody `info` si udƒõl√°≈° aspo≈à povrchn√≠ p≈ôehled o hodnot√°ch, datov√Ωch typech a chybƒõj√≠c√≠ch hodnot√°ch.

<br>

### Kolik mi chyb√≠ √∫daj≈Ø

---

V≈ædycky p≈ôistupuj k dat≈Øm s m√≠rnou skeps√≠.

Ot√°zkou potom nen√≠, *JESTLI* mi chyb√≠ data, ale *KOLIK* dat mi chyb√≠ **a kde**.

In [108]:
chybejici_hodnoty = df_uzivatele.isnull()

In [109]:
chybejici_hodnoty

    Name    Age  Height_cm  Weight_kg  Email
0  False   True      False      False  False
1  False  False      False      False  False
2  False   True      False      False  False
3  False  False       True      False  False
4  False  False      False      False   True

<br>

Pomoc√≠ metody `isnull` nahrad√≠≈° v≈°echny chybƒõj√≠c√≠ hodnoty v tabulce/sloupc√≠ch pomoc√≠ `True`.

Pokud nechyb√≠, nahrad√≠ s `False`.

In [110]:
type(chybejici_hodnoty)

pandas.core.frame.DataFrame

Takov√Ω v√Ωstup ale nen√≠ zcela reprezentativn√≠.

Proto je pot≈ôeba, seƒç√≠st v≈°echny `True` hodnoty po sloupc√≠ch:

In [112]:
chybejici_hodnoty = df_uzivatele.isnull().sum()

In [113]:
chybejici_hodnoty

Name         0
Age          2
Height_cm    1
Weight_kg    0
Email        1
dtype: int64

<br>

Opƒõt v jednotk√°ch to nemus√≠ zcela prozrazovat chybovost.

Nejlep≈°√≠m indik√°torem ale b√Ωvaj√≠ procenta z celkov√©ho mno≈æstv√≠ hodnot ve sloupci:

In [122]:
celkem_zaznamu = df_uzivatele.shape[0]  # 0 ... Indexy, 1 ... sloupce

In [123]:
celkem_chybi = chybejici_hodnoty

In [124]:
v_procentech = round(celkem_chybi / celkem_zaznamu * 100, 1)

In [125]:
v_procentech

Name          0.0
Age          40.0
Height_cm    20.0
Weight_kg     0.0
Email        20.0
dtype: float64

<br>

p≈ô√≠padnƒõ celkov√© mno≈æstv√≠ z√°znam≈Ø ve v≈°ech sloupc√≠ch:

In [126]:
vsechny_bunky = df_uzivatele.shape[0] * df_uzivatele.shape[1]  # 5 * 4

In [127]:
vsechny_chybejici_hodnoty = chybejici_hodnoty.sum()            # 4

In [128]:
celkem_v_procentech = round(vsechny_chybejici_hodnoty / vsechny_bunky * 100, 1)

In [129]:
celkem_v_procentech

20.0

<br>

V t√©to uk√°zce tedy chyb√≠ 20 % dat a to nen√≠ m√°lo!

<br>

### Co s chybƒõj√≠c√≠mi hodnotami

---

Je d≈Øle≈æit√© vƒõdƒõt, proƒç m√°≈° takov√© mno≈æstv√≠ chybƒõj√≠c√≠ch hodnot.

Chyb√≠ ti data, proto≈æe neexistuj√≠, nebo proto≈æe nejsou souƒç√°st√≠ z√°znam≈Ø v datasetu.

V takov√Ωch kroc√≠ch je obvykle nutn√©, pochopit podstatu √∫daj≈Ø (dokumentace, specifikace,..).

Nejjednodu≈°≈°√≠ zp≈Øsoby, jak s chybƒõj√≠c√≠mi daty nalo≈æit (ale ne efektivn√≠!!):
1. Zahodit chybƒõj√≠c√≠ hodnoty,
2. doplnit chybƒõj√≠c√≠ hodnoty.

#### Zahodit chybƒõj√≠c√≠ hodnoty

In [130]:
df_uzivatele.dropna()

  Name   Age  Height_cm  Weight_kg
1  Bob  20.0      170.0         65
4  Eve  23.0      165.0         55

<br>

V tento okam≈æik si zahod√≠≈° v≈°echny z√°znamy, kter√© **postr√°daly nƒõjakou hodnotu**.

Nƒõkdy je jednodu≈°≈°√≠ zahodit sloupeƒçek, kter√Ω m√° chybƒõj√≠c√≠ hodnotu:

In [131]:
df_uzivatele.dropna(axis=1)

      Name  Weight_kg
0    Alice         50
1      Bob         65
2  Charlie         70
3    David         80
4      Eve         55

#### Doplnit automaticky hodnoty

In [ ]:
df_uzivatele.fillna(0)

<br>

Pomoc√≠ funkce `fillna` m≈Ø≈æe≈° vyplnit m√≠sto chybƒõj√≠c√≠ch hodnot p≈ôeddefinovanou vlastn√≠ hodnotu.

Nebo pomoc√≠ argumentu pro `method` pracovat s elegantnƒõj≈°√≠m zad√°n√≠m.

Nahradit chybƒõj√≠c√≠ hodnoty hodnotou, kter√° n√°sleduje bezprost≈ôednƒõ za n√≠ ve stejn√©m sloupci (To m√° velk√Ω smysl u soubor≈Ø dat, kde maj√≠ pozorov√°n√≠ nƒõjak√© logick√© po≈ôad√≠.)

In [144]:
df_uzivatele.fillna(method='bfill', axis=0).fillna(0)

      Name   Age  Height_cm  Weight_kg
0    Alice  20.0      160.0         50
1      Bob  20.0      170.0         65
2  Charlie  22.0      175.0         70
3    David  22.0      165.0         80
4      Eve  23.0      165.0         55

## Encoding

---

Probl√©my s k√≥dov√°n√≠m jsou bƒõ≈æn√©.

Jde o proces, kter√Ω mapuje bajtov√© stringy (0110101011) na u≈æivatelsky ƒçiteln√Ω text ("ahoj!").

Tento probl√©m nastane, pokud se sna≈æ√≠≈° naƒç√≠st zdroj v jin√© k√≥dovac√≠ sadƒõ, ne≈æ byl soubor zapsan√Ω.

<br>

Proto≈æe je tƒõchto sad hodnƒõ, obƒças skonƒç√≠≈° s escapovan√Ωmi znaky, nebo s nezn√°m√Ωmi kliky-h√°ky:

In [ ]:
√¶‚Äì‚Ä°√•

<br>

P≈ô√≠padnƒõ pokud nelze domapovat znaky:

ÔøΩÔøΩ

<br>

V Pythonu 2 nebylo lehk√© encoding zajistit.

V Pythonu 3 je cel√Ω proces o dost jednodu≈°≈°√≠.

Standardem pro pr√°ci b√Ωv√° obyƒçejnƒõ UTF-8. Na to ale zrovna v na≈°ich konƒçin√°ch nem≈Ø≈æe≈° spol√©hat.

In [1]:
veta = "Matou≈° zaplatil 100 $"

In [2]:
veta?

Type:        str
String form: Matou≈° zaplatil 100 $
Length:      21
Docstring:
str(object='') -> str
str(bytes_or_buffer[, encoding[, errors]]) -> str

Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).
encoding defaults to sys.getdefaultencoding().
errors defaults to 'strict'.

<br>

√ödaj, kter√Ω vid√≠≈° v√Ω≈° je datov√Ω typ `str`.

In [3]:
prevedena_veta = veta.encode("utf-8", errors="replace")

In [4]:
prevedena_veta?

Type:        bytes
String form: b'Matou\xc5\xa1 zaplatil 100 $'
Length:      22
Docstring:
bytes(iterable_of_ints) -> bytes
bytes(string, encoding[, errors]) -> bytes
bytes(bytes_or_buffer) -> immutable copy of bytes_or_buffer
bytes(int) -> bytes object of size given by the parameter initialized with null bytes
bytes() -> empty bytes object

Construct an immutable array of bytes from:
  - an iterable yielding integers in range(256)
  - a text string encoded using the specified encoding
  - any object implementing the buffer API.
  - an integer

<br>

D√°l je mo≈æn√©, p≈ôev√©st `str` na `bytes`. Tedy sekvenci ƒç√≠sel.

Jak ale teƒè tato sekvence vypad√°:

In [6]:
prevedena_veta

b'Matou\xc5\xa1 zaplatil 100 $'

<br>

Celou vƒõtu m≈Ø≈æe≈° zp√°tky k√≥dovat pomoc√≠ funkce `decode` z `bytes` na `str`:

In [8]:
print(prevedena_veta.decode("utf-8"))

Matou≈° zaplatil 100 $

<br>

Pokud ale zvol√≠≈° jinou sadu, nemus√≠≈° dostat stejn√© hodnoty:

In [10]:
print(prevedena_veta.decode("windows-1250"))

MatouƒπÀá zaplatil 100 $

In [13]:
print(prevedena_veta.decode("ascii"))

UnicodeDecodeError: 'ascii' codec can't decode byte 0xc5 in position 5: ordinal not in range(128)

<br>

Toto a dal≈°√≠ ne√∫spƒõ≈°n√© postupy je samoz≈ôejmƒõ ≈°patnƒõ a ty se tomu chce≈° urƒçitƒõ vyhnout.

In [11]:
from pandas import read_csv

In [20]:
chybna_sada = read_csv("neznamy_vzorek.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x99 in position 7955: invalid start byte

<br>

Ne v≈ædy je mo≈æn√©, defaultnƒõ pracovat se znakovou sadou UTF-8.

Ve v√Ωstupu je vidƒõt, ≈æe jde o smƒõs nƒõkolika sad a ty mus√≠≈° vyzkou≈°et, jak√° bude fungovat.

In [14]:
import sys

In [15]:
sys.getdefaultencoding()

'utf-8'

In [41]:
!pip install chardet

Collecting chardet
  Downloading chardet-5.1.0-py3-none-any.whl (199 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 199 kB 1.8 MB/s eta 0:00:01
Installing collected packages: chardet
Successfully installed chardet-5.1.0

In [42]:
from chardet.universaldetector import UniversalDetector

In [43]:
detector = UniversalDetector()

In [45]:
for line in open("neznamy_vzorek.csv", 'rb'):
    detector.feed(line)
    if detector.done:
        break

detector.close()
print(detector.result)

{'encoding': 'Windows-1252', 'confidence': 0.7299788775910958, 'language': ''}

<br>

Pomoc√≠ knihovny `chardet` / `charset_normalizer` identifikuje≈°, o jak√© znakov√© sady jde:

Nyn√≠ m√°≈° lep≈°√≠ p≈ôedstavu o tom, jakou znakovou sadu soubor pou≈æ√≠v√°.

Opatrnƒõ na d√©lku `str`, kter√Ω detekuje≈°.

Pokud je p≈ô√≠li≈° kr√°tk√Ω, m≈Ø≈æe to ovlivnit v√Ωsledek.

Naopak pokud je p≈ô√≠li≈° dlouh√Ω, m≈Ø≈æe trvat jeho naƒçten√≠.

In [46]:
spravna_sada = read_csv("neznamy_vzorek.csv", encoding="Windows-1252")

/tmp/ipykernel_7941/3584548271.py:1: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  spravna_sada = read_csv("neznamy_vzorek.csv", encoding="Windows-1252")

In [47]:
spravna_sada.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN

In [48]:
spravna_sada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323750 entries, 0 to 323749
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              323750 non-null  int64
 1   name            323746 non-null  object
 2   category        323745 non-null  object
 3   main_category   323750 non-null  object
 4   currency        323750 non-null  object
 5   deadline        323750 non-null  object
 6   goal            323750 non-null  object
 7   launched        323750 non-null  object
 8   pledged         323750 non-null  object
 9   state           323750 non-null  object
 10  backers         323750 non-null  object
 11  country         323750 non-null  object
 12  usd pledged     319960 non-null  object
 13  Unnamed: 13     625 non-null     object
 14  Unnamed: 14     12 non-null      object
 15  Unnamed: 15     4 non-null       object
 16  Unnamed: 16     1 non-null       float64
dtypes: float64(1), int64(1), object(15)
memory usage: 42.0+ MB

<br>

Tentokr√°t soubor otev≈ôe≈° pouze s varov√°n√≠m.

Pro p≈ô√≠≈°tƒõ je urƒçitƒõ v√Ωhodou vytvo≈ôit kopii takov√©ho souboru, kterou ulo≈æ√≠≈° v ide√°ln√≠m k√≥dov√°n√≠:

In [49]:
spravna_sada.to_csv("kopie_sada_utf8.csv", encoding="utf-8")

In [51]:
pokus = read_csv("vzorek_2.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 5: invalid continuation byte

In [50]:
for line in open("vzorek_2.csv", 'rb'):
    detector.feed(line)
    if detector.done:
        break

detector.close()
print(detector.result)

{'encoding': 'Windows-1252', 'confidence': 0.7299788775910958, 'language': ''}

In [58]:
pokus_2 = read_csv("vzorek_2.csv", encoding="Windows-1252", delimiter=";")

In [60]:
pokus_2.head(6)

         ID   Jmeno Prijmeni  Vek
0  123124.0  Matou≈°    Polek   24
1  123125.0   Marek    Lolek   33
2  123126.0    Petr    Dolek   90
3  123127.0   Filip   Vdolek   11
4  123128.0  Marcel   Trolek   27
5  123129.0   Luk√°≈°    Colek   17

<br>

## Nekonzistentn√≠ data

---

Pokud ti data nechyb√≠, je≈°tƒõ neznamen√°, ≈æe mus√≠ b√Ωt nutnƒõ v po≈ô√°dku:

In [64]:
from pandas import DataFrame

In [69]:
chybny_dataset = {
    "id": [111, 112, 113, 114, 115, 116],
    "jmeno": ["Matous", "Marek", "Petr", "Filip", "Jan", "Lukas"],
    "vek": [22, 29, 31, 55, 43, 61],
    "zeme": ["Ceska republika", "Slovensko", "Nemecko", "Ceskarepublika", "Ceska republika", "Rakouskou"]
}

In [70]:
df_zamestnanci = DataFrame(chybny_dataset)

In [71]:
df_zamestnanci.head()

    id   jmeno  vek             zeme
0  111  Matous   22  Ceska republika
1  112   Marek   29        Slovensko
2  113    Petr   31          Nemecko
3  114   Filip   55   Ceskarepublika
4  115     Jan   43  Ceska republika

R≈Øzn√© zdroje, spr√°vci m≈Ø≈æou zp≈Øsobit nejednotn√Ω z√°pis a dopustit se *nekonzistence*.

In [68]:
df_zamestnanci["zeme"].unique()

array(['Ceska republika', 'Slovensko', 'Nemecko', 'ceskarepublika',
       'Rakouskou'], dtype=object)

<br>

To m≈Ø≈æou b√Ωt jak mal√° velk√° p√≠smena, tak r≈Øzn√© znaky, chybƒõj√≠c√≠ mezery apod.

Odstranit je nen√≠ n√°roƒçn√©.

N√°roƒçn√© m≈Ø≈æe b√Ωt opƒõt rozpozn√°n√≠, takov√© komplikace.

In [72]:
df_zamestnanci["zeme"].str.lower()

0    ceska republika
1          slovensko
2            nemecko
3     ceskarepublika
4    ceska republika
5          rakouskou
Name: zeme, dtype: object

<br>

Nƒõkter√© chyby, ale m≈Ø≈æou zp≈Øsobit paseku. T≈ôeba chybƒõj√≠c√≠ mezery.

Tady je nejlep≈°√≠, pomoci si vhodn√Ωm n√°strojem `fuzzywuzzy`.

In [73]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [77]:
import fuzzywuzzy
from fuzzywuzzy import process

/home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

Pro men≈°√≠ datasety s chybƒõj√≠c√≠mi mezerami aj., m≈Ø≈æe tato knihovna pracovat prakticky sama.

√öƒçel t√©to knihovny je rozpoznat podobn√© ≈ôetƒõzce, jak√©

In [78]:
shodne = fuzzywuzzy.process.extract(
    "Ceska republika",
    df_zamestnanci["zeme"],
    limit=5,
    scorer=fuzzywuzzy.fuzz.token_sort_ratio
)

In [79]:
shodne

[('Ceska republika', 100, 0),
 ('Ceska republika', 100, 4),
 ('Ceskarepublika', 97, 3),
 ('Slovensko', 25, 1),
 ('Rakouskou', 25, 5)]

Nyn√≠ m≈Ø≈æe≈° vidƒõt shodn√© `str` se zvolen√Ωm zad√°n√≠m, jak to vid√≠ `fuzzywuzzy`.

Pro nahrazen√≠ je optim√°ln√≠ nachystat vhodnou u≈æivatelskou funkci:

In [84]:
def nahrad_shody_stringem(dframe, sloupec, vzor, min_shoda=60):
    vsechny_stringy = dframe[sloupec].unique()
    
    shody = fuzzywuzzy.process.extract(vzor, vsechny_stringy, limit=5,
                                       scorer=fuzzywuzzy.fuzz.token_sort_ratio)
    
    nejblizsi_shoda = [shoda [0] for shoda in shody if shoda[1] >= min_shoda]
    
    shodujici_zaznam = dframe[sloupec].isin(nejblizsi_shoda)
    dframe.loc[shodujici_zaznam, sloupec] = vzor

In [85]:
nahrad_shody_stringem(dframe=df_zamestnanci, sloupec="zeme", vzor="Ceska republika")

In [86]:
df_zamestnanci

    id   jmeno  vek             zeme
0  111  Matous   22  Ceska republika
1  112   Marek   29        Slovensko
2  113    Petr   31          Nemecko
3  114   Filip   55  Ceska republika
4  115     Jan   43  Ceska republika
5  116   Lukas   61        Rakouskou

<br>

**üß† CVIƒåEN√ç üß†, procviƒç si pr√°ci s chybn√Ωm datasetem**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:
1. Nahraj soubor do `DataFrame`, jm√©no souboru `cviceni_3.csv` (spr√°vn√Ω encoding, spr√°vn√© rozdƒõlen√≠),
2. projdi sloupce, zkontroluj, kde je probl√©m s daty,
3. vypi≈° v≈°echny z√°znamy, kter√© maj√≠ ve sloupci `mesto` hodnotu `Praha`.

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    df_ukazka = read_csv("cviceni_3.csv", encoding="Windows-1250", delimiter=";")

    def nahrad_shody_stringem(df, vzor, vyber, min_shoda=85):
        shody = fuzzywuzzy.process.extract(vzor, vyber, limit=20,
                                           scorer=fuzzywuzzy.fuzz.token_sort_ratio)

        nejblizsi_shoda = [shoda[0] for shoda in shody if shoda[1] >= min_shoda]

        shodujici_zaznam = vyber.isin(nejblizsi_shoda)
        df.loc[shodujici_zaznam, "mesto"] = vzor
        
    nahrad_shody_stringem(df_ukazka, "Praha", df_ukazka["mesto"])
    vystup = df_ukazka[df_ukazka["mesto"] == "Praha"]
    ```
</details>

---