# Datov√° akademie, ƒåSOB, 2023

---

* [ƒåasov√© ≈ôady](#ƒåasov√©-≈ôady),
    - [√∫vodn√≠ motivace](#√övod),
    - [z√°kladn√≠ objekty](#Z√°kladn√≠-objekty),
    - [indexov√°n√≠ ƒçasov√Ωmi √∫daji](#Indexov√°n√≠-s-ƒçasem),
    - [funkce to_datetime](#Funkce-TO_DATETIME),
    - [funkce date_range](#Funkce-DATE_RANGE),
    - [resampling](#Resampling,-sn√≠≈æen√≠-frekvence),
    - [zp≈ôes≈àov√°n√≠](#Zp≈ôes≈àov√°n√≠-≈ôady),
    - [cviƒçen√≠](#üß†-CVIƒåEN√ç-üß†,-procviƒç-si-ƒçasov√©-≈ôady).
* [V√Ωkonn√© pandy](#V√Ωkonn√Ω-PANDAS),
    - [funkce eval](#Funkce-EVAL),
    - [v√Ωhody eval](#V√Ωkon-EVAL),
    - [funkce query](#Funkce-QUERY),
    - [souhrn k eval a query](#Souhrn-k-EVAL-a-QUERY),
    - [cviƒçen√≠](#üß†-CVIƒåEN√ç-üß†,-procviƒç-si-funkce-EVAL-a-QUERY).
* [Skuteƒçn√© hodnoty](#Skuteƒçn√©-datov√©-sety),
    - [chybƒõj√≠c√≠ √∫daje](#Kolik-mi-chyb√≠-√∫daj≈Ø),
    - [encoding](#Encoding),
    - [nekonzistentn√≠ data](#Nekonzistentn√≠-data),
    - [cviƒçen√≠](#üß†-CVIƒåEN√ç-üß†,-procviƒç-si-pr√°ci-s-chybn√Ωm-datasetem).

<br>

## ƒåasov√© ≈ôady

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.odqbr-09dxxBQjF7x7NyBAHaII%26pid%3DApi&f=1&ipt=5b4a03c1dd38b52108237102ebb350595a5d6ea6a50572f5897ca89fbf5b5445&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

### √övod

---

ƒå√°st *frameworku* byla vyvinuta za √∫ƒçelem **finanƒçn√≠ho modelov√°n√≠**.

Proto je v√≠ce ne≈æ dob≈ôe vybavena sadou n√°stroj≈Ø, kter√© um√≠ pracovat **s daty, ƒçasem a ƒçasov√Ωmi objekty**.

<br>

Uplatnƒõn√≠:
* **Anal√Ωza a predikce**: umo≈æ≈àuje analyzovat v√Ωvoj hodnot v ƒçase a p≈ôedpov√≠dat budouc√≠ trendy nebo sez√≥nn√≠ zmƒõny,
* **Efektivn√≠ manipulace s ƒçasem**: zjednodu≈°uje √∫koly, jako je agregace, interpolace nebo ƒçasov√© posuny,
* **Flexibiln√≠ indexace**: podporuje flexibiln√≠ indexaci ƒçasov√Ωch ≈ôad, co≈æ usnad≈àuje filtrov√°n√≠, ≈ôazen√≠ a v√Ωbƒõr dat,
* **Kompatibilita s dal≈°√≠mi knihovnami**: je kompatibiln√≠ s mnoha dal≈°√≠mi knihovnami pro anal√Ωzu ƒçasov√Ωch ≈ôad, jako je `statsmodels` nebo `scikit-learn`.

<br>

#### Pomoc√≠ standardn√≠ho Pythonu

---

Standardn√≠ v√Ωbavou Pythonu jsou knihovny `datetime`:

In [1]:
from datetime import datetime

In [216]:
# help(datetime)

In [3]:
datetime(year=2023, month=4, day=5)

datetime.datetime(2023, 4, 5, 0, 0)

In [4]:
type(datetime(year=2023, month=4, day=5))

datetime.datetime

<br>

Nebo knihovna `dateutil` pro *parsov√°n√≠* datov√Ωch typ≈Ø z r≈Øzn√Ωch **stringov√Ωch zad√°n√≠**:

In [217]:
from dateutil import parser

In [219]:
type(parser)

module

<br>

Funkce `parse` zpracuje (*parsuje*) velk√© mno≈æstv√≠ r≈Øzn√Ωch form√°t≈Ø ƒçasu ve `str`:

In [8]:
date = parser.parse("5th of april, 2023")

In [221]:
type(parser.parse)

function

In [13]:
date.year

2023

<br>

Kde pomoc√≠ metody `strftime` m≈Ø≈æe≈° vypsat den:

In [14]:
date.strftime("%A")

'Wednesday'

In [17]:
date.strftime("%d/%m/%y")

'05/04/23'

<br>

#### Pomoc√≠ NUMPY

---

Nƒõkter√© nedostatky uvnit≈ô knihoven `datetime` a `dateutil` vedli ke vzniku sady n√°stroj≈Ø.

Tyto dopl≈àky vznikly pod hlaviƒçkou knihovny `numpy`.

In [20]:
import numpy
from numpy import array, arange

In [21]:
date = array('2023-04-05', dtype=numpy.datetime64)

In [22]:
date

array('2023-04-05', dtype='datetime64[D]')

<br>

Pokud pot≈ôebuje≈° pole **n√°sleduj√≠c√≠ch 7 dn√≠**:

In [23]:
date + arange(7)

array(['2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
       '2023-04-09', '2023-04-10', '2023-04-11'], dtype='datetime64[D]')

<br>

Vzhledem k jednotn√©mu datovu typu v poli pro **numpy** `datetime64` m≈Ø≈æe tento typ operace
prov√°dƒõt mnohem rychleji.

P≈ô√≠mo v Pythonu pomoc√≠ `datetime` objektu potom roste handicap, kdy≈æ objekty nab√Ωvaj√≠ na velikosti.

<br>

#### Pomoc√≠ PANDAS

---

Jde o kombinace objekt≈Ø z obou p≈ôedchoz√≠ch podkapitol.

Ty d√°vaj√≠ dohromady to nejlep≈°√≠ prost≈ôedky pro zach√°zen√≠ s ƒçasem.

In [24]:
from pandas import to_datetime

In [25]:
date = to_datetime("5th of April, 2023")

In [26]:
date

Timestamp('2023-04-05 00:00:00')

In [28]:
type(date)

pandas._libs.tslibs.timestamps.Timestamp

In [29]:
date.strftime("%A")

'Wednesday'

<br>

### Z√°kladn√≠ objekty

---

V podstatƒõ jde o hlavn√≠ n√°stroj, kter√Ω tato knihovna dovede nab√≠dnout.

Tedy pr√°ce **s univerz√°ln√≠mi datov√Ωmi typy** pro ƒças.

Mezi z√°kladn√≠ objekty pro pr√°ci s ƒçasem pat≈ô√≠:
* `Timestamp`, typ (souvisej√≠c√≠ struktura Indexu `DatetimeIndex`),
* `Period`, typ (.. `PeriodIndex`),
* `Timedelta`, typ (.. `TimedeltaIndex`).

<br>

#### Timestamp

---

Z√°kladn√≠ datov√Ω typ do ƒçasov√Ωch ≈ôad.

P≈ôi≈ôazuje pandas√≠ hodnoty k skuteƒçn√©mu konkr√©tn√≠m ƒçasov√©mu okam≈æiku.

In [30]:
from pandas import Timestamp

In [31]:
Timestamp("2023-05-04")  # str, tuple, datetime.datetime

Timestamp('2023-05-04 00:00:00')

In [32]:
Timestamp(2023, 5, 4)

Timestamp('2023-05-04 00:00:00')

In [34]:
type(Timestamp(2023, 5, 4))

pandas._libs.tslibs.timestamps.Timestamp

<br>

#### Period

---

V mnoha p≈ô√≠padech je v≈°ak p≈ôirozenƒõj≈°√≠ spojit promƒõnn√©, jako je **poƒç√°teƒçn√≠ ƒças** s n√°sledn√Ωm **ƒçasov√Ωm rozpƒõt√≠m**.

`Period` p≈ôedstavuje ƒçasov√Ω interval nebo obdob√≠, kter√© m√° zaƒç√°tek a *frekvenci*.

In [35]:
from pandas import Period

In [36]:
Period("2023-04", freq="D")

Period('2023-04-01', 'D')

In [37]:
type(Period("2023-04", freq="D"))

pandas._libs.tslibs.period.Period

Hlavn√≠m rozd√≠lem pro `Timestamp` a `Period` je v r√°mci jejich zapracov√°n√≠.

`Timestamp` pracuje s konkr√©tn√≠m ƒçasov√Ωm okam≈æikem.

`Period` naopak s ƒçasov√Ωm intervalem.

<br>

#### Timedelta

---

P≈ôedstavuje rozd√≠l mezi dvƒõma datumy nebo ƒçasy.

In [229]:
datum_1 = Timestamp(2023,4,12, 12, 30)

In [230]:
datum_2 = Timestamp(2023,4,10, 12, 0)

In [231]:
datum_1 - datum_2

Timedelta('2 days 00:30:00')

<br>

### Indexov√°n√≠ s ƒçasem

---

Pomoc√≠ objekt≈Ø ƒçasu m≈Ø≈æe≈° vytvo≈ôit samotn√© **Indexy**.

`DatetimeIndex` obsahuje ƒçasov√© znaƒçky (*timestamp*), kter√© jsou ulo≈æeny ve form√°tu `datetime64` s nanosekundovou p≈ôesnost√≠.

Tento objekt umo≈æ≈àuje efektivn√≠ pr√°ci s ƒçasov√Ωmi ≈ôadami a poskytuje mnoho funkc√≠ pro manipulaci s daty a ƒçasy:

In [38]:
from pandas import DatetimeIndex, Series

<br>

Pomocn√Ω objekt typu `list`:

In [39]:
datumy = ["2023-04-05", "2022-04-05", "2021-04-05", "2020-04-05"]

In [40]:
indexy = DatetimeIndex(datumy)

In [41]:
type(indexy)

pandas.core.indexes.datetimes.DatetimeIndex

In [42]:
jmena_dnu = [to_datetime(den).strftime("%A") for den in datumy]

In [43]:
jmena_dnu

['Wednesday', 'Tuesday', 'Monday', 'Sunday']

In [44]:
df_hodnoty = Series(jmena_dnu, index=indexy)

In [45]:
df_hodnoty

2023-04-05    Wednesday
2022-04-05      Tuesday
2021-04-05       Monday
2020-04-05       Sunday
dtype: object

In [46]:
type(df_hodnoty)

pandas.core.series.Series

In [47]:
type(indexy)

pandas.core.indexes.datetimes.DatetimeIndex

In [48]:
df_hodnoty["2020": "2022"]

/tmp/ipykernel_21015/3590313258.py:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  df_hodnoty["2020": "2022"]

2022-04-05    Tuesday
2021-04-05     Monday
2020-04-05     Sunday
dtype: object

In [49]:
df_hodnoty["2020-04-05": "2022-04-05"]

2022-04-05    Tuesday
2021-04-05     Monday
2020-04-05     Sunday
dtype: object

<br>

#### TimedeltaIndex

---

Jde o rozd√≠l v jednotk√°ch ƒçasu.

Nejƒçastƒõji se s t√≠mto objektem setk√°≈°, pokud pot≈ôebuje≈° z√≠skat **rozd√≠l mezi dvƒõma datumy**.

In [96]:
datumy

DatetimeIndex(['2023-04-05', '2023-04-05', '2023-04-05', '2023-05-04',
               '2023-04-05'],
              dtype='datetime64[ns]', freq=None)

In [95]:
specialni_datumy = to_datetime([
    datetime(2022, 4, 5), "5th of April 2021", "2020-Apr-5", "05-04-2019", "20180405"]
)

In [99]:
datumy - specialni_datumy

TimedeltaIndex(['365 days', '730 days', '1095 days', '1461 days', '1826 days'], dtype='timedelta64[ns]', freq=None)

<br>

### Funkce TO_DATETIME

---

Nejƒçastƒõj≈°√≠ datov√© typy, kter√© lze zapsat p≈ô√≠mo, ov≈°em bƒõ≈ænƒõj≈°√≠ je pracovat s funkc√≠ `to_datetime`.

Funkce `to_datetime` um√≠ parsovat r≈Øzn√© stringov√© form√°ty.

In [50]:
from pandas import to_datetime

<br>

#### Pr√°ce s jedn√≠m datumem

---

In [51]:
datum = to_datetime("05/04/2023")  # str, tuple, datetime.datetime

In [52]:
datum

Timestamp('2023-05-04 00:00:00')

In [53]:
type(datum)

pandas._libs.tslibs.timestamps.Timestamp

Pokud do funkce `to_datetime` vlo≈æ√≠≈° jedinou hodnotu, vrac√≠ objekty typu `Timestamp`.

<br>

#### Specifick√Ω form√°t

---

Pokud se parser ve funkci `to_datetime` ztrat√≠ nebo tvoje zad√°n√≠ neodpov√≠d√° jeho vyhotoven√≠, m≈Ø≈æe≈° zadat form√°t explicitnƒõ:

In [232]:
vystup = to_datetime("12-11-2010 01:05")

In [233]:
vystup.day

11

<br>

V uk√°zce v√Ω≈° ale hodnota `11` p≈ôedstavuje mƒõs√≠c, nikoliv den.

In [54]:
vystup = to_datetime("12-11-2010 01:05", format="%d-%m-%Y %H:%M")

In [55]:
vystup.day

12

In [56]:
vystup.month

11

In [57]:
vystup.year

2010

In [58]:
vystup.hour

1

<br>

#### ƒåasov√© z√≥ny

---

Objekt `Timestamp` umo≈æ≈àuje hodnoty ƒçasov√Ωch z√≥n zad√°vat pomoc√≠ metody `tz_localize`:

In [238]:
datum

Timestamp('2023-05-04 00:00:00')

In [240]:
tz_datum = datum.tz_localize("Europe/Prague")

In [241]:
tz_datum.tz

In [246]:
nove_tz_datum = tz_datum.tz_convert("US/Pacific")  # Europe/London

In [247]:
nove_tz_datum

Timestamp('2023-05-03 15:00:00-0700', tz='US/Pacific')

<br>

#### Pr√°ce s nƒõkolika datumy

---

Stejnƒõ jak um√≠ funkce *parsovat* jednu hodnotu, um√≠ zpracovat pole ƒçasov√Ωch string≈Ø:

In [236]:
datumy = to_datetime(
    [datetime(2023, 4, 5), "5th of April 2023", "2023-Apr-5", "04-05-2023", "20230405"]
)

In [237]:
datumy

DatetimeIndex(['2023-04-05', '2023-04-05', '2023-04-05', '2023-04-05',
               '2023-04-05'],
              dtype='datetime64[ns]', freq=None)

In [61]:
type(datumy)

pandas.core.indexes.datetimes.DatetimeIndex

Zat√≠mco pole hodnot s datumy, kter√© funkce `to_datetime` zpracuje, vrac√≠ objekt typu `DatetimeIndex`.

<br>

Objekt `DatetimeIndex` potom m≈Ø≈æe≈° konvertovat na `PeriodIndex` pomoc√≠ *metody* `to_period`:

In [64]:
datumy.to_period?

<br>

Tato metoda je u≈æiteƒçn√°, pokud chcete p≈ôev√©st ƒçasov√© ≈ôady **na urƒçit√© ƒçasov√© obdob√≠**.

Kdy≈æ bude≈° t≈ôeba pot≈ôebovat p≈ôev√©st hodnoty **z denn√≠ch dat na mƒõs√≠ƒçn√≠ data**.

#### Denn√≠ data

In [65]:
datumy.to_period("D")

PeriodIndex(['2023-04-05', '2023-04-05', '2023-04-05', '2023-05-04',
             '2023-04-05'],
            dtype='period[D]')

#### Mƒõs√≠ƒçn√≠ data

In [66]:
datumy.to_period("M")

PeriodIndex(['2023-04', '2023-04', '2023-04', '2023-05', '2023-04'], dtype='period[M]')

<br>

### Funkce DATE_RANGE

---

In [74]:
from pandas import date_range, DataFrame

In [68]:
date_range(start='2023-01-01', periods=10, freq='D')

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [70]:
data = {
    'date': date_range(start='2022-01-01', periods=10, freq='D'),
    'sales': [100, 102, 105, 107, 110, 112, 115, 117, 120, 122]
}

In [71]:
data

{'date': DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
                '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
                '2022-01-09', '2022-01-10'],
               dtype='datetime64[ns]', freq='D'),
 'sales': [100, 102, 105, 107, 110, 112, 115, 117, 120, 122]}

In [75]:
df_data = DataFrame(data)

In [77]:
df_data.head(3)

        date  sales
0 2022-01-01    100
1 2022-01-02    102
2 2022-01-03    105

In [78]:
df_data.set_index('date', inplace=True)

In [79]:
df_data.head(3)

            sales
date
2022-01-01    100
2022-01-02    102
2022-01-03    105

In [80]:
df_period_y = df_data.to_period(freq='Y')

In [81]:
df_period_y

      sales
date
2022    100
2022    102
2022    105
2022    107
2022    110
2022    112
2022    115
2022    117
2022    120
2022    122

<br>

#### Poƒçet period

---

Nachyst√° objekt, kter√Ω vypracuje tolik period, kter√© definuje≈° pomoc√≠ parametru `periods`:

In [82]:
date_range(start='2000-01-01', periods=10, freq='Y')

DatetimeIndex(['2000-12-31', '2001-12-31', '2002-12-31', '2003-12-31',
               '2004-12-31', '2005-12-31', '2006-12-31', '2007-12-31',
               '2008-12-31', '2009-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [100]:
datumy_ind = date_range(start="01-01-1992", periods=8)  # defaultnƒõ denn√≠ frekvence

In [101]:
datumy_ind

DatetimeIndex(['1992-01-01', '1992-01-02', '1992-01-03', '1992-01-04',
               '1992-01-05', '1992-01-06', '1992-01-07', '1992-01-08'],
              dtype='datetime64[ns]', freq='D')

<br>

#### Frekvence

---

In [102]:
datumy_mesicne_ind = date_range("01-01-1992", periods=8, freq="M")

In [103]:
datumy_mesicne_ind

DatetimeIndex(['1992-01-31', '1992-02-29', '1992-03-31', '1992-04-30',
               '1992-05-31', '1992-06-30', '1992-07-31', '1992-08-31'],
              dtype='datetime64[ns]', freq='M')

<br>

#### Hodinov√© periody

---

In [105]:
from pandas import timedelta_range

In [ ]:
hodinove_ind = timedelta_range(0, periods=12, freq="H")

In [ ]:
hodinove_ind

<br>

### Frekvence

ƒåasovou paletou frekvenc√≠, kterou framework `pandas` nab√≠z√≠ je tato tabulka:

| String | Popisek |
| :-: | :- |
| `D` | kalend√°≈ôn√≠ den |
| `W` | t√Ωden |
| `M` | konec mƒõs√≠ce |
| `Q` | konec ƒçtvrtlet√≠ |
| `A` | konec roku |
| `H` | hodiny |
| `T` | minuty |
| `S` | vte≈ôiny |
| `B` | pracovn√≠ den |
| `BM` | konec pracovn√≠·∏ßo mƒõs√≠ce |
| `BQ` | konec pracovn√≠ho ƒçtvrtlet√≠ |

#### Netradiƒçn√≠ frekvence

---

In [108]:
timedelta_range(0, periods=20, freq="1H30T")

TimedeltaIndex(['0 days 00:00:00', '0 days 01:30:00', '0 days 03:00:00',
                '0 days 04:30:00', '0 days 06:00:00', '0 days 07:30:00',
                '0 days 09:00:00', '0 days 10:30:00', '0 days 12:00:00',
                '0 days 13:30:00', '0 days 15:00:00', '0 days 16:30:00',
                '0 days 18:00:00', '0 days 19:30:00', '0 days 21:00:00',
                '0 days 22:30:00', '1 days 00:00:00', '1 days 01:30:00',
                '1 days 03:00:00', '1 days 04:30:00'],
               dtype='timedelta64[ns]', freq='90T')

<br>

### Resampling, sn√≠≈æen√≠ frekvence

---

*Resampling* nebo tak√© *p≈ôevzorkov√°n√≠* je proces, kter√Ω upravuje frekvenci ƒçasov√© ≈ôady.

*Resampling* se obvykle pou≈æ√≠v√° **pro sn√≠≈æen√≠ frekvence** (z hodinov√Ωch dat na denn√≠ data).

*Resampling* zahrnuje *agregaci* dat.

V `pandas` se k tomu pou≈æ√≠v√° metoda `resample`, kter√° m√° jako parametr novou frekvenci, na kterou chcete data p≈ôev√©st:

In [109]:
data = {
    'date': date_range(start='2022-01-01', periods=60, freq='D'),
    'sales': range(60)
}

In [110]:
data

{'date': DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
                '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
                '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
                '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
                '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
                '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
                '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
                '2022-01-29', '2022-01-30', '2022-01-31', '2022-02-01',
                '2022-02-02', '2022-02-03', '2022-02-04', '2022-02-05',
                '2022-02-06', '2022-02-07', '2022-02-08', '2022-02-09',
                '2022-02-10', '2022-02-11', '2022-02-12', '2022-02-13',
                '2022-02-14', '2022-02-15', '2022-02-16', '2022-02-17',
                '2022-02-18', '2022-02-19', '2022-02-20', '2022-02-21',
                '2022-02-22', '2022-02-23', '2022-02-24', '2022-02-25',
                '2022-02-26', '2022-02-27', '2022-02-28', '2022-03-01'],
               dtype='datetime64[ns]', freq='D'),
 'sales': range(0, 60)}

In [111]:
df_data = DataFrame(data)

In [112]:
df_data.set_index('date', inplace=True)

In [113]:
df_data.head()

            sales
date
2022-01-01      0
2022-01-02      1
2022-01-03      2
2022-01-04      3
2022-01-05      4

In [120]:
mesicni_data = df_data.resample('M').sum()

In [121]:
mesicni_data

            sales
date
2022-01-31    465
2022-02-28   1246
2022-03-31     59

<br>

### Zp≈ôes≈àov√°n√≠ ≈ôady

---

Zahrnuje **zv√Ω≈°en√≠ frekvence ƒçasov√Ωch ≈ôad**.

P≈ôiƒçem≈æ se novƒõ vytvo≈ôen√© hodnoty obvykle interpoluj√≠ nebo dopl≈àuj√≠ nƒõjakou konstantou.

V pandas se k zp≈ôes≈àov√°n√≠ pou≈æ√≠v√° metoda `asfreq`, kter√° m√° jako parametr novou frekvenci, na kterou chcete data p≈ôev√©st.

In [122]:
data = {
    'date': date_range(start='2022-01-01', end='2022-03-01', freq='MS'),  # M - konec mƒõs√≠ce
    'sales': [100, 120, 150]
}

In [123]:
df_data = DataFrame(data)

In [124]:
df_data.head()

        date  sales
0 2022-01-01    100
1 2022-02-01    120
2 2022-03-01    150

In [125]:
df_data.set_index('date', inplace=True)

In [126]:
df_data.head()

            sales
date
2022-01-01    100
2022-02-01    120
2022-03-01    150

In [134]:
denni_data = df_data.asfreq('D', method='ffill')

In [135]:
denni_data.head()

            sales
date
2022-01-01    100
2022-01-02    100
2022-01-03    100
2022-01-04    100
2022-01-05    100

Metoda `asfreq` bere jako parametr novou frekvenci, na kterou chceme data p≈ôev√©st.

V p≈ô√≠padƒõ v√Ω≈°e jde o frekvenci `D`, co≈æ znamen√° **denn√≠ data**.

Proto≈æe p≈ôi zp≈ôes≈àov√°n√≠ se **vytvo≈ô√≠ chybƒõj√≠c√≠ hodnoty** (v d≈Øsledku zv√Ω≈°en√≠ frekvence), je pot≈ôeba zvolit metodu pro jejich doplnƒõn√≠.

V√Ω≈° jde o metodu `forward fill` (parametr `method='ffill'`), kter√° kop√≠ruje p≈ôedchoz√≠ hodnotu pro v√Ωpl≈à chybƒõj√≠c√≠ch hodnot.

Dal≈°√≠ mo≈ænost√≠ je pou≈æ√≠t metodu `'back fill'` (parametr `method='bfill'`), kter√° kop√≠ruje n√°sleduj√≠c√≠ hodnotu pro v√Ωpl≈à chybƒõj√≠c√≠ch hodnot.

<br>

##### **üß† CVIƒåEN√ç üß†, procviƒç si ƒçasov√© ≈ôady**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:
1. Celkov√Ω prodej za ka≈æd√Ω mƒõs√≠c.
2. Pr≈Ømƒõrn√Ω prodej za ka≈æd√Ω den v t√Ωdnu.
3. Denn√≠ prodej za posledn√≠ t√Ωden.

In [ ]:
import pandas as pd
import numpy as np

denni_datumy = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
prodeje = np.random.randint(10, 100, size=(len(date_rng),))

data = {
    'datumy': denni_datumy,
    'prodeje': prodeje
}

df_prodeje = pd.DataFrame(data)
df_prodeje.set_index('datumy', inplace=True)

In [139]:
df_prodeje.tail()

            prodeje
datumy
2022-12-27       10
2022-12-28       28
2022-12-29       80
2022-12-30       12
2022-12-31       90

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    mesicni_prodej = df_prodeje.resample('M').sum()

    df_prodeje['weekday'] = df_prodeje.index.weekday
    denni_prumer = df_prodeje.groupby('weekday')['prodeje'].mean()

    prodej_posledni_vikend = df_prodeje.loc['2022-12-25':, 'prodeje']
    ```
</details>

## V√Ωkonn√Ω PANDAS

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.riOR-y2_yu_2cGdEN2e6-wAAAA%26pid%3DApi&f=1&ipt=638c4516d155ff9768066e17887a621cbad0de6bce639a40be98f5dedbce67ac&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

Z p≈ôedchoz√≠ch uk√°zek a popisk≈Ø (seskupov√°n√≠) tedy m≈Ø≈æe≈° ch√°pat, ≈æe skuteƒçn√Ω v√Ωkon *frameworku* tkv√≠ v p≈ôeveden√≠ **z√°kladn√≠ch operac√≠ do jazyka C**.

Tyto abstrakce jsou √∫ƒçinn√© a efektivn√≠ pro mnoho bƒõ≈æn√Ωch p≈ô√≠pad≈Ø pou≈æit√≠.

Vytv√°≈ôej√≠ ale spousty doƒçasn√Ωch objekt≈Ø, co≈æ m≈Ø≈æe zp≈Øsobit nep≈ôimƒõ≈ôenou re≈æii v√Ωpoƒçetn√≠ho ƒçasu a pamƒõti.

<br>

### EVAL a QUERY

---

P≈ô√≠m√Ω p≈ô√≠stup k operac√≠m rychlosti C bez n√°kladn√© alokace `pandas` poskytuje funkce `eval` a `query`.

Ty spoleh√°j√≠ na funkci `numexpr`.

<br>

### Funkce EVAL

---

Dva d≈Øvody, proƒç pou≈æ√≠vat funkci `eval` m√≠sto obyƒçejn√©ho Pythonu:
1. velk√© objekty typu `DataFrame` jsou vyhodnocov√°ny efektivnƒõji,
2. aritmetick√© a logick√© v√Ωrazy projdou nar√°z z√°kladn√≠m enginem (pomoc√≠ `numexpr`).

**Pozor!** Dobr√° obecn√° pom≈Øcka ≈ô√≠k√°, ≈æe nen√≠ nutn√© vyu≈æ√≠vat funkci `eval` pro tabulky, kter√© jsou krat≈°√≠ ne≈æ 10 000 ≈ô√°dk≈Ø.

### Pou≈æit√≠ EVAL

---

Funkce `eval` slou≈æ√≠ k efektivn√≠mu vyhodnocen√≠ **aritmetick√Ωch v√Ωraz≈Ø** na:
* objekty `DataFrame`,
* objekty `Series`.

Jej√≠ nejvƒõt≈°√≠ v√Ωhodou je **rychlost a efektivita**, kter√° spoƒç√≠v√° v minimalizaci pamƒõ≈•ov√© z√°tƒõ≈æe a zrychlen√≠ operac√≠.

Kdy≈æ pracuje≈° **s velk√Ωmi datov√Ωmi sadami**, pamƒõ≈•ov√° z√°tƒõ≈æ a rychlost se st√°vaj√≠ kl√≠ƒçov√Ωmi faktory.

Funkce `eval` optimalizuje v√Ωpoƒçetn√≠ proces t√≠m, ≈æe sni≈æuje mno≈æstv√≠ alokovan√© pamƒõti a zrychluje v√Ωpoƒçetn√≠ operace.

<br>

### Uk√°zka EVAL

---

Pro zadan√Ω *dummy dataset* vytvo≈ô **nov√Ω sloupeƒçek** `sloupec_D`, podle vzoru:
`A + B * C`

In [140]:
import pandas as pd

In [141]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}

In [143]:
df_data = pd.DataFrame(data)

In [144]:
df_data.head()

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [145]:
df_data['sloupec_D'] = df_data['A'] + df_data['B'] * df_data['C']

In [146]:
df_data.head()

   A   B   C  sloupec_D
0  1   6  11         67
1  2   7  12         86
2  3   8  13        107
3  4   9  14        130
4  5  10  15        155

<br>

*Alternativn√≠ zp≈Øsob*, jak prov√©st stejn√Ω v√Ωpoƒçet, pokud m√°≈° dlouhou tabulku nebo sloupeƒçek, je pou≈æit√≠ funkce `eval`:

In [147]:
df_data['sloupecek_D'] = df_data.eval('A + B * C')

In [148]:
df_data.head()

   A   B   C  sloupec_D  sloupecek_D
0  1   6  11         67           67
1  2   7  12         86           86
2  3   8  13        107          107
3  4   9  14        130          130
4  5  10  15        155          155

<br>

Funkce `eval` zpracov√°v√° zadan√Ω `str` podobnƒõ jako built-in funkce `eval`.

Souhrnnƒõ lze ≈ô√≠ci:
* funkci `eval` pou≈æij tehdy, pokud je [dataset dlouh√Ω](https://pandas.pydata.org/pandas-docs/stable/user_guide/enhancingperf.html#pandas-eval-performance),
* ve v≈°ech ostatn√≠ch sc√©n√°≈ô√≠ch, kde nepot≈ôebuje≈° ≈°et≈ôit pamƒõt a ƒças pou≈æij klasickou syntaxi.

### V√Ωkon EVAL

---

In [3]:
import numpy as np
import pandas as pd

In [4]:
pocet_radku, pocet_sloupcu = 1_000_000, 100

In [5]:
rng = np.random.RandomState()

In [6]:
dframe_1, dframe_2, dframe_3, dframe_4 = [DataFrame(rng.rand(pocet_radku, pocet_sloupcu)) for _ in range(4)]

In [7]:
dframe_1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.573963,0.496790,0.844526,0.338041,0.499414,0.164377,0.575126,0.252999,0.850244,0.076448,...,0.454482,0.596613,0.710351,0.146759,0.500802,0.102248,0.582700,0.028887,0.750315,0.733113
1,0.624119,0.327659,0.718025,0.793555,0.499811,0.494495,0.866891,0.992220,0.722946,0.519524,...,0.925290,0.569156,0.153587,0.015681,0.272400,0.865552,0.379229,0.806783,0.934514,0.935086
2,0.033765,0.109566,0.564036,0.904380,0.009347,0.209880,0.446216,0.592211,0.705765,0.285138,...,0.575510,0.434943,0.606159,0.043206,0.485704,0.988841,0.239451,0.893894,0.112089,0.156187
3,0.506136,0.292988,0.012344,0.864872,0.725185,0.070574,0.780162,0.651835,0.302322,0.604492,...,0.415523,0.933595,0.985697,0.501816,0.734839,0.382540,0.312869,0.940625,0.718645,0.122026
4,0.581624,0.769404,0.831302,0.338512,0.997616,0.028020,0.510785,0.999653,0.054756,0.996700,...,0.795238,0.625561,0.761913,0.765882,0.525977,0.148989,0.552476,0.334133,0.895043,0.032326

#### Uk√°zka sƒç√≠t√°n√≠ hodnot tabulek

---

In [2]:
from pandas import DataFrame

In [257]:
df1 = DataFrame({"A": [1, 2], "B": [3, 4]})

In [258]:
df2 = DataFrame({"A": [2, 3], "B": [1, 2]})

In [259]:
df1 + df2

   A  B
0  3  4
1  5  6

In [154]:
%timeit dframe_1 + dframe_2 + dframe_3 + dframe_4

1.41 s ¬± 260 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

In [155]:
%timeit pd.eval("dframe_1 + dframe_2 + dframe_3 + dframe_4")

1.28 s ¬± 37.9 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

In [157]:
# pd.eval?

<br>

### Funkce QUERY

---

Funkce `query` slou≈æ√≠ k efektivn√≠mu **filtrov√°n√≠ ≈ô√°dk≈Ø**.

Filtrov√°n√≠ prob√≠h√° na z√°kladƒõ **zadan√© podm√≠nky**.


Hlavn√≠ v√Ωhodou jsou:
* **snadn√° ƒçitelnost**, umo≈æ≈àuje zapisovat podm√≠nky ve snadno ƒçiteln√© formƒõ, zejm√©na v p≈ô√≠padƒõ slo≈æitƒõj≈°√≠ch dotaz≈Ø,
* **rychlost**, m≈Ø≈æe b√Ωt rychlej≈°√≠ ne≈æ tradiƒçn√≠ metody filtrov√°n√≠,(zejm√©na pro velk√© datov√© sady).

### Uk√°zka QUERY

---

Pro zadan√Ω *dummy dataset* vyfiltruj takov√© z√°znamy, kde:
1. Hodnoty ze sloupce A budou **men≈°√≠ ne≈æ 4**,
2. hodnoty ze sloupce B budou **vƒõt≈°√≠ ne≈æ 6**,
3. hodnoty ze sloupce C budou **vƒõt≈°√≠ ne≈æ 11**.

In [158]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15],
        'D': ["AA", "BB", "CC", "DD", "EE"]
}

In [159]:
df_data = DataFrame(data)

In [160]:
df_data

   A   B   C   D
0  1   6  11  AA
1  2   7  12  BB
2  3   8  13  CC
3  4   9  14  DD
4  5  10  15  EE

In [161]:
df_filtrovane = df_data[(df_data['A'] < 4) & (df_data['B'] > 6) & (df_data['C'] > 11)]  # &, |

In [162]:
df_filtrovane

   A  B   C   D
1  2  7  12  BB
2  3  8  13  CC

Zapisov√°n√≠ pomoc√≠ *boolean indexov√°n√≠* je ov≈°em n√°roƒçn√© jak pro z√°pis, tak pro ƒçten√≠.

<br>

Pomoc√≠ funkce `query`:

In [163]:
df_filtrovane = df_data.query('A < 4 and B > 6 and C > 11')

In [164]:
df_filtrovane

   A  B   C   D
1  2  7  12  BB
2  3  8  13  CC

#### WHERE name LIKE 'CC'

---

In [169]:
df_filtrovane_str = df_data.query(
    "A < 4 and B > 6 and C > 11 and ~D.str.contains('CC')"
)  # LIKE/ NOT LIKE

In [170]:
df_filtrovane_str

   A  B   C   D
1  2  7  12  BB

#### column_a NOT IN []

---

In [ ]:
"A not in [1, 2]"

<br>

### Nedostatky QUERY

---

1. **Omezen√° syntaxe**, m√° omezenƒõj≈°√≠ syntaxi ve srovn√°n√≠ s bƒõ≈æn√Ωm z√°pisem v Pythonu a nemus√≠ podporovat [v≈°echny operace](https://pandas.pydata.org/pandas-docs/stable/user_guide/enhancingperf.html#eval-examples),
2. **N√°zvy sloupc≈Ø**, pokud n√°zvy sloupc≈Ø obsahuj√≠ **mezery nebo znaky**, mus√≠≈° je uv√©st pomoc√≠ backtick≈Ø a pou≈æ√≠t symbol `@` pro reference na promƒõnn√© mimo `DataFrame`.

In [8]:
df_cisla = DataFrame({'Sloupec 1': [1, 2, 3, 4, 5], 'Sloupec 2': [10, 20, 30, 40, 50]})

In [9]:
df_cisla

   Sloupec 1  Sloupec 2
0          1         10
1          2         20
2          3         30
3          4         40
4          5         50

In [174]:
# vystup_1 = df_cisla.query('Sloupec 1 < 3')

In [13]:
limit = 3

In [14]:
vystup_2 = df_cisla.query('`Sloupec 1` < @limit')

In [15]:
vystup_2

   Sloupec 1  Sloupec 2
0          1         10
1          2         20

### Souhrn k EVAL a QUERY

---

Hlavn√≠m √∫ƒçelem tƒõchto funkc√≠ je aplikace na skuteƒçnƒõ **velk√© datov√© sety**.

Rozd√≠ly u drobnƒõj≈°√≠ch dataset≈Ø **jsou ƒçasto minim√°ln√≠**.

Velk√Ω vliv na v√Ωstupn√Ω ƒças dƒõl√° parametr `engine`, kter√Ω se sna≈æ√≠ pracovat s knihovnou `numexpr`.

<br>

#### **üß† CVIƒåEN√ç üß†, procviƒç si funkce EVAL a QUERY**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:
1. Vyber studenty s vƒõkem **mezi 20 a 22 lety (vƒçetnƒõ)** a email, kter√Ω obsahuje string **gmail.com**,
2. vypoƒçtƒõte *BMI* (Body Mass Index) pro ka≈æd√©ho studenta a p≈ôidejte ho do nov√©ho sloupce (vzorec: *v√°ha[kg] / (v√Ω≈°ka[m] * v√Ω≈°ka[m])*)
3. vyberte studenty s BMI vy≈°≈°√≠m ne≈æ 22 a kte≈ô√≠ poch√°z√≠ z mƒõst Brno a Praha.

In [ ]:
uzivatele = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [19, 20, 21, 22, 23],
    'Height_cm': [160, 170, 175, 180, 165],
    'Weight_kg': [50, 65, 70, 80, 55],
    'Email': ["alice@gmail.com", "bob@tech-users.com", "charlie91@mail.com", "david_bB@gmail.com", "eevee@my_domain.net"],
    'Address': [
        "Vrbov√° 215/14, 602 00, Brno, ƒåesk√° republika",
        "Jilmov√° 862, 400 11, √öst√≠ nad Labem, ƒåesk√° republika",
        "Kamenick√° 37/2, 170 00, Praha, ƒåesk√° republika",
        "Podlipn√° 1284/6, 460 01, Liberec, ƒåesk√° republika",
        "Havl√≠ƒçkova 1703, 500 02, Hradec Kr√°lov√©, ƒåesk√° republika"
    ]
}

In [ ]:
df_uzivatele = DataFrame(uzivatele)

In [ ]:
df_uzivatele

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    vyber_uzivatel = df_uzivatele.query("20 <= Age <= 22 and Email.str.contains('gmail.com')")

    df_uzivatele['Height_m'] = df_uzivatele.eval('Height_cm / 100')
    df_uzivatele['BMI'] = df_uzivatele.eval('Weight_kg / (Height_m * Height_m)').round(1)
    
    df_prodeje['weekday'] = df_prodeje.index.weekday
    average_weekday_sales = df_prodeje.groupby('weekday')['prodeje'].mean()
    
    df_uzivatele["City"] = df_uzivatele["Address"].apply(lambda x: x.split(",")[2])
    students_with_high_bmi = df_uzivatele.query('BMI > 22 and City in ["Brno", "Praha"]')
    ```
</details>

<br>

## Skuteƒçn√© datov√© sety

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.JJu86kKRph1LHt5M7agODQHaHa%26pid%3DApi&f=1&ipt=5cfb9e9f7b451b3a4f7a3ebdc4eb99177d477f20f8145cd818cc4966143f8b2b&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

ƒåi≈°tƒõn√≠ dat je proces, kter√Ω pat≈ô√≠ k samotn√© pr√°ci s daty.

Spolu s nƒõkter√Ωmi souvisej√≠c√≠mi √∫kony, pat≈ô√≠ mezi ty v√≠ce frustruj√≠c√≠.

Nesmysln√© datov√© typy, zkomolen√© ƒçasov√© √∫daje, nefunguj√≠c√≠ transformace.

In [177]:
df_uzivatele = DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [None, 20, None, 22, 23],
    'Height_cm': [160, 170, 175, None, 165],
    'Weight_kg': [50, 65, 70, 80, 55]
})

In [178]:
df_uzivatele.head(3)

      Name   Age  Height_cm  Weight_kg
0    Alice   NaN      160.0         50
1      Bob  20.0      170.0         65
2  Charlie   NaN      175.0         70

Ihned po naƒçten√≠ je nejlep≈°√≠ data prozkoumat.

Nejenom datov√© typy ale tak√© m√≠t povƒõdom√≠ **o chybƒõj√≠c√≠ch hodnot√°ch**:

In [179]:
df_uzivatele.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       5 non-null      object
 1   Age        3 non-null      float64
 2   Height_cm  4 non-null      float64
 3   Weight_kg  5 non-null      int64
dtypes: float64(2), int64(1), object(1)
memory usage: 288.0+ bytes

<br>

Pomoc√≠ metody `info` si udƒõl√°≈° aspo≈à povrchn√≠ p≈ôehled o hodnot√°ch, datov√Ωch typech a chybƒõj√≠c√≠ch hodnot√°ch.

<br>

### Kolik mi chyb√≠ √∫daj≈Ø

---

V≈ædycky p≈ôistupuj k dat≈Øm s m√≠rnou skeps√≠.

Ot√°zkou potom nen√≠, *JESTLI* mi chyb√≠ data, ale *KOLIK* dat mi chyb√≠ **a kde**.

In [180]:
chybejici_hodnoty = df_uzivatele.isnull()  # isna()

In [181]:
chybejici_hodnoty

    Name    Age  Height_cm  Weight_kg
0  False   True      False      False
1  False  False      False      False
2  False   True      False      False
3  False  False       True      False
4  False  False      False      False

<br>

Pomoc√≠ metody `isnull` nahrad√≠≈° v≈°echny chybƒõj√≠c√≠ hodnoty v tabulce/sloupc√≠ch pomoc√≠ `True`.

Pokud nechyb√≠, nahrad√≠ s `False`.

In [182]:
type(chybejici_hodnoty)

pandas.core.frame.DataFrame

Takov√Ω v√Ωstup ale nen√≠ zcela reprezentativn√≠.

Proto je pot≈ôeba, seƒç√≠st v≈°echny `True` hodnoty po sloupc√≠ch:

In [183]:
chybejici_hodnoty = df_uzivatele.isnull().sum()

In [184]:
chybejici_hodnoty

Name         0
Age          2
Height_cm    1
Weight_kg    0
dtype: int64

<br>

Opƒõt v jednotk√°ch to nemus√≠ zcela prozrazovat chybovost.

Nejlep≈°√≠m indik√°torem ale b√Ωvaj√≠ procenta z celkov√©ho mno≈æstv√≠ hodnot ve sloupci:

In [185]:
celkem_zaznamu = df_uzivatele.shape[0]  # 0 ... Indexy, 1 ... sloupce

In [186]:
celkem_chybi = chybejici_hodnoty

In [187]:
v_procentech = round(celkem_chybi / celkem_zaznamu * 100, 1)

In [188]:
v_procentech

Name          0.0
Age          40.0
Height_cm    20.0
Weight_kg     0.0
dtype: float64

<br>

p≈ô√≠padnƒõ celkov√© mno≈æstv√≠ z√°znam≈Ø ve v≈°ech sloupc√≠ch:

In [189]:
vsechny_bunky = df_uzivatele.shape[0] * df_uzivatele.shape[1]  # 5 * 4

In [190]:
vsechny_chybejici_hodnoty = chybejici_hodnoty.sum()            # 4

In [191]:
celkem_v_procentech = round(vsechny_chybejici_hodnoty / vsechny_bunky * 100, 1)

In [192]:
celkem_v_procentech

15.0

<br>

V t√©to uk√°zce tedy chyb√≠ 20 % dat a to nen√≠ m√°lo!

<br>

### Co s chybƒõj√≠c√≠mi hodnotami

---

Je d≈Øle≈æit√© vƒõdƒõt, proƒç m√°≈° takov√© mno≈æstv√≠ chybƒõj√≠c√≠ch hodnot.

Chyb√≠ ti data, proto≈æe neexistuj√≠, nebo proto≈æe nejsou souƒç√°st√≠ z√°znam≈Ø v datasetu.

V takov√Ωch kroc√≠ch je obvykle nutn√©, pochopit podstatu √∫daj≈Ø (dokumentace, specifikace,..).

Nejjednodu≈°≈°√≠ zp≈Øsoby, jak s chybƒõj√≠c√≠mi daty nalo≈æit (ale ne efektivn√≠!!):
1. Zahodit chybƒõj√≠c√≠ hodnoty,
2. doplnit chybƒõj√≠c√≠ hodnoty.

#### Zahodit chybƒõj√≠c√≠ hodnoty

In [193]:
df_uzivatele.dropna()  # axis=0

  Name   Age  Height_cm  Weight_kg
1  Bob  20.0      170.0         65
4  Eve  23.0      165.0         55

<br>

V tento okam≈æik si zahod√≠≈° v≈°echny z√°znamy, kter√© **postr√°daly nƒõjakou hodnotu**.

Nƒõkdy je jednodu≈°≈°√≠ zahodit sloupeƒçek, kter√Ω m√° chybƒõj√≠c√≠ hodnotu:

In [194]:
df_uzivatele.dropna(axis=1)

      Name  Weight_kg
0    Alice         50
1      Bob         65
2  Charlie         70
3    David         80
4      Eve         55

#### Doplnit automaticky hodnoty

In [195]:
df_uzivatele.fillna(0)  # replace: "Nan" --> 0

      Name   Age  Height_cm  Weight_kg
0    Alice   0.0      160.0         50
1      Bob  20.0      170.0         65
2  Charlie   0.0      175.0         70
3    David  22.0        0.0         80
4      Eve  23.0      165.0         55

<br>

Pomoc√≠ funkce `fillna` m≈Ø≈æe≈° vyplnit m√≠sto chybƒõj√≠c√≠ch hodnot p≈ôeddefinovanou vlastn√≠ hodnotu.

Nebo pomoc√≠ argumentu pro `method` pracovat s elegantnƒõj≈°√≠m zad√°n√≠m.

Nahradit chybƒõj√≠c√≠ hodnoty hodnotou, kter√° n√°sleduje bezprost≈ôednƒõ za n√≠ ve stejn√©m sloupci (To m√° velk√Ω smysl u soubor≈Ø dat, kde maj√≠ pozorov√°n√≠ nƒõjak√© logick√© po≈ôad√≠.)

In [196]:
df_uzivatele.fillna(method='bfill', axis=0)

      Name   Age  Height_cm  Weight_kg
0    Alice  20.0      160.0         50
1      Bob  20.0      170.0         65
2  Charlie  22.0      175.0         70
3    David  22.0      165.0         80
4      Eve  23.0      165.0         55

## Encoding

---

Probl√©my s k√≥dov√°n√≠m jsou bƒõ≈æn√©.

Jde o proces, kter√Ω mapuje bajtov√© stringy (`0110101011`) na u≈æivatelsky ƒçiteln√Ω text (`"ahoj!"`).

Tento probl√©m nastane, pokud se sna≈æ√≠≈° naƒç√≠st zdroj v jin√© k√≥dovac√≠ sadƒõ, ne≈æ byl soubor zapsan√Ω.

<br>

Proto≈æe je tƒõchto sad hodnƒõ, obƒças skonƒç√≠≈° s escapovan√Ωmi znaky, nebo s nezn√°m√Ωmi kliky-h√°ky:

In [ ]:
√¶‚Äì‚Ä°√•

<br>

P≈ô√≠padnƒõ pokud nelze domapovat znaky:

ÔøΩÔøΩ

<br>

V Pythonu 2 nebylo lehk√© encoding zajistit.

V Pythonu 3 je cel√Ω proces o dost jednodu≈°≈°√≠.

Standardem pro pr√°ci b√Ωv√° obyƒçejnƒõ UTF-8. Na to ale zrovna v na≈°ich konƒçin√°ch nem≈Ø≈æe≈° spol√©hat.

In [197]:
veta = "Matou≈° zaplatil 100 $"

In [199]:
# veta?

<br>

√ödaj, kter√Ω vid√≠≈° v√Ω≈° je datov√Ω typ `str`.

In [200]:
prevedena_veta = veta.encode("utf-8", errors="replace")

In [201]:
prevedena_veta

b'Matou\xc5\xa1 zaplatil 100 $'

In [ ]:
prevedena_veta?

<br>

D√°l je mo≈æn√©, p≈ôev√©st `str` na `bytes`. Tedy sekvenci ƒç√≠sel.

Jak ale teƒè tato sekvence vypad√°:

In [ ]:
prevedena_veta

<br>

Celou vƒõtu m≈Ø≈æe≈° zp√°tky k√≥dovat pomoc√≠ funkce `decode` z `bytes` na `str`:

In [202]:
print(prevedena_veta.decode("utf-8"))

Matou≈° zaplatil 100 $

<br>

Pokud ale zvol√≠≈° jinou sadu, nemus√≠≈° dostat stejn√© hodnoty:

In [203]:
print(prevedena_veta.decode("windows-1250"))

MatouƒπÀá zaplatil 100 $

In [204]:
print(prevedena_veta.decode("ascii"))

UnicodeDecodeError: 'ascii' codec can't decode byte 0xc5 in position 5: ordinal not in range(128)

<br>

Toto a dal≈°√≠ ne√∫spƒõ≈°n√© postupy je samoz≈ôejmƒõ ≈°patnƒõ a ty se tomu chce≈° urƒçitƒõ vyhnout.

In [205]:
from pandas import read_csv

In [207]:
# chybna_sada = read_csv("neznamy_vzorek.csv")

<br>

Ne v≈ædy je mo≈æn√©, defaultnƒõ pracovat se znakovou sadou **UTF-8**.

Ve v√Ωstupu je vidƒõt, ≈æe jde o smƒõs nƒõkolika sad a ty mus√≠≈° vyzkou≈°et, jak√° bude fungovat.

In [208]:
import sys

In [209]:
sys.getdefaultencoding()

'utf-8'

In [ ]:
!pip install chardet

In [210]:
from chardet.universaldetector import UniversalDetector

In [211]:
detector = UniversalDetector()

In [212]:
for line in open("neznamy_vzorek.csv", 'rb'):
    detector.feed(line)
    if detector.done:
        break

detector.close()
print(detector.result)

{'encoding': 'Windows-1252', 'confidence': 0.7299788775910958, 'language': ''}

<br>

Pomoc√≠ knihovny `chardet` / `charset_normalizer` identifikuje≈°, o jak√© znakov√© sady jde:

Nyn√≠ m√°≈° lep≈°√≠ p≈ôedstavu o tom, jakou znakovou sadu soubor pou≈æ√≠v√°.

Opatrnƒõ na d√©lku `str`, kter√Ω detekuje≈°.

Pokud je p≈ô√≠li≈° kr√°tk√Ω, m≈Ø≈æe to ovlivnit v√Ωsledek.

Naopak pokud je p≈ô√≠li≈° dlouh√Ω, m≈Ø≈æe trvat jeho naƒçten√≠.

In [213]:
spravna_sada = read_csv("neznamy_vzorek.csv", encoding="Windows-1252")

/tmp/ipykernel_21015/3584548271.py:1: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  spravna_sada = read_csv("neznamy_vzorek.csv", encoding="Windows-1252")

In [214]:
spravna_sada.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN

In [ ]:
spravna_sada.info()

<br>

Tentokr√°t soubor otev≈ôe≈° pouze s varov√°n√≠m.

Pro p≈ô√≠≈°tƒõ je urƒçitƒõ v√Ωhodou vytvo≈ôit kopii takov√©ho souboru, kterou ulo≈æ√≠≈° v ide√°ln√≠m k√≥dov√°n√≠:

##### spravna_sada.to_csv("kopie_sada_utf8.csv", encoding="utf-8")

In [ ]:
pokus = read_csv("vzorek_2.csv")

In [ ]:
for line in open("vzorek_2.csv", 'rb'):
    detector.feed(line)
    if detector.done:
        break

detector.close()
print(detector.result)

In [ ]:
pokus_2 = read_csv("vzorek_2.csv", encoding="Windows-1252", delimiter=";")

In [ ]:
pokus_2.head(6)

<br>

## Nekonzistentn√≠ data

---

Pokud ti data nechyb√≠, je≈°tƒõ neznamen√°, ≈æe mus√≠ b√Ωt nutnƒõ v po≈ô√°dku:

In [ ]:
from pandas import DataFrame

In [ ]:
chybny_dataset = {
    "id": [111, 112, 113, 114, 115, 116],
    "jmeno": ["Matous", "Marek", "Petr", "Filip", "Jan", "Lukas"],
    "vek": [22, 29, 31, 55, 43, 61],
    "zeme": ["Ceska republika", "Slovensko", "Nemecko", "Ceskarepublika", "Ceska republika", "Rakouskou"]
}

In [ ]:
df_zamestnanci = DataFrame(chybny_dataset)

In [ ]:
df_zamestnanci.head()

R≈Øzn√© zdroje, spr√°vci m≈Ø≈æou zp≈Øsobit nejednotn√Ω z√°pis a dopustit se *nekonzistence*.

In [ ]:
df_zamestnanci["zeme"].unique()

<br>

To m≈Ø≈æou b√Ωt jak mal√° velk√° p√≠smena, tak r≈Øzn√© znaky, chybƒõj√≠c√≠ mezery apod.

Odstranit je nen√≠ n√°roƒçn√©.

N√°roƒçn√© m≈Ø≈æe b√Ωt opƒõt rozpozn√°n√≠, takov√© komplikace.

In [ ]:
df_zamestnanci["zeme"].str.lower()

<br>

Nƒõkter√© chyby, ale m≈Ø≈æou zp≈Øsobit paseku. T≈ôeba chybƒõj√≠c√≠ mezery.

Tady je nejlep≈°√≠, pomoci si vhodn√Ωm n√°strojem `fuzzywuzzy`.

In [ ]:
!pip install fuzzywuzzy

In [ ]:
import fuzzywuzzy
from fuzzywuzzy import process

Pro men≈°√≠ datasety s chybƒõj√≠c√≠mi mezerami aj., m≈Ø≈æe tato knihovna pracovat prakticky sama.

√öƒçel t√©to knihovny je rozpoznat podobn√© ≈ôetƒõzce, jak√©

In [ ]:
shodne = fuzzywuzzy.process.extract(
    "Ceska republika",
    df_zamestnanci["zeme"],
    limit=5,
    scorer=fuzzywuzzy.fuzz.token_sort_ratio
)

In [ ]:
shodne

Nyn√≠ m≈Ø≈æe≈° vidƒõt shodn√© `str` se zvolen√Ωm zad√°n√≠m, jak to vid√≠ `fuzzywuzzy`.

Pro nahrazen√≠ je optim√°ln√≠ nachystat vhodnou u≈æivatelskou funkci:

In [ ]:
def nahrad_shody_stringem(dframe, sloupec, vzor, min_shoda=60):
    vsechny_stringy = dframe[sloupec].unique()
    
    shody = fuzzywuzzy.process.extract(vzor, vsechny_stringy, limit=5,
                                       scorer=fuzzywuzzy.fuzz.token_sort_ratio)
    
    nejblizsi_shoda = [shoda [0] for shoda in shody if shoda[1] >= min_shoda]
    
    shodujici_zaznam = dframe[sloupec].isin(nejblizsi_shoda)
    dframe.loc[shodujici_zaznam, sloupec] = vzor

In [ ]:
nahrad_shody_stringem(dframe=df_zamestnanci, sloupec="zeme", vzor="Ceska republika")

In [ ]:
df_zamestnanci

<br>

#### **üß† CVIƒåEN√ç üß†, procviƒç si pr√°ci s chybn√Ωm datasetem**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:
1. Nahraj soubor do `DataFrame`, jm√©no souboru `cviceni_3.csv` (spr√°vn√Ω encoding, spr√°vn√© rozdƒõlen√≠),
2. projdi sloupce, zkontroluj, kde je probl√©m s daty,
3. vypi≈° v≈°echny z√°znamy, kter√© maj√≠ ve sloupci `mesto` hodnotu `Praha`.

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    df_ukazka = read_csv("cviceni_3.csv", encoding="Windows-1250", delimiter=";")

    def nahrad_shody_stringem(df, vzor, vyber, min_shoda=85):
        shody = fuzzywuzzy.process.extract(vzor, vyber, limit=20,
                                           scorer=fuzzywuzzy.fuzz.token_sort_ratio)

        nejblizsi_shoda = [shoda[0] for shoda in shody if shoda[1] >= min_shoda]

        shodujici_zaznam = vyber.isin(nejblizsi_shoda)
        df.loc[shodujici_zaznam, "mesto"] = vzor
        
    nahrad_shody_stringem(df_ukazka, "Praha", df_ukazka["mesto"])
    vystup = df_ukazka[df_ukazka["mesto"] == "Praha"]
    ```
</details>

---