### t≈ôet√≠ lekce

2. `pandas` I.,
    - √övod do frameworku, proƒç je dobr√© jej ovl√°dat, kde s n√≠m pracovat?
    - jak√© jsou z√°kladn√≠ datov√© typy? (Dframe, series, ƒçasov√© ≈ôady)
    - z√°kladn√≠ orientace, indexov√°n√≠,

## Druh√° lekce, kaggle
* reading and writting DFs,
* indexing, selecting rows & columns, conditional selection,
* functions, map and lambdas,
* groupby, multiindex, sorting values,
* data types or Dtypes, convert data types,
* missing values, fillna, replace,
* rename, merge, join, concat.
* missing data points, the reason why are the data missing, drop missing values, filling missing vals,
* scaling: changing the range, normalization: changing shape,
* parsing dates, selecting days,
* encoding: what are encodings, encode, decode, identifying and saving examples,
* inconsistency: fuzzywuzzy

## Druh√° lekce, kniha
* pandas objects: DFs, Series, Index,
* indexing and selection: series, DFs,
* operating: w/ numpy (hard to implement without numpy),
* handling missing data: Nan and None in pandas,detecting, droping, filling null values,
* indexing: single index, multiple indexes(bad and good example), indexing and slicing multiindex,
* concat, append, merge, join,
* agregation: count, first, last, mean, median, min, max,
* groupBy: split, apply, combine,
* pivot table, methods similar to python methods, regex finding,slice & other miscellaneous methods,
* Time series, to_datetime, data structures of time series, date_range, period_range, timedelta_range,
* frenquencies & offsets, resampling, time shifting,
* eval and query, comparing eval and without eval,

## Druh√° lekce, Honza
* manipulace, √∫vod, instalace,
* DataFrame,
* Series,
* Naƒç√≠t√°n√≠ dat,
* selekce dat,
* indexov√°n√≠, loc a iloc,
* p≈ôejmenov√°n√≠, p≈ôid√°v√°n√≠, odstra≈àov√°n√≠ sloupc≈Ø,
* Nan, null, nahrazov√°n√≠,
* concat, merge, drop_duplicates, sort_values,
* unique, apply,
* kopie a pr√°ce s kopiemi,
* statistika,
* ƒçten√≠ dat online,

* [Spojov√°n√≠ dat](#Spojov√°n√≠-dat),
    - [spojov√°n√≠ s concat](#Spojov√°n√≠-s-concat),
    - [spojov√°n√≠ s concat a arg. join](#concat-a-voliteln√Ω-argument-join),
    - [spojov√°n√≠ s metodou append](#Spojov√°n√≠-pomoc√≠-metody-append),
    - [spojov√°n√≠ s merge](#Spojov√°n√≠-pomoc√≠-merge),
    - [spojov√°n√≠ s metodou join](#Spojen√≠-pomoc√≠-index≈Ø,-join),
    - [cviƒçen√≠ 1]().
* [Agregace](),
    - [jednoduch√° agregace](),
    - [seskupov√°n√≠ groupby](),
    - [agregace](),
    - [filtrov√°n√≠](),
    - [transformace](),
    - [apply](),
    - [cviƒçen√≠ 2]().
* [Pivot tabulka](),
    - [√∫vodn√≠ motivace](),
    - [syntaxe tabulky](),
    - [dopl≈àuj√≠c√≠ mo≈ænosti](),
    - [cviƒçen√≠ 3]().
* [ƒåasov√© ≈ôady](),
    - [√∫vodn√≠ motivace](),
    - [datum & ƒças](),
    - [ƒçetnosti](),
    - [resampling](),
    - [cviƒçen√≠ 4]().
* [High performance](),
    - [√∫vodn√≠ motivace](),
    - [eval](),
    - [query](),
    - [caveats]().

<br>

## Spojov√°n√≠ dat

---


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.APOjuHGvkM0wQaUx9ELKAgHaHa%26pid%3DApi&f=1&ipt=a8b2b692c40e190d4b28c164bf13e6c944702a69944035a4ef9053aa6ea1b190&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

Takov√Ωmi operacemi si m≈Ø≈æe≈° p≈ôedstavit jednoduch√© operace jako **spojov√°n√≠** (*konkatenace*) **dvou a v√≠ce dataset≈Ø** a≈æ po slo≈æitƒõj≈°√≠ joiny podobnƒõ jako u datab√°z√≠.

`pandas` obsahuje r≈Øzn√© *funkce* a *metody*, kter√© umo≈æ≈àuj√≠ tento zp≈Øsob pr√°ce.

### Spojov√°n√≠ s `concat`

---

Funkce concat() v pandas umo≈æ≈àuje spojit dva nebo v√≠ce:
1. sloupeƒçk≈Ø,
2. tabulek.

*Spojen√≠* m≈Ø≈æe≈° prov√©st:
1. **horizont√°lnƒõ**, po sloupc√≠ch,
2. **vertik√°lnƒõ**, po ≈ô√°dc√≠ch.

Pou≈æit√≠ funkce `concat()` spoƒç√≠v√° v p≈ôed√°n√≠ seznamu objekt≈Ø, kter√© chce≈° spojit, a parametru `axis`, kter√Ω urƒçuje osu, podle kter√© se m√°j√≠ objekty spojit:

#### Spojen√≠ sloupeƒçk≈Ø

In [ ]:
from pandas import concat, Series, DataFrame

In [ ]:
sloupec_1 = Series(['A', 'B', 'C'], index=[1, 2, 3])
sloupec_2 = Series(['D', 'E', 'F'], index=[4, 5, 6])

In [ ]:
spojene_sloupce = concat([sloupec_1, sloupec_2])

In [ ]:
spojene_sloupce

#### Spojen√≠ tabulek

In [ ]:
uzivatele_1 = {
    'jmeno': ['Matou≈°', 'Marek', 'Luk√°≈°'],
    'vek': [25, 30, 35]
}

In [ ]:
uzivatele_2 = {
    'jmeno': ['Petr', 'Jan', 'Michal'],
    'vek': [40, 45, 50]
}

In [ ]:
df_uzivatele_1 = DataFrame(uzivatele_1)
df_uzivatele_2 = DataFrame(uzivatele_2)

In [ ]:
df_spojene = concat([df_uzivatele_1, df_uzivatele_2], axis=0)

In [ ]:
df_spojene.head()

Tady se ov≈°em zduplikovali hodnoty nƒõkter√Ωch index≈Ø.

Ty je pot≈ôeba opravit t√≠mto postupem:
1. **Vytvo≈ô√≠m nov√Ω sloupeƒçek** pro indexy,
2. **odstran√≠m star√Ω sloupeƒçek** s duplicitami.

In [ ]:
df_spojene = df_spojene.reset_index()

In [ ]:
df_spojene.head()

In [ ]:
df_spojene = df_spojene.drop("index", axis=1)

In [ ]:
df_spojene

Pro odchyt√°v√°n√≠ duplicitn√≠ch index≈Ø m≈Ø≈æe≈° doplnit parametr `verify_integrity=True`, p≈ô√≠padnƒõ pokud je irelevantn√≠, ignorovat jej √∫plnƒõ `ignore_index=True`.

### `concat` a voliteln√Ω argument `join`

---

V jednoduch√Ωch uk√°zk√°ch, jako jsou ty v√Ω≈°e, staƒçilo tabulky a sloupeƒçky spojit.

To prakticky nen√≠ v≈ædy ide√°ln√≠ ≈ôe≈°en√≠, proto≈æe nƒõkter√© sloupeƒçky m≈Ø≈æou, ale nemus√≠ b√Ωt shodn√©.

In [ ]:
from pandas import DataFrame, concat

In [ ]:
df_vzorek_1 = DataFrame({"A": ["A1", "A2"], "B": ["B1", "B2"], "C": ["C1", "C2"]}, index=[1, 2])

In [ ]:
df_vzorek_2 = DataFrame({"B": ["B3", "B4"], "C": ["C3", "C4"], "D": ["D3", "D4"]}, index=[3, 4])

In [ ]:
vystup = concat([df_vzorek_1, df_vzorek_2])

In [ ]:
vystup

Pokud nƒõkter√° data chybƒõj√≠, jsou automaticky vyplnƒõn√° jako **nezn√°m√© hodnoty**.

≈òe≈°en√≠m takov√© situace m≈Ø≈æe≈° b√Ωt zaveden√≠ jin√©ho zp≈Øsobu spojov√°n√≠.

Tedy nepou≈æ√≠vat defaultn√≠ argument `join='outer'`, ale `join='inner'`:

In [ ]:
vystup_bez_na = concat([df_vzorek_1, df_vzorek_2], join='inner')

In [ ]:
vystup_bez_na

### Spojov√°n√≠ pomoc√≠ metody `append`

---

Jde **o zastaral√© ≈ôe≈°en√≠**, ale p≈ôesto se s n√≠m m≈Ø≈æe≈° setkat.

Jeliko≈æ je spojov√°n√≠ natolik bƒõ≈ænou operac√≠, vznikl je≈°tƒõ jeden zp≈Øsob, kter√Ω je dokonce struƒçnƒõj≈°√≠ jako `concat`.

Jde o metodu `append`:

In [ ]:
df_vzorek_3 = DataFrame({"A": ["A1", "A2"], "B": ["B1", "B2"]}, index=[1, 2])

In [ ]:
df_vzorek_4 = DataFrame({"A": ["A3", "A4"], "B": ["B3", "B4"]}, index=[3, 4])

In [ ]:
df_vzorek_3.append(df_vzorek_4)

Tato metoda p≈ôitom neupravovala p≈Øvodn√≠ objekty (jako `append` a `extend` pro `list`), ale vytvo≈ôila nov√Ω objekt.

### Spojov√°n√≠ pomoc√≠ `merge`

---

Dal≈°√≠ funkc√≠ pro spojov√°n√≠ `DataFrame` objekt≈Ø je `merge`.

Tato funkce je vhodn√° pro spojov√°n√≠ DataFrame objekt≈Ø, kter√© **maj√≠ spoleƒçn√© sloupce**.

M≈Ø≈æe≈° l√©pe zad√°vat typ spojen√≠ (parametr `how='inner' | 'outer' | 'left' | 'join'`).

D√°le ti umo≈æn√≠ definovat sloupec, nebo sloupce, na kter√Ωch chce≈° spojen√≠ prov√©st (parametr `on`).

In [ ]:
from pandas import merge

In [ ]:
uzivatele_1 = {
    'jmeno': ['Alice', 'Bob', 'Charlie', 'David'],
     'vek': [25, 30, 35, 40],
     'mesto': ['Brno', 'Praha', 'Plzen', 'Ostrava']
}

In [ ]:
uzivatele_2 = {
    'jmeno': ['Alice', 'David', 'Emma', 'Frank'],
     'pocet_prijemcu': [100, 200, 150, 250]
}

In [ ]:
df_uzivatele_1 = DataFrame(uzivatele_1)

In [ ]:
df_uzivatele_2 = DataFrame(uzivatele_2)

In [ ]:
vystup = merge(df_uzivatele_1, df_uzivatele_2, on='jmeno', how='outer')

In [ ]:
vystup

Obecnƒõ plat√≠, ≈æe pokud pot≈ôebuje≈° dva nebo v√≠ce `DataFrame` objekt≈Ø podle **spoleƒçn√©ho sloupce nebo sloupc≈Ø**, pou≈æij funkci `merge()`.

Pokud chce≈° jenom **p≈ôidat dal≈°√≠ ≈ô√°dky nebo sloupce** do existuj√≠c√≠ho `DataFrame` objektu, pou≈æij funkci `concat`.

In [ ]:
df_uzivatele_1

In [ ]:
df_uzivatele_2

In [ ]:
vystup_left_join = merge(df_uzivatele_1, df_uzivatele_2, on='jmeno', how='left')

In [ ]:
vystup_left_join

V uk√°zce v√Ω≈° je pou≈æit√Ω *left join*.

Tedy ve v√Ωsledku uvid√≠≈° celou prvn√≠ (levou tabulku) a z druh√© pouze ty z√°znamy, kter√© maj√≠ ve spojovac√≠m sloupci `jmeno` spoleƒçnou hodnotu.

In [ ]:
df8 = DataFrame({
    'jmeno': ['Bob', 'Jake', 'Lisa', 'Sue'],
    'poradi': [1, 2, 3, 4]
})

In [ ]:
df9 = DataFrame({
    'jmeno': ['Bob', 'Jake', 'Lisa', 'Sue'],
    'poradi': [3, 1, 4, 2]
})

In [ ]:
vystup_konflikt = merge(df8, df9, on="jmeno")

In [ ]:
vystup_konflikt

Funkce sama dopln√≠ p≈ô√≠pony, aby rozli≈°ila mezi obƒõma p≈Øvodn√≠mi sloupci.

Pokud pot≈ôebuje≈° vlastn√≠ p≈ô√≠pony, m≈Ø≈æe≈° vyzkou≈°et voliteln√Ω argument pro `suffixes`:

In [ ]:
vystup_vlastni_pripony = merge(df8, df9, on='jmeno', suffixes=('_levy', '_pravy'))

In [ ]:
vystup_vlastni_pripony

### Spojen√≠ pomoc√≠ index≈Ø, `join`

---

Tato metoda slou≈æ√≠ k propojen√≠ dvou DataFrame objekt≈Ø na z√°kladƒõ jejich index≈Ø nebo hodnot.

Je velice podobn√° funkci `merge` ale je p≈ô√≠mo souƒç√°st√≠ `DataFrame` objektu a je snaz≈°√≠ ji aplikovat:

In [ ]:
uzivatele_1 = {
    'jmeno': ['Alice', 'Bob', 'Petr'],
     'vek': [25, 30, 35]
}

In [ ]:
uzivatele_2 = {
    'jmeno': ['Alice', 'Bob', 'Petr'],
    'pocet_prijemcu': [100, 150, 200]
}

In [ ]:
df_uzivatele_1 = DataFrame(uzivatele_1)

In [ ]:
df_uzivatele_2 = DataFrame(uzivatele_2)

In [ ]:
df_uzivatele_1 = df_uzivatele_1.set_index('jmeno')
df_uzivatele_2 = df_uzivatele_2.set_index('jmeno')

In [ ]:
vysledek_join_metody = df_uzivatele_1.join(df_uzivatele_2)

In [ ]:
vysledek_join_metody

Hlavn√≠ rozd√≠l mezi tƒõmito funkcemi je zp≈Øsob urƒçen√≠ sloupce nebo sloupc≈Ø, podle kter√Ωch se m√° propojen√≠ prov√©st.

Metoda `join()` propojuje DataFrame objekty **na z√°kladƒõ jejich index≈Ø**, zat√≠mco funkce `merge()` umo≈æ≈àuje propojit `DataFrame` objekty **na z√°kladƒõ hodnoty v jednom nebo v√≠ce sloupc√≠ch**.

<br>

**üß† CVIƒåEN√ç üß†, procviƒç si spojov√°n√≠**

M√°≈° dvƒõ tabulky s informacemi o z√°kazn√≠c√≠ch tv√© firmy.

Tabulky `zakaznici_objednavky` a `zakaznici_info`.

Tv√Ωm √∫kolem je propojit tyto tabulky podle zad√°n√≠:
1. Pou≈æij funkci `merge()` k propojen√≠ obou tabulek podle spoleƒçn√©ho kl√≠ƒçe, kter√Ωm je sloupec `id_zakaznika`,
2. Pou≈æij funkci `concat()` k p≈ôid√°n√≠ sloupce `celkova_cena_objednavky`, kter√Ω bude vypoƒç√≠t√°n jako souƒçet ceny v≈°ech objedn√°vek dan√©ho z√°kazn√≠ka,
3. Vyfiltruj pouze informace o z√°kazn√≠c√≠ch ze st√°tu `'USA'` a ulo≈æ v√Ωslednou tabulku.

In [ ]:
import pandas as pd

In [ ]:
df_zakaznici_info = pd.DataFrame({'id_zakaznika': [1, 2, 3, 4],
                               'jmeno': ['Jan Nov√°k', 'Petr Soukup', 'Marie Hor√°kov√°', 'Jana Svobodov√°'],
                               'adresa': ['Hlavn√≠ 15', 'Druh√° 10', 'T≈ôet√≠ 25', 'ƒåtvrt√° 20'],
                               'mesto': ['Praha', 'Brno', 'Ostrava', 'New York'],
                               'stat': ['CZ', 'CZ', 'CZ', 'USA']})

In [ ]:
df_zakaznici_objednavky = pd.DataFrame({'id_zakaznika': [1, 2, 3, 4, 1, 2],
                                     'datum_objednavky': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01'],
                                     'nazev_produktu': ['PC', 'Notebook', 'Monitor', 'Tiskarna', 'My≈°', 'Kl√°vesnice'],
                                     'cena': [15000, 20000, 5000, 3000, 500, 800]})

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    spojene_tabulky = pd.merge(df_zakaznici_info, df_zakaznici_objednavky, on='id_zakaznika')

    celkova_cena_objednavek = spojene_tabulky.groupby('id_zakaznika')['cena'].sum().reset_index()
    celkova_cena_objednavek = celkova_cena_objednavek.rename(columns={'cena': 'celkova_cena_objednavky'})
    spojene_tabulky = pd.concat([spojene_tabulky, celkova_cena_objednavek['celkova_cena_objednavky']], axis=1)

    spojene_tabulky = spojene_tabulky[spojene_tabulky['stat'] == 'USA']
    ```
</details>

## Agregace

Seskupov√°n√≠ a agregace jsou procesy, kter√© pat≈ô√≠ k z√°kladn√≠ efektivn√≠ anal√Ωze dat.

### Jednoduch√° agregace

P≈ôesto, ≈æe ve≈°ker√© z√°kladn√≠ **statistick√© √∫daje** prakticky nab√≠z√≠ metoda `describe()`, m≈Ø≈æe≈° ocenit, kdy≈æ stejnou statistiku m≈Ø≈æe≈° aplikovat **na tebou vybran√© objekty**.

Mezi nejjednodu≈°≈°√≠ postupy, jak data analyzovat pat≈ô√≠ metody jako:
* `sum()`,
* `mean()`,
* `median()`,
* `min()`,
* `max()`.

V≈°echny tyto metody umo≈æn√≠ z√≠skat jedno samotn√© ƒç√≠slo, kter√© ti umo≈æn√≠ prohl√©dnout podstatu zadan√©ho datasetu.

In [2]:
from pandas import read_csv

In [4]:
df_nemovitosti = read_csv("nemovitosti.csv")

<br>

#### Odstranit nepot≈ôebn√Ω sloupeƒçek

In [11]:
df_nemovitosti.columns

Index(['Unnamed: 0', 'id', 'price', 'area', 'bedrooms', 'bathrooms', 'garage',
       'distance_to_center'],
      dtype='object')

In [14]:
df_bez_bezejmen = df_nemovitosti.drop("Unnamed: 0", axis=1)

In [18]:
df_bez_bezejmen.head()

   id     price  area  bedrooms  bathrooms  garage  distance_to_center
0   1  18094478   254         1          1   False                  16
1   2  15315092   228         1          3   False                  24
2   3   4234489   112         3          3   False                  16
3   4  16586186   145         2          1    True                  23
4   5  11628519   280         5          1   False                   2

In [17]:
df_bez_bezejmen.loc[:, "price"].max()

19824013

In [ ]:
df_bez_bezejmen.loc[:, "price"].min()

In [ ]:
df_bez_bezejmen.loc[:, "area"].sum()

In [ ]:
df_bez_bezejmen.loc[:, "price"].mean()

<br>

ƒåasto ale nen√≠ dostaƒçuj√≠c√≠, prozkoumat data pouze jednoduch√Ωch agregaƒçn√≠ch funkc√≠.

Dal≈°√≠ operace, kter√© je pot≈ôeba pochopit jsou seskupov√°n√≠ dat podle zadan√Ωch parametr≈Ø.

### Seskupov√°n√≠ groupby

Funkce `groupby`, p≈Øvodnƒõ operace z SQL jazyka, je v r√°mci knihovny `pandas` v≈°estran√Ω pomocn√≠k pro seskupov√°n√≠ dat na z√°kladƒõ r≈Øzn√Ωch krit√©ri√≠.

In [2]:
from pandas import DataFrame

In [3]:
df_pokus_s_cisly = DataFrame(
    {
        'kl√≠ƒç': ['A', 'B', 'C', 'A', 'B', 'C'],
        'ƒç√≠seln√° hodnota': range(6)},
)

In [4]:
df_pokus_s_cisly.head(6)

  kl√≠ƒç  ƒç√≠seln√° hodnota
0    A                0
1    B                1
2    C                2
3    A                3
4    B                4
5    C                5

#### Klasick√© seskupen√≠ podle sloupeƒçku

In [5]:
df_pokus_s_cisly.groupby("kl√≠ƒç")

Metoda standardnƒõ vrac√≠ `DataFrameGroupBy`.

Jde opƒõt o tzv. *lazy evaluation* proces, samotn√Ω nic neprovede, pouze ƒçek√° na pokyn u≈æivatele, kter√Ω samotnou agregaci spust√≠.

In [6]:
df_pokus_s_cisly.groupby("kl√≠ƒç").sum()

      ƒç√≠seln√° hodnota
kl√≠ƒç
A                   3
B                   5
C                   7

Metoda `sum()` je pouze jednou z mo≈ænost√≠, se kterou m≈Ø≈æe≈° pracovat.

### Sloupeƒçkov√© oznaƒçov√°n√≠

Stejnƒõ jako `DataFrame` m≈Ø≈æe≈° oznaƒçovat tak√© *GroupBy* objekty.

In [7]:
df_pokus_s_cisly.groupby("kl√≠ƒç")["ƒç√≠seln√° hodnota"].median()

kl√≠ƒç
A    1.5
B    2.5
C    3.5
Name: ƒç√≠seln√° hodnota, dtype: float64

<br>

V uplynul√© uk√°zce je zadan√° seskupov√°n√≠ podle sloupeƒçku `kl√≠ƒç`.

D√°le je vybran√Ω pouze konkr√©tn√≠ sloupeƒçek, na kter√Ω chce≈° spustit metodu `median`.

<br>

Pokud pot≈ôebuje≈° nad vybran√Ωm objektem prov√°dƒõt nƒõkter√© procesy ruƒçnƒõ, m≈Ø≈æe≈° p≈ôes *GroupBy* objekt **iterovat**:

In [11]:
for (klic, hodnota) in df_pokus_s_cisly.groupby("kl√≠ƒç"):
    print(f"Klic: {klic}; Hodnota={hodnota.shape}")

Klic: A; Hodnota=(2, 2)
Klic: B; Hodnota=(2, 2)
Klic: C; Hodnota=(2, 2)

### Agregace

Kromƒõ jednoduch√Ωch agregac√≠, nab√≠z√≠ *GroupBy* ≈ôadu dal≈°√≠ funkcionality.

Jde o metody:
* `aggregate`,
* `filter`,
* `transform`,
* `apply`.

In [24]:
import numpy

In [25]:
rng = numpy.random.RandomState(0)

In [19]:
from pandas import DataFrame

In [26]:
df_pokus_s_cisly = DataFrame(
    {
        'kl√≠ƒç': ['A', 'B', 'C', 'A', 'B', 'C'],
        'data_1': range(6),
        'data_2': rng.randint(0, 10, 6)
    }
)

In [28]:
df_pokus_s_cisly.head()

  kl√≠ƒç  data_1  data_2
0    A       0       5
1    B       1       0
2    C       2       3
3    A       3       3
4    B       4       7

Statistick metody urƒçitƒõ nab√≠z√≠ spousty pom≈Øcek.

Objekt typu *GroupBy* um√≠ pracovat tak√© s funkcemi, stringy a cel√Ωmi listy.

In [29]:
df_pokus_s_cisly.groupby("kl√≠ƒç").aggregate(["min", numpy.median, max])

     data_1            data_2
        min median max    min median max
kl√≠ƒç
A         0    1.5   3      3    4.0   5
B         1    2.5   4      0    3.5   7
C         2    3.5   5      3    6.0   9

M≈Ø≈æe≈° ≈ô√≠ct, ≈æe metoda `aggregate` se pou≈æ√≠v√° k aplikaci **jedn√© nebo v√≠ce agregaƒçn√≠ch funkc√≠ na seskupen√° data**.

```
store,fruit,quantity_sold,price
A,apple,10,20
A,banana,15,12
B,apple,8,22
B,banana,30,10
C,apple,20,18
C,banana,25,15
```

In [30]:
ovoce_data = {'pobocka': ['A', 'A', 'B', 'B', 'C', 'C'],
        'ovoce': ['jablko', 'banan', 'jablko', 'banan', 'jablko', 'banan'],
        'prodane_mnozstvi': [10, 15, 8, 30, 20, 25],
        'cena': [20, 12, 22, 10, 18, 15]}

In [31]:
df_ovoce = DataFrame(ovoce_data)

In [35]:
df_ovoce.head(6)

  pobocka   ovoce  prodane_mnozstvi  cena
0       A  jablko                10    20
1       A   banan                15    12
2       B  jablko                 8    22
3       B   banan                30    10
4       C  jablko                20    18
5       C   banan                25    15

In [36]:
vystup = df_ovoce.groupby('pobocka').aggregate({'prodane_mnozstvi': 'sum', 'cena': 'mean'})

In [37]:
vystup

         prodane_mnozstvi  cena
pobocka
A                      25  16.0
B                      38  16.0
C                      45  16.5

1. Nejprve jsou hodnoty seskupen√≠ podle sloupce `pobocka`,
2. pot√© specifikuje≈° pomoc√≠ `aggregate` funkce a sloupce,
3. .. tedy sumarizovat hodnoty v `prodane_mnozstvi` a z√≠skat pr≈Ømƒõr `cena` pro ka≈ædou poboƒçku.

### Filtrov√°n√≠

Filtrov√°n√≠ ti umo≈æn√≠ zahodit takov√© √∫daje, kter√© nespl≈àuj√≠ zadanou podm√≠nku.

Metoda `filter` se pou≈æ√≠v√° k vybr√°n√≠ seskupen√Ωch dat podle splnƒõn√≠ urƒçit√© podm√≠nky.

P≈ôedstavme si, ≈æe m√°me n√°sleduj√≠c√≠ dataset s informacemi o prodeji ovoce v r≈Øzn√Ωch obchodech:

In [41]:
def vyber_pouze_zadane_mnozstvi(x, limit: int = 35):
    return x['prodane_mnozstvi'].sum() > limit

<br>

Funkce `vyber_pouze_zadane_mnozstvi`, tedy **filtrovac√≠ funkce**, mus√≠ vracet **boolean** datov√Ω typ.

In [42]:
vysledek = df_ovoce.groupby('pobocka').filter(vyber_pouze_zadane_mnozstvi)

In [43]:
vysledek

  pobocka   ovoce  prodane_mnozstvi  cena
2       B  jablko                 8    22
3       B   banan                30    10
4       C  jablko                20    18
5       C   banan                25    15

1. Nejprve seskup√≠≈° data podle sloupce `pobocka` pomoc√≠ `groupby`,
2. d√°le pou≈æije≈° metodu `filter`, kter√° umo≈æ≈àuje pou≈æ√≠t u≈æivatelem definovanou funkci,
3. definuje≈° funkci, kter√° vybere pouze poboƒçky s vƒõt≈°√≠m prodejem ne≈æ je parametr `limit`,
4. metoda `filter` pak vybere pouze ty ≈ô√°dky, kter√© spl≈àuj√≠ tuto podm√≠nku.

### Transformace

Zat√≠mco p≈ôedchoz√≠ v√Ωsledky *agregace pomoc√≠ `groupby` vraceli redukovan√© mno≈æstv√≠ dat.

Transformace obvykle vrac√≠ data o stejn√©m rozsahu jako vstupn√≠ data. Jenom upraven√°.

Metoda `transform` se pou≈æ√≠v√° k aplikaci urƒçit√© **transformaƒçn√≠ funkce** na ka≈æd√Ω prvek seskupen√Ωch dat.

In [56]:
def vrat_procenta_z_celkoveho_prodeje(udaj):
    return round(udaj / udaj.sum() * 100, 1)

<br>

Vytvo≈ôen√≠ nov√©ho sloupeƒçku `procento_z_celkoveho_prodeje`:

In [57]:
df_ovoce['procento_z_celkoveho_prodeje'] = df_ovoce.groupby('pobocka')['prodane_mnozstvi'] \
    .transform(vrat_procenta_z_celkoveho_prodeje)

In [58]:
df_ovoce.head(6)

  pobocka   ovoce  prodane_mnozstvi  cena  procento_z_celkoveho_prodeje
0       A  jablko                10    20                          40.0
1       A   banan                15    12                          60.0
2       B  jablko                 8    22                          21.1
3       B   banan                30    10                          78.9
4       C  jablko                20    18                          44.4
5       C   banan                25    15                          55.6

1. Nejprve seskup√≠≈° data podle sloupce `pobocka` pomoc√≠ `groupby`,
2. d√°le pou≈æije≈° metodu `transform`, kter√° umo≈æ≈àuje pou≈æ√≠t u≈æivatelem definovanou funkci,
3. definuje≈° funkci, kter√° vybere vypoƒç√≠t√° procentu√°ln√≠ vyj√°d≈ôen√≠ prodan√©ho zbo≈æ√≠ pro poboƒçku,
4. p≈ôid√°≈° nov√Ω sloupeƒçek `procento_z_celkoveho_prodeje`.

### Metoda apply

Metoda `apply` ti dovol9 se pou≈æ√≠v√° k aplikaci u≈æivatelem definovan√© funkce na seskupen√° data.

In [ ]:
def total_revenue(group):
    group['revenue'] = group['quantity_sold'] * group['price']
    return group

# Pou≈æit√≠ groupby s metodou apply
result = df.groupby('store').apply(total_revenue)

print(result)

---