* [Spojov√°n√≠ dat](#Spojov√°n√≠-dat),
    - [spojov√°n√≠ s concat](#Spojov√°n√≠-s-concat),
    - [spojov√°n√≠ s concat a arg. join](#concat-a-voliteln√Ω-argument-join),
    - [spojov√°n√≠ s metodou append](#Spojov√°n√≠-pomoc√≠-metody-append),
    - [spojov√°n√≠ s merge](#Spojov√°n√≠-pomoc√≠-merge),
    - [spojov√°n√≠ s metodou join](#Spojen√≠-pomoc√≠-index≈Ø,-join),
    - [cviƒçen√≠ 1]().
* [Agregace](),
    - [jednoduch√° agregace](),
    - [seskupov√°n√≠ groupby](),
    - [agregace](),
    - [filtrov√°n√≠](),
    - [transformace](),
    - [apply](),
    - [cviƒçen√≠ 2]().
* [Pivot tabulka](),
    - [√∫vodn√≠ motivace](),
    - [syntaxe tabulky](),
    - [dopl≈àuj√≠c√≠ mo≈ænosti](),
    - [cviƒçen√≠ 3]().
* [ƒåasov√© ≈ôady](),
    - [√∫vodn√≠ motivace](),
    - [datum & ƒças](),
    - [ƒçetnosti](),
    - [resampling](),
    - [cviƒçen√≠ 4]().
* [High performance](),
    - [√∫vodn√≠ motivace](),
    - [eval](),
    - [query](),
    - [caveats]().

<br>

## Spojov√°n√≠ dat

---


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.APOjuHGvkM0wQaUx9ELKAgHaHa%26pid%3DApi&f=1&ipt=a8b2b692c40e190d4b28c164bf13e6c944702a69944035a4ef9053aa6ea1b190&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

Takov√Ωmi operacemi si m≈Ø≈æe≈° p≈ôedstavit jednoduch√© operace jako **spojov√°n√≠** (*konkatenace*) **dvou a v√≠ce dataset≈Ø** a≈æ po slo≈æitƒõj≈°√≠ joiny podobnƒõ jako u datab√°z√≠.

`pandas` obsahuje r≈Øzn√© *funkce* a *metody*, kter√© umo≈æ≈àuj√≠ tento zp≈Øsob pr√°ce.

### Spojov√°n√≠ s `concat`

---

Funkce concat() v pandas umo≈æ≈àuje spojit dva nebo v√≠ce:
1. sloupeƒçk≈Ø,
2. tabulek.

*Spojen√≠* m≈Ø≈æe≈° prov√©st:
1. **horizont√°lnƒõ**, po sloupc√≠ch,
2. **vertik√°lnƒõ**, po ≈ô√°dc√≠ch.

Pou≈æit√≠ funkce `concat()` spoƒç√≠v√° v p≈ôed√°n√≠ seznamu objekt≈Ø, kter√© chce≈° spojit, a parametru `axis`, kter√Ω urƒçuje osu, podle kter√© se m√°j√≠ objekty spojit:

#### Spojen√≠ sloupeƒçk≈Ø

In [ ]:
from pandas import concat, Series, DataFrame

In [ ]:
sloupec_1 = Series(['A', 'B', 'C'], index=[1, 2, 3])
sloupec_2 = Series(['D', 'E', 'F'], index=[4, 5, 6])

In [ ]:
spojene_sloupce = concat([sloupec_1, sloupec_2])

In [ ]:
spojene_sloupce

#### Spojen√≠ tabulek

In [ ]:
uzivatele_1 = {
    'jmeno': ['Matou≈°', 'Marek', 'Luk√°≈°'],
    'vek': [25, 30, 35]
}

In [ ]:
uzivatele_2 = {
    'jmeno': ['Petr', 'Jan', 'Michal'],
    'vek': [40, 45, 50]
}

In [ ]:
df_uzivatele_1 = DataFrame(uzivatele_1)
df_uzivatele_2 = DataFrame(uzivatele_2)

In [ ]:
df_spojene = concat([df_uzivatele_1, df_uzivatele_2], axis=0)

In [ ]:
df_spojene.head()

Tady se ov≈°em zduplikovali hodnoty nƒõkter√Ωch index≈Ø.

Ty je pot≈ôeba opravit t√≠mto postupem:
1. **Vytvo≈ô√≠m nov√Ω sloupeƒçek** pro indexy,
2. **odstran√≠m star√Ω sloupeƒçek** s duplicitami.

In [ ]:
df_spojene = df_spojene.reset_index()

In [ ]:
df_spojene.head()

In [ ]:
df_spojene = df_spojene.drop("index", axis=1)

In [ ]:
df_spojene

Pro odchyt√°v√°n√≠ duplicitn√≠ch index≈Ø m≈Ø≈æe≈° doplnit parametr `verify_integrity=True`, p≈ô√≠padnƒõ pokud je irelevantn√≠, ignorovat jej √∫plnƒõ `ignore_index=True`.

### `concat` a voliteln√Ω argument `join`

---

V jednoduch√Ωch uk√°zk√°ch, jako jsou ty v√Ω≈°e, staƒçilo tabulky a sloupeƒçky spojit.

To prakticky nen√≠ v≈ædy ide√°ln√≠ ≈ôe≈°en√≠, proto≈æe nƒõkter√© sloupeƒçky m≈Ø≈æou, ale nemus√≠ b√Ωt shodn√©.

In [ ]:
from pandas import DataFrame, concat

In [ ]:
df_vzorek_1 = DataFrame({"A": ["A1", "A2"], "B": ["B1", "B2"], "C": ["C1", "C2"]}, index=[1, 2])

In [ ]:
df_vzorek_2 = DataFrame({"B": ["B3", "B4"], "C": ["C3", "C4"], "D": ["D3", "D4"]}, index=[3, 4])

In [ ]:
vystup = concat([df_vzorek_1, df_vzorek_2])

In [ ]:
vystup

Pokud nƒõkter√° data chybƒõj√≠, jsou automaticky vyplnƒõn√° jako **nezn√°m√© hodnoty**.

≈òe≈°en√≠m takov√© situace m≈Ø≈æe≈° b√Ωt zaveden√≠ jin√©ho zp≈Øsobu spojov√°n√≠.

Tedy nepou≈æ√≠vat defaultn√≠ argument `join='outer'`, ale `join='inner'`:

In [ ]:
vystup_bez_na = concat([df_vzorek_1, df_vzorek_2], join='inner')

In [ ]:
vystup_bez_na

### Spojov√°n√≠ pomoc√≠ metody `append`

---

Jde **o zastaral√© ≈ôe≈°en√≠**, ale p≈ôesto se s n√≠m m≈Ø≈æe≈° setkat.

Jeliko≈æ je spojov√°n√≠ natolik bƒõ≈ænou operac√≠, vznikl je≈°tƒõ jeden zp≈Øsob, kter√Ω je dokonce struƒçnƒõj≈°√≠ jako `concat`.

Jde o metodu `append`:

In [ ]:
df_vzorek_3 = DataFrame({"A": ["A1", "A2"], "B": ["B1", "B2"]}, index=[1, 2])

In [ ]:
df_vzorek_4 = DataFrame({"A": ["A3", "A4"], "B": ["B3", "B4"]}, index=[3, 4])

In [ ]:
df_vzorek_3.append(df_vzorek_4)

Tato metoda p≈ôitom neupravovala p≈Øvodn√≠ objekty (jako `append` a `extend` pro `list`), ale vytvo≈ôila nov√Ω objekt.

### Spojov√°n√≠ pomoc√≠ `merge`

---

Dal≈°√≠ funkc√≠ pro spojov√°n√≠ `DataFrame` objekt≈Ø je `merge`.

Tato funkce je vhodn√° pro spojov√°n√≠ DataFrame objekt≈Ø, kter√© **maj√≠ spoleƒçn√© sloupce**.

M≈Ø≈æe≈° l√©pe zad√°vat typ spojen√≠ (parametr `how='inner' | 'outer' | 'left' | 'join'`).

D√°le ti umo≈æn√≠ definovat sloupec, nebo sloupce, na kter√Ωch chce≈° spojen√≠ prov√©st (parametr `on`).

In [ ]:
from pandas import merge

In [ ]:
uzivatele_1 = {
    'jmeno': ['Alice', 'Bob', 'Charlie', 'David'],
     'vek': [25, 30, 35, 40],
     'mesto': ['Brno', 'Praha', 'Plzen', 'Ostrava']
}

In [ ]:
uzivatele_2 = {
    'jmeno': ['Alice', 'David', 'Emma', 'Frank'],
     'pocet_prijemcu': [100, 200, 150, 250]
}

In [ ]:
df_uzivatele_1 = DataFrame(uzivatele_1)

In [ ]:
df_uzivatele_2 = DataFrame(uzivatele_2)

In [ ]:
vystup = merge(df_uzivatele_1, df_uzivatele_2, on='jmeno', how='outer')

In [ ]:
vystup

Obecnƒõ plat√≠, ≈æe pokud pot≈ôebuje≈° dva nebo v√≠ce `DataFrame` objekt≈Ø podle **spoleƒçn√©ho sloupce nebo sloupc≈Ø**, pou≈æij funkci `merge()`.

Pokud chce≈° jenom **p≈ôidat dal≈°√≠ ≈ô√°dky nebo sloupce** do existuj√≠c√≠ho `DataFrame` objektu, pou≈æij funkci `concat`.

In [ ]:
df_uzivatele_1

In [ ]:
df_uzivatele_2

In [ ]:
vystup_left_join = merge(df_uzivatele_1, df_uzivatele_2, on='jmeno', how='left')

In [ ]:
vystup_left_join

V uk√°zce v√Ω≈° je pou≈æit√Ω *left join*.

Tedy ve v√Ωsledku uvid√≠≈° celou prvn√≠ (levou tabulku) a z druh√© pouze ty z√°znamy, kter√© maj√≠ ve spojovac√≠m sloupci `jmeno` spoleƒçnou hodnotu.

In [ ]:
df8 = DataFrame({
    'jmeno': ['Bob', 'Jake', 'Lisa', 'Sue'],
    'poradi': [1, 2, 3, 4]
})

In [ ]:
df9 = DataFrame({
    'jmeno': ['Bob', 'Jake', 'Lisa', 'Sue'],
    'poradi': [3, 1, 4, 2]
})

In [ ]:
vystup_konflikt = merge(df8, df9, on="jmeno")

In [ ]:
vystup_konflikt

Funkce sama dopln√≠ p≈ô√≠pony, aby rozli≈°ila mezi obƒõma p≈Øvodn√≠mi sloupci.

Pokud pot≈ôebuje≈° vlastn√≠ p≈ô√≠pony, m≈Ø≈æe≈° vyzkou≈°et voliteln√Ω argument pro `suffixes`:

In [ ]:
vystup_vlastni_pripony = merge(df8, df9, on='jmeno', suffixes=('_levy', '_pravy'))

In [ ]:
vystup_vlastni_pripony

### Spojen√≠ pomoc√≠ index≈Ø, `join`

---

Tato metoda slou≈æ√≠ k propojen√≠ dvou DataFrame objekt≈Ø na z√°kladƒõ jejich index≈Ø nebo hodnot.

Je velice podobn√° funkci `merge` ale je p≈ô√≠mo souƒç√°st√≠ `DataFrame` objektu a je snaz≈°√≠ ji aplikovat:

In [ ]:
uzivatele_1 = {
    'jmeno': ['Alice', 'Bob', 'Petr'],
     'vek': [25, 30, 35]
}

In [ ]:
uzivatele_2 = {
    'jmeno': ['Alice', 'Bob', 'Petr'],
    'pocet_prijemcu': [100, 150, 200]
}

In [ ]:
df_uzivatele_1 = DataFrame(uzivatele_1)

In [ ]:
df_uzivatele_2 = DataFrame(uzivatele_2)

In [ ]:
df_uzivatele_1 = df_uzivatele_1.set_index('jmeno')
df_uzivatele_2 = df_uzivatele_2.set_index('jmeno')

In [ ]:
vysledek_join_metody = df_uzivatele_1.join(df_uzivatele_2)

In [ ]:
vysledek_join_metody

Hlavn√≠ rozd√≠l mezi tƒõmito funkcemi je zp≈Øsob urƒçen√≠ sloupce nebo sloupc≈Ø, podle kter√Ωch se m√° propojen√≠ prov√©st.

Metoda `join()` propojuje DataFrame objekty **na z√°kladƒõ jejich index≈Ø**, zat√≠mco funkce `merge()` umo≈æ≈àuje propojit `DataFrame` objekty **na z√°kladƒõ hodnoty v jednom nebo v√≠ce sloupc√≠ch**.

<br>

**üß† CVIƒåEN√ç üß†, procviƒç si spojov√°n√≠**

M√°≈° dvƒõ tabulky s informacemi o z√°kazn√≠c√≠ch tv√© firmy.

Tabulky `zakaznici_objednavky` a `zakaznici_info`.

Tv√Ωm √∫kolem je propojit tyto tabulky podle zad√°n√≠:
1. Pou≈æij funkci `merge()` k propojen√≠ obou tabulek podle spoleƒçn√©ho kl√≠ƒçe, kter√Ωm je sloupec `id_zakaznika`,
2. Pou≈æij funkci `concat()` k p≈ôid√°n√≠ sloupce `celkova_cena_objednavky`, kter√Ω bude vypoƒç√≠t√°n jako souƒçet ceny v≈°ech objedn√°vek dan√©ho z√°kazn√≠ka,
3. Vyfiltruj pouze informace o z√°kazn√≠c√≠ch ze st√°tu `'USA'` a ulo≈æ v√Ωslednou tabulku.

In [ ]:
import pandas as pd

In [ ]:
df_zakaznici_info = pd.DataFrame({'id_zakaznika': [1, 2, 3, 4],
                               'jmeno': ['Jan Nov√°k', 'Petr Soukup', 'Marie Hor√°kov√°', 'Jana Svobodov√°'],
                               'adresa': ['Hlavn√≠ 15', 'Druh√° 10', 'T≈ôet√≠ 25', 'ƒåtvrt√° 20'],
                               'mesto': ['Praha', 'Brno', 'Ostrava', 'New York'],
                               'stat': ['CZ', 'CZ', 'CZ', 'USA']})

In [ ]:
df_zakaznici_objednavky = pd.DataFrame({'id_zakaznika': [1, 2, 3, 4, 1, 2],
                                     'datum_objednavky': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01'],
                                     'nazev_produktu': ['PC', 'Notebook', 'Monitor', 'Tiskarna', 'My≈°', 'Kl√°vesnice'],
                                     'cena': [15000, 20000, 5000, 3000, 500, 800]})

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    spojene_tabulky = pd.merge(df_zakaznici_info, df_zakaznici_objednavky, on='id_zakaznika')

    celkova_cena_objednavek = spojene_tabulky.groupby('id_zakaznika')['cena'].sum().reset_index()
    celkova_cena_objednavek = celkova_cena_objednavek.rename(columns={'cena': 'celkova_cena_objednavky'})
    spojene_tabulky = pd.concat([spojene_tabulky, celkova_cena_objednavek['celkova_cena_objednavky']], axis=1)

    spojene_tabulky = spojene_tabulky[spojene_tabulky['stat'] == 'USA']
    ```
</details>

## Agregace

Seskupov√°n√≠ a agregace jsou procesy, kter√© pat≈ô√≠ k z√°kladn√≠ efektivn√≠ anal√Ωze dat.

### Jednoduch√° agregace

P≈ôesto, ≈æe ve≈°ker√© z√°kladn√≠ **statistick√© √∫daje** prakticky nab√≠z√≠ metoda `describe()`, m≈Ø≈æe≈° ocenit, kdy≈æ stejnou statistiku m≈Ø≈æe≈° aplikovat **na tebou vybran√© objekty**.

Mezi nejjednodu≈°≈°√≠ postupy, jak data analyzovat pat≈ô√≠ metody jako:
* `sum()`,
* `mean()`,
* `median()`,
* `min()`,
* `max()`.

V≈°echny tyto metody umo≈æn√≠ z√≠skat jedno samotn√© ƒç√≠slo, kter√© ti umo≈æn√≠ prohl√©dnout podstatu zadan√©ho datasetu.

In [2]:
from pandas import read_csv

In [4]:
df_nemovitosti = read_csv("nemovitosti.csv")

<br>

#### Odstranit nepot≈ôebn√Ω sloupeƒçek

In [11]:
df_nemovitosti.columns

Index(['Unnamed: 0', 'id', 'price', 'area', 'bedrooms', 'bathrooms', 'garage',
       'distance_to_center'],
      dtype='object')

In [14]:
df_bez_bezejmen = df_nemovitosti.drop("Unnamed: 0", axis=1)

In [18]:
df_bez_bezejmen.head()

   id     price  area  bedrooms  bathrooms  garage  distance_to_center
0   1  18094478   254         1          1   False                  16
1   2  15315092   228         1          3   False                  24
2   3   4234489   112         3          3   False                  16
3   4  16586186   145         2          1    True                  23
4   5  11628519   280         5          1   False                   2

In [17]:
df_bez_bezejmen.loc[:, "price"].max()

19824013

In [ ]:
df_bez_bezejmen.loc[:, "price"].min()

In [ ]:
df_bez_bezejmen.loc[:, "area"].sum()

In [ ]:
df_bez_bezejmen.loc[:, "price"].mean()

<br>

ƒåasto ale nen√≠ dostaƒçuj√≠c√≠, prozkoumat data pouze jednoduch√Ωch agregaƒçn√≠ch funkc√≠.

Dal≈°√≠ operace, kter√© je pot≈ôeba pochopit jsou seskupov√°n√≠ dat podle zadan√Ωch parametr≈Ø.

### Seskupov√°n√≠ groupby

Funkce `groupby`, p≈Øvodnƒõ operace z SQL jazyka, je v r√°mci knihovny `pandas` v≈°estran√Ω pomocn√≠k pro seskupov√°n√≠ dat na z√°kladƒõ r≈Øzn√Ωch krit√©ri√≠.

In [2]:
from pandas import DataFrame

In [3]:
df_pokus_s_cisly = DataFrame(
    {
        'kl√≠ƒç': ['A', 'B', 'C', 'A', 'B', 'C'],
        'ƒç√≠seln√° hodnota': range(6)},
)

In [4]:
df_pokus_s_cisly.head(6)

  kl√≠ƒç  ƒç√≠seln√° hodnota
0    A                0
1    B                1
2    C                2
3    A                3
4    B                4
5    C                5

#### Klasick√© seskupen√≠ podle sloupeƒçku

In [5]:
df_pokus_s_cisly.groupby("kl√≠ƒç")

Metoda standardnƒõ vrac√≠ `DataFrameGroupBy`.

Jde opƒõt o tzv. *lazy evaluation* proces, samotn√Ω nic neprovede, pouze ƒçek√° na pokyn u≈æivatele, kter√Ω samotnou agregaci spust√≠.

In [6]:
df_pokus_s_cisly.groupby("kl√≠ƒç").sum()

      ƒç√≠seln√° hodnota
kl√≠ƒç
A                   3
B                   5
C                   7

Metoda `sum()` je pouze jednou z mo≈ænost√≠, se kterou m≈Ø≈æe≈° pracovat.

### Sloupeƒçkov√© oznaƒçov√°n√≠

Stejnƒõ jako `DataFrame` m≈Ø≈æe≈° oznaƒçovat tak√© *GroupBy* objekty.

In [7]:
df_pokus_s_cisly.groupby("kl√≠ƒç")["ƒç√≠seln√° hodnota"].median()

kl√≠ƒç
A    1.5
B    2.5
C    3.5
Name: ƒç√≠seln√° hodnota, dtype: float64

<br>

V uplynul√© uk√°zce je zadan√° seskupov√°n√≠ podle sloupeƒçku `kl√≠ƒç`.

D√°le je vybran√Ω pouze konkr√©tn√≠ sloupeƒçek, na kter√Ω chce≈° spustit metodu `median`.

<br>

Pokud pot≈ôebuje≈° nad vybran√Ωm objektem prov√°dƒõt nƒõkter√© procesy ruƒçnƒõ, m≈Ø≈æe≈° p≈ôes *GroupBy* objekt **iterovat**:

In [11]:
for (klic, hodnota) in df_pokus_s_cisly.groupby("kl√≠ƒç"):
    print(f"Klic: {klic}; Hodnota={hodnota.shape}")

Klic: A; Hodnota=(2, 2)
Klic: B; Hodnota=(2, 2)
Klic: C; Hodnota=(2, 2)

### Agregace

Kromƒõ jednoduch√Ωch agregac√≠, nab√≠z√≠ *GroupBy* ≈ôadu dal≈°√≠ funkcionality.

Jde o metody:
* `aggregate`,
* `filter`,
* `transform`,
* `apply`.

In [24]:
import numpy

In [25]:
rng = numpy.random.RandomState(0)

In [19]:
from pandas import DataFrame

In [26]:
df_pokus_s_cisly = DataFrame(
    {
        'kl√≠ƒç': ['A', 'B', 'C', 'A', 'B', 'C'],
        'data_1': range(6),
        'data_2': rng.randint(0, 10, 6)
    }
)

In [28]:
df_pokus_s_cisly.head()

  kl√≠ƒç  data_1  data_2
0    A       0       5
1    B       1       0
2    C       2       3
3    A       3       3
4    B       4       7

Statistick metody urƒçitƒõ nab√≠z√≠ spousty pom≈Øcek.

Objekt typu *GroupBy* um√≠ pracovat tak√© s funkcemi, stringy a cel√Ωmi listy.

In [29]:
df_pokus_s_cisly.groupby("kl√≠ƒç").aggregate(["min", numpy.median, max])

     data_1            data_2
        min median max    min median max
kl√≠ƒç
A         0    1.5   3      3    4.0   5
B         1    2.5   4      0    3.5   7
C         2    3.5   5      3    6.0   9

M≈Ø≈æe≈° ≈ô√≠ct, ≈æe metoda `aggregate` se pou≈æ√≠v√° k aplikaci **jedn√© nebo v√≠ce agregaƒçn√≠ch funkc√≠ na seskupen√° data**.

```
store,fruit,quantity_sold,price
A,apple,10,20
A,banana,15,12
B,apple,8,22
B,banana,30,10
C,apple,20,18
C,banana,25,15
```

In [30]:
ovoce_data = {'pobocka': ['A', 'A', 'B', 'B', 'C', 'C'],
        'ovoce': ['jablko', 'banan', 'jablko', 'banan', 'jablko', 'banan'],
        'prodane_mnozstvi': [10, 15, 8, 30, 20, 25],
        'cena': [20, 12, 22, 10, 18, 15]}

In [31]:
df_ovoce = DataFrame(ovoce_data)

In [35]:
df_ovoce.head(6)

  pobocka   ovoce  prodane_mnozstvi  cena
0       A  jablko                10    20
1       A   banan                15    12
2       B  jablko                 8    22
3       B   banan                30    10
4       C  jablko                20    18
5       C   banan                25    15

In [36]:
vystup = df_ovoce.groupby('pobocka').aggregate({'prodane_mnozstvi': 'sum', 'cena': 'mean'})

In [37]:
vystup

         prodane_mnozstvi  cena
pobocka
A                      25  16.0
B                      38  16.0
C                      45  16.5

1. Nejprve jsou hodnoty seskupen√≠ podle sloupce `pobocka`,
2. pot√© specifikuje≈° pomoc√≠ `aggregate` funkce a sloupce,
3. .. tedy sumarizovat hodnoty v `prodane_mnozstvi` a z√≠skat pr≈Ømƒõr `cena` pro ka≈ædou poboƒçku.

### Filtrov√°n√≠

Filtrov√°n√≠ ti umo≈æn√≠ zahodit takov√© √∫daje, kter√© nespl≈àuj√≠ zadanou podm√≠nku.

Metoda `filter` se pou≈æ√≠v√° k vybr√°n√≠ seskupen√Ωch dat podle splnƒõn√≠ urƒçit√© podm√≠nky.

P≈ôedstavme si, ≈æe m√°me n√°sleduj√≠c√≠ dataset s informacemi o prodeji ovoce v r≈Øzn√Ωch obchodech:

In [41]:
def vyber_pouze_zadane_mnozstvi(x, limit: int = 35):
    return x['prodane_mnozstvi'].sum() > limit

<br>

Funkce `vyber_pouze_zadane_mnozstvi`, tedy **filtrovac√≠ funkce**, mus√≠ vracet **boolean** datov√Ω typ.

In [42]:
vysledek = df_ovoce.groupby('pobocka').filter(vyber_pouze_zadane_mnozstvi)

In [43]:
vysledek

  pobocka   ovoce  prodane_mnozstvi  cena
2       B  jablko                 8    22
3       B   banan                30    10
4       C  jablko                20    18
5       C   banan                25    15

1. Nejprve seskup√≠≈° data podle sloupce `pobocka` pomoc√≠ `groupby`,
2. d√°le pou≈æije≈° metodu `filter`, kter√° umo≈æ≈àuje pou≈æ√≠t u≈æivatelem definovanou funkci,
3. definuje≈° funkci, kter√° vybere pouze poboƒçky s vƒõt≈°√≠m prodejem ne≈æ je parametr `limit`,
4. metoda `filter` pak vybere pouze ty ≈ô√°dky, kter√© spl≈àuj√≠ tuto podm√≠nku.

### Transformace

Zat√≠mco p≈ôedchoz√≠ v√Ωsledky *agregace pomoc√≠ `groupby` vraceli redukovan√© mno≈æstv√≠ dat.

Transformace obvykle vrac√≠ data o stejn√©m rozsahu jako vstupn√≠ data. Jenom upraven√°.

Metoda `transform` se pou≈æ√≠v√° k aplikaci urƒçit√© **transformaƒçn√≠ funkce** na ka≈æd√Ω prvek seskupen√Ωch dat.

In [56]:
def vrat_procenta_z_celkoveho_prodeje(udaj):
    return round(udaj / udaj.sum() * 100, 1)

<br>

Vytvo≈ôen√≠ nov√©ho sloupeƒçku `procento_z_celkoveho_prodeje`:

In [57]:
df_ovoce['procento_z_celkoveho_prodeje'] = df_ovoce.groupby('pobocka')['prodane_mnozstvi'] \
    .transform(vrat_procenta_z_celkoveho_prodeje)

In [58]:
df_ovoce.head(6)

  pobocka   ovoce  prodane_mnozstvi  cena  procento_z_celkoveho_prodeje
0       A  jablko                10    20                          40.0
1       A   banan                15    12                          60.0
2       B  jablko                 8    22                          21.1
3       B   banan                30    10                          78.9
4       C  jablko                20    18                          44.4
5       C   banan                25    15                          55.6

1. Nejprve seskup√≠≈° data podle sloupce `pobocka` pomoc√≠ `groupby`,
2. d√°le pou≈æije≈° metodu `transform`, kter√° umo≈æ≈àuje pou≈æ√≠t u≈æivatelem definovanou funkci,
3. definuje≈° funkci, kter√° vybere vypoƒç√≠t√° procentu√°ln√≠ vyj√°d≈ôen√≠ prodan√©ho zbo≈æ√≠ pro poboƒçku,
4. p≈ôid√°≈° nov√Ω sloupeƒçek `procento_z_celkoveho_prodeje`.

### Metoda `apply`

Metoda `apply` ti tak√© dovol√≠, pou≈æ√≠vat u≈æivatelem definovan√© funkce na seskupen√° data.

N√°slednƒõ vrac√≠ objekt knihovny `pandas` (buƒè `DataFrame`, nebo `Series`, a nebo skal√°rn√≠ hodnota).

In [7]:
df_ovoce.head(6)

  pobocka   ovoce  prodane_mnozstvi  cena
0       A  jablko                10    20
1       A   banan                15    12
2       B  jablko                 8    22
3       B   banan                30    10
4       C  jablko                20    18
5       C   banan                25    15

In [44]:
def vypocitej_vydelek_za_artikl(seskupene):
    seskupene['vydelek_pobocky'] = seskupene['prodane_mnozstvi'] * seskupene['cena']
    return seskupene

<br>

Metoda `apply` je **obecnƒõj≈°√≠ a flexibilnƒõj≈°√≠** ne≈æ `transform`.

`apply` umo≈æ≈àuje pou≈æ√≠t u≈æivatelem definovanou funkci na ka≈ædou skupinu po seskupen√≠ dat pomoc√≠ `groupby`.

V√Ωsledek metody `apply` m≈Ø≈æe m√≠t jin√Ω tvar ne≈æ p≈Øvodn√≠ data.

In [48]:
vystup = df_ovoce.groupby('pobocka').apply(vypocitej_vydelek_za_artikl)

/tmp/ipykernel_10497/1874034112.py:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  vystup = df_ovoce.groupby('pobocka').apply(vypocitej_vydelek_za_artikl)

In [15]:
df_ovoce.groupby?

Signature:
df_ovoce.groupby(
    by=None,
    axis: 'Axis' = 0,
    level: 'IndexLabel | None' = None,
    as_index: 'bool' = True,
    sort: 'bool' = True,
    group_keys: 'bool | lib.NoDefault' = <no_default>,
    squeeze: 'bool | lib.NoDefault' = <no_default>,
    observed: 'bool' = False,
    dropna: 'bool' = True,
) -> 'DataFrameGroupBy'
Docstring:
Group DataFrame using a mapper or by a Series of columns.

A groupby operation involves some combination of splitting the
object, applying a function, and combining the results. This can be
used to group large amounts of data and compute operations on these
groups.

Parameters
----------
by : mapping, function, label, or list of labels
    Used to determine the groups for the groupby.
    If ``by`` is a function, it's called on each value of the object's
    index. If a dict or Series is passed, the Series or dict VALUES
    will be used to determine the groups (the Series' values are first
    aligned; see ``.align()`` method). If a list or ndarray of length
    equal to the selected axis is passed (see the `groupby user guide
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#splitting-an-object-into-groups>`_),
    the values are used as-is to determine the groups. A label or list
    of labels may be passed to group by the columns in ``self``.
    Notice that a tuple is interpreted as a (single) key.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Split along rows (0) or columns (1). For `Series` this parameter
    is unused and defaults to 0.
level : int, level name, or sequence of such, default None
    If the axis is a MultiIndex (hierarchical), group by a particular
    level or levels. Do not specify both ``by`` and ``level``.
as_index : bool, default True
    For aggregated output, return object with group labels as the
    index. Only relevant for DataFrame input. as_index=False is
    effectively "SQL-style" grouped output.
sort : bool, default True
    Sort group keys. Get better performance by turning this off.
    Note this does not influence the order of observations within each
    group. Groupby preserves the order of rows within each group.
group_keys : bool, optional
    When calling apply and the ``by`` argument produces a like-indexed
    (i.e. :ref:`a transform <groupby.transform>`) result, add group keys to
    index to identify pieces. By default group keys are not included
    when the result's index (and column) labels match the inputs, and
    are included otherwise. This argument has no effect if the result produced
    is not like-indexed with respect to the input.

    .. versionchanged:: 1.5.0

       Warns that `group_keys` will no longer be ignored when the
       result from ``apply`` is a like-indexed Series or DataFrame.
       Specify ``group_keys`` explicitly to include the group keys or
       not.
squeeze : bool, default False
    Reduce the dimensionality of the return type if possible,
    otherwise return a consistent type.

    .. deprecated:: 1.1.0

observed : bool, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.
dropna : bool, default True
    If True, and if group keys contain NA values, NA values together
    with row/column will be dropped.
    If False, NA values will also be treated as the key in groups.

    .. versionadded:: 1.1.0

Returns
-------
DataFrameGroupBy
    Returns a groupby object that contains information about the groups.

See Also
--------
resample : Convenience method for frequency conversion and resampling
    of time series.

Notes
-----
See the `user guide
<https://pandas.pydata.org/pandas-docs/stable/groupby.html>`__ for more
detailed usage and examples, including splitting an object into groups,
iterating through groups, selecting a group, aggregation, and more.

Examples
--------
>>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
...                               'Parrot', 'Parrot'],
...                    'Max Speed': [380., 370., 24., 26.]})
>>> df
   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0
>>> df.groupby(['Animal']).mean()
        Max Speed
Animal
Falcon      375.0
Parrot       25.0

**Hierarchical Indexes**

We can groupby different levels of a hierarchical index
using the `level` parameter:

>>> arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
...           ['Captive', 'Wild', 'Captive', 'Wild']]
>>> index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
>>> df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
...                   index=index)
>>> df
                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0
>>> df.groupby(level=0).mean()
        Max Speed
Animal
Falcon      370.0
Parrot       25.0
>>> df.groupby(level="Type").mean()
         Max Speed
Type
Captive      210.0
Wild         185.0

We can also choose to include NA in group keys or not by setting
`dropna` parameter, the default setting is `True`.

>>> l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
>>> df = pd.DataFrame(l, columns=["a", "b", "c"])

>>> df.groupby(by=["b"]).sum()
    a   c
b
1.0 2   3
2.0 2   5

>>> df.groupby(by=["b"], dropna=False).sum()
    a   c
b
1.0 2   3
2.0 2   5
NaN 1   4

>>> l = [["a", 12, 12], [None, 12.3, 33.], ["b", 12.3, 123], ["a", 1, 1]]
>>> df = pd.DataFrame(l, columns=["a", "b", "c"])

>>> df.groupby(by="a").sum()
    b     c
a
a   13.0   13.0
b   12.3  123.0

>>> df.groupby(by="a", dropna=False).sum()
    b     c
a
a   13.0   13.0
b   12.3  123.0
NaN 12.3   33.0

When using ``.apply()``, use ``group_keys`` to include or exclude the group keys.
The ``group_keys`` argument defaults to ``True`` (include).

>>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
...                               'Parrot', 'Parrot'],
...                    'Max Speed': [380., 370., 24., 26.]})
>>> df.groupby("Animal", group_keys=True).apply(lambda x: x)
          Animal  Max Speed
Animal
Falcon 0  Falcon      380.0
       1  Falcon      370.0
Parrot 2  Parrot       24.0
       3  Parrot       26.0

>>> df.groupby("Animal", group_keys=False).apply(lambda x: x)
   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0
File:      ~/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages/pandas/core/frame.py
Type:      method

Od posledn√≠ch verz√≠ frameworku (`1.5.0` a vy≈°≈°√≠) plat√≠, ≈æe pokud bude v√Ωsledkem `DataFrame` nebo `Series` mus√≠≈° uv√©st argument pro `group_keys=True`).

In [49]:
vystup = df_ovoce.groupby('pobocka', group_keys=True).apply(vypocitej_vydelek_za_artikl)

In [50]:
vystup.head(6)

          pobocka   ovoce  prodane_mnozstvi  cena  vydelek_pobocky
pobocka
A       0       A  jablko                10    20              200
        1       A   banan                15    12              180
B       2       B  jablko                 8    22              176
        3       B   banan                30    10              300
C       4       C  jablko                20    18              360
        5       C   banan                25    15              375

Na prvn√≠ pohled vypadaj√≠ metody `apply` a `transform` docela podobnƒõ.

Metoda `transform` je trochu omezenƒõj≈°√≠ ne≈æ `apply`.

Slou≈æ√≠ k aplikaci u≈æivatelem definovan√© nebo vestavƒõn√© funkce **na ka≈æd√Ω prvek** skupiny po seskupen√≠ s `groupby`.

`transform` mus√≠ vracet hodnotu stejn√©ho tvaru jako vstupn√≠ data.

V√Ωsledek metody `transform` **m√° stejn√Ω tvar jako p≈Øvodn√≠ data**.

#### Apply
* pot≈ôebuje≈° v√Ωsledek, kter√Ω **m√° jin√Ω tvar ne≈æ p≈Øvodn√≠ data**,
* um√≠ zpracovat **v√≠ce sloupeƒçk≈Ø souƒçasnƒõ**.

#### Transform
* pot≈ôebuje≈° v√Ωsledek, kter√Ω **m√° stejn√Ω tvar jako p≈Øvodn√≠ data**,
* um√≠ zpracovat **pouze jeden sloupeƒçek**.

In [70]:
df_rozdily = DataFrame({
    'KLIC': ['A','B','C'] * 3,
    'A': np.arange(9),
    'B': [1,2,3] * 3,
})

In [71]:
df_rozdily

  KLIC  A  B
0    A  0  1
1    B  1  2
2    C  2  3
3    A  3  1
4    B  4  2
5    C  5  3
6    A  6  1
7    B  7  2
8    C  8  3

#### `transform` vrac√≠ v√Ωsledky ve stejn√©m tvaru

In [72]:
def vypocitej_sumu(data):
    return data.sum()

In [76]:
seskup_df_rozdily_apply = df_rozdily.groupby('KLIC')['A'].apply(vypocitej_sumu)

In [77]:
seskup_df_rozdily_apply

KLIC
A     9
B    12
C    15
Name: A, dtype: int64

In [78]:
seskup_df_rozdily_trans = df_rozdily.groupby('KLIC')['A'].transform(vypocitej_sumu)

In [79]:
seskup_df_rozdily_trans

0     9
1    12
2    15
3     9
4    12
5    15
6     9
7    12
8    15
Name: A, dtype: int64

#### `apply` um√≠ pracovat s v√≠ce sloupeƒçky, `transform` jen s jedn√≠m

In [80]:
def vypocitej_rozdil(data):
    return data['B'] - data['A']

In [81]:
df_rozdily.groupby('KLIC').apply(vypocitej_rozdil)

KLIC
A     0    1
      3   -2
      6   -5
B     1    1
      4   -2
      7   -5
C     2    1
      5   -2
      8   -5
dtype: int64

In [82]:
df_rozdily.groupby('KLIC').transform(vypocitej_rozdil)

KeyError: 'B'

<br>

**üß† CVIƒåEN√ç üß†, procviƒç si funkc√≠ GroupBy a agregaƒçn√≠ funkce**

M√°≈° zadan√Ω takov√Ω datov√Ω set.
```
store,fruit,quantity_sold,price
A,apple,10,20
A,banana,15,12
B,apple,8,22
B,banana,30,10
C,apple,20,18
C,banana,25,15
```

N√°slednƒõ:
1. Pomoc√≠ metody `filter` vyber prodejny, kter√© prodaly **alespo≈à 30 produkt≈Ø**,
2. na filtrovan√©m datasetu pou≈æijte metodu `apply` pro v√Ωpoƒçet **celkov√©ho p≈ô√≠jmu z prodeje pro ka≈æd√Ω obchod**.

In [83]:
from pandas import DataFrame

In [100]:
df_prodej_hardware = DataFrame({
    'prodejna_id': (5, 4, 1, 5, 5, 1, 4, 2, 5, 1, 3, 1, 3, 4, 2, 1, 5, 4, 1, 5),
    'transakce_id': (1278, 1216, 1866, 1872, 1797, 1272, 1880, 1061, 1595, 1879, 1728,
       1341, 1396, 1698, 1018, 1176, 1611, 1395, 1444, 1232),
    'predmet_prodeje': ('grafick√°_karta', 'SSD', 'RAM', 'procesor', 'grafick√°_karta',
       'z√°kladn√≠_deska', 'SSD', 'SSD', 'grafick√°_karta', 'RAM',
       'grafick√°_karta', 'procesor', 'grafick√°_karta', 'SSD',
       'grafick√°_karta', 'RAM', 'z√°kladn√≠_deska', 'HDD', 'grafick√°_karta',
       'RAM'),
    'pocet_prodanych_ks': (1,  5,  6,  6,  3,  7,  9, 10,  8,  6,  8,  5,  8, 10,  4, 10,  8,
       10,  2,  5),
    'cena_predmetu': (19500.69874949, 19731.10951735, 14114.15342339, 10953.87914371,
        6535.78851758, 16369.00288429, 13852.2578648 ,  3671.03031723,
       18263.08009763, 16539.476237  , 19021.09830919, 14651.53041357,
       12461.59632075,  8655.73920767, 18688.2054254 , 17388.24584526,
        1381.76406707,  1014.1560027 ,  7841.03565412, 16305.78995025)
})

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    def vyber_prodej_vetsi_nez_limit(data, limit: int = 30):
        return data['pocet_prodanych_ks'].sum() > limit
        
    def vypocitej_celkovy_vydelek_prodejny(skupina):
        return (skupina['pocet_prodanych_ks'] * skupina['cena_predmetu']).sum()
    
    df_filtr_hardware = df_prodej_hardware.groupby('prodejna_id') \
                            .filter(vyber_prodej_vetsi_nez_limit)
    
    
    celkovy_vydelek = df_filtr_hardware.groupby('prodejna_id') \
                            .apply(vypocitej_celkovy_vydelek_prodejny)
    ```
</details>

---

## Pivot tabulky

Pivot tabulky jsou u≈æiteƒçn√© pro p≈ôehledn√© zobrazen√≠ a anal√Ωzu dat z tabulkov√Ωch zdroj≈Ø.

Pomoc√≠ pivot tabulek m≈Ø≈æe≈° seskupit data podle urƒçit√Ωch kategori√≠ a prov√©st agregaci hodnot.

Nejprve si p≈ôedstav situaci bez pivot tabulek, pomoc√≠ uk√°zky n√≠≈æe:

In [143]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 293 kB 2.7 MB/s eta 0:00:01
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages (from seaborn) (1.24.2)
Requirement already satisfied: pandas>=0.25 in /home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages (from seaborn) (3.7.1)
Requirement already satisfied: pytz>=2020.1 in /home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages (from pandas>=0.25->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.2)
Requirement already satisfied: cycler>=0.10 in /home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: importlib-resources>=3.2.0; python_version < "3.10" in /home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (5.12.0)
Requirement already satisfied: pillow>=6.2.0 in /home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: packaging>=20.0 in /home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: six>=1.5 in /home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas>=0.25->seaborn) (1.16.0)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in /home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages (from importlib-resources>=3.2.0; python_version < "3.10"->matplotlib!=3.6.1,>=3.1->seaborn) (3.15.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2

In [144]:
import numpy as np
import pandas as pd
import seaborn as sns

V t√©to ukazce pou≈æije≈° vzorov√° data t√Ωkaj√≠c√≠ se nehody Titaniku:

In [145]:
titanic = sns.load_dataset('titanic')

In [146]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

<br>

Pro jakoukoliv pokroƒçilou anal√Ωzu dat, pot≈ôebuje≈° √∫daj seskupit.

In [148]:
titanic.groupby('sex')[['survived']].mean().round(2)

        survived
sex
female      0.74
male        0.19

Takov√Ω pr≈Øzkum z t√©to studie ti d√° jasn√Ω pohled na vƒõc:
* 3 ze 4 ≈æen p≈ôe≈æily,
* 1 z 5 mu≈æ≈Ø p≈ôe≈æil.

Pokud bude≈° pot≈ôebovat detailnƒõj≈°√≠ anal√Ωzy, bude≈° pot≈ôebovat v√≠ce dat.

T≈ôeba situaci, kde kromƒõ pohlav√≠, bere≈° v potaz **t≈ô√≠du cestuj√≠c√≠ch**:

In [154]:
titanic.groupby(['sex', 'class'])['survived'].mean().round(2)

sex     class
female  First     0.97
        Second    0.92
        Third     0.50
male    First     0.37
        Second    0.16
        Third     0.14
Name: survived, dtype: float64

<br>

Metodou `unstack` si m≈Ø≈æe≈° vytvo≈ôit nov√© sloupeƒçky, kter√© jsou postaven√© na nov√©m Indexu, nebo Indexech (*Multiindex*):

In [155]:
titanic.groupby(['sex', 'class'])['survived'].mean().round(2).unstack()

class   First  Second  Third
sex
female   0.97    0.92   0.50
male     0.37    0.16   0.14

Takov√Ω pr≈Øzkum ti d√° skuteƒçnƒõ lep≈°√≠ pohled na vƒõc.

Souƒçasnƒõ ale roste n√°roƒçnost ohl√°≈°en√≠. Z√°pis "bobtn√°" a st√°v√° se n√°roƒçnƒõj≈°√≠m na p≈ôeƒçten√≠ a pochopen√≠.

### Pivot tabulka

Podobn√© ≈ôe≈°en√≠ ti nab√≠z√≠ funkce `pivot_table`:

In [161]:
titanic.pivot_table('survived', index='sex', columns='class').round(2)

class   First  Second  Third
sex
female   0.97    0.92   0.50
male     0.37    0.16   0.14

Z√°s√°dn√≠m rozd√≠lem je ov≈°em ƒçitelnost, kterou m√°≈° pro tuto variantu z√°pisu.

Pomoc√≠ vhodn√Ωch argument≈Ø, m≈Ø≈æe≈° doplnit vysvƒõtlivky tam, kde funkce `groupby` nemohla.

Stejnƒõ plat√≠, ≈æe pokud bude≈° pot≈ôebovat dal≈°√≠ Index, m≈Ø≈æe≈° si pomoci funkc√≠ `cut`:

In [158]:
age = pd.cut(titanic['age'], [0, 18, 80])

In [160]:
titanic.pivot_table('survived', ['sex', age], 'class').round(2)

class            First  Second  Third
sex    age
female (0, 18]    0.91    1.00   0.51
       (18, 80]   0.97    0.90   0.42
male   (0, 18]    0.80    0.60   0.22
       (18, 80]   0.38    0.07   0.13

<br>

**üß† CVIƒåEN√ç üß†, procviƒç si pivot tabulky**

Ze zadan√©ho datasetu vytvo≈ô **pivot tabulku**, kter√° zobraz√≠ **poƒçet prodan√Ωch kus≈Ø ovoce** pro **ka≈æd√Ω obchod** a **druh ovoce**.

In [162]:
ovoce_data = {'pobocka': ['A', 'A', 'B', 'B', 'C', 'C'],
        'ovoce': ['jablko', 'banan', 'jablko', 'banan', 'jablko', 'banan'],
        'prodane_mnozstvi': [10, 15, 8, 30, 20, 25],
        'cena': [20, 12, 22, 10, 18, 15]}

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    pivot_tabulka = df_ovoce.pivot_table(values="prodane_mnozstvi", index="pobocka", columns="ovoce")
    ```
</details>

## ƒåasov√© ≈ôady

* √∫vodn√≠ motivace,
* datum & ƒças,
* ƒçetnosti,
* resampling,
* cviƒçen√≠ 4.

ƒå√°st frameworku byla vyvinuta za √∫ƒçelem finanƒçn√≠ho modelov√°n√≠.

Proto je v√≠ce ne≈æ dob≈ôe vybavena sadou n√°stroj≈Ø, kter√© um√≠ pracovat s daty, ƒçasem a ƒçasov√Ωmi objekty.

Jde nap≈ô√≠klad o √∫daje typu:
* *timestampy*, √∫daj odkazuj√≠c√≠ na konkr√©tn√≠ ƒçasov√Ω okam≈æik (nap≈ô. 4. ƒçervence 2015 v 7:00 hod.),
* *ƒçasov√© intervaly*, tedy obdob√≠ odkazuj√≠ na d√©lku ƒçasu mezi konkr√©tn√≠m zaƒç√°tkem a koncem (nap≈ô. intervaly ze dne na den),
* *time delta* objekty, tedy p≈ôesn√© d√©lky ƒçasu (nap≈ô. 22,22 sekundy).

### Data a ƒças v Pythonu

Standardn√≠ v√Ωbavou Pythonu jsou knihovny `datetime` a `dateutil`:

In [167]:
from datetime import datetime

In [168]:
datetime(year=2023, month=4, day=5)

datetime.datetime(2023, 4, 5, 0, 0)

<br>

Nebo knihovna pro parsov√°n√≠ datov√Ωch typ≈Ø z r≈Øzn√Ωch stringov√Ωch zad√°n√≠:

In [169]:
from dateutil import parser

In [172]:
date = parser.parse("5th of april, 2023")

In [173]:
date

datetime.datetime(2023, 4, 5, 0, 0)

Kde pomoc√≠ metody `strftime` m≈Ø≈æe≈° vypsat den:

In [174]:
date.strftime("%A")

'Wednesday'

### Data a ƒças v numpy

Nƒõkter√© nedostatky uvnit≈ô knihoven `datetime` a `dateutil` vedli ke vzniku sady n√°stroj≈Ø.

Tyto dopl≈àky vznikly pod hlaviƒçkou knihovny `numpy`.

In [180]:
from numpy import array, arange

In [178]:
date = array('2023-04-05', dtype=np.datetime64)

In [179]:
date

array('2023-04-05', dtype='datetime64[D]')

<br>

Pokud pot≈ôebuje≈° pole n√°sleduj√≠c√≠ch 7 dn√≠:

In [181]:
date + arange(7)

array(['2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
       '2023-04-09', '2023-04-10', '2023-04-11'], dtype='datetime64[D]')

Vzhledem k jednotn√©mu datovu typu v poli pro **numpy** `datetime64` m≈Ø≈æe tento typ operace
prov√°dƒõt mnohem rychleji, ne≈æ p≈ô√≠mo v Pythonu `datetime` objekty, zejm√©na kdy≈æ objekty nab√Ωvaj√≠ na velikosti.

### Data a ƒças v pand√°ch

Jde o kombinace objekt≈Ø z obou p≈ôedchoz√≠ch podkapitol.

Ty d√°vaj√≠ dohromady to nejlep≈°√≠ prost≈ôedky pro zach√°zen√≠ s ƒçasem.

In [184]:
from pandas import to_datetime

In [185]:
date = to_datetime("5th of April, 2023")

In [186]:
date

Timestamp('2023-04-05 00:00:00')

In [187]:
date.strftime("%A")

'Wednesday'

### ƒåasov√© ≈ôady

V podstatƒõ jde o hlavn√≠ n√°stroj, kter√Ω tato knihovna dovede nab√≠dnout.

#### Indexovn√≠ ƒçasem

Uk√°zka, kde vytvo≈ô√≠≈° sloupeƒçek, kter√Ω obsahuje jenom *dummy* **data a datumy**:

In [193]:
from pandas import DatetimeIndex, Series

In [194]:
datumy = ["2023-04-05", "2022-04-05", "2021-04-05", "2020-04-05"]

In [195]:
indexy = DatetimeIndex(datumy)

In [196]:
hodnoty = [to_datetime(den).strftime("%A") for den in datumy]

In [197]:
df_hodnoty = Series(hodnoty, index=indexy)

In [198]:
df_hodnoty

2023-04-05    Wednesday
2022-04-05      Tuesday
2021-04-05       Monday
2020-04-05       Sunday
dtype: object

In [199]:
type(indexy)

pandas.core.indexes.datetimes.DatetimeIndex

In [202]:
df_hodnoty["2020": "2022"]

/tmp/ipykernel_10497/3590313258.py:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  df_hodnoty["2020": "2022"]

2022-04-05    Tuesday
2021-04-05     Monday
2020-04-05     Sunday
dtype: object

In [ ]:
#### Z√°kladn√≠ objekty

In [ ]:
Timestamp + DatetimeIndex

In [ ]:
date_range

In [ ]:
frequencies and offsets

In [ ]:
resampling, shifting, windwing

---