### t콏et칤 lekce

2. `pandas` I.,
    - 칔vod do frameworku, pro캜 je dobr칠 jej ovl치dat, kde s n칤m pracovat?
    - jak칠 jsou z치kladn칤 datov칠 typy? (Dframe, series, 캜asov칠 콏ady)
    - z치kladn칤 orientace, indexov치n칤,

## Druh치 lekce, kaggle
* reading and writting DFs,
* indexing, selecting rows & columns, conditional selection,
* functions, map and lambdas,
* groupby, multiindex, sorting values,
* data types or Dtypes, convert data types,
* missing values, fillna, replace,
* rename, merge, join, concat.
* missing data points, the reason why are the data missing, drop missing values, filling missing vals,
* scaling: changing the range, normalization: changing shape,
* parsing dates, selecting days,
* encoding: what are encodings, encode, decode, identifying and saving examples,
* inconsistency: fuzzywuzzy

## Druh치 lekce, kniha
* pandas objects: DFs, Series, Index,
* indexing and selection: series, DFs,
* operating: w/ numpy (hard to implement without numpy),
* handling missing data: Nan and None in pandas,detecting, droping, filling null values,
* indexing: single index, multiple indexes(bad and good example), indexing and slicing multiindex,
* concat, append, merge, join,
* agregation: count, first, last, mean, median, min, max,
* groupBy: split, apply, combine,
* pivot table, methods similar to python methods, regex finding,slice & other miscellaneous methods,
* Time series, to_datetime, data structures of time series, date_range, period_range, timedelta_range,
* frenquencies & offsets, resampling, time shifting,
* eval and query, comparing eval and without eval,

## Druh치 lekce, Honza
* manipulace, 칰vod, instalace,
* DataFrame,
* Series,
* Na캜칤t치n칤 dat,
* selekce dat,
* indexov치n칤, loc a iloc,
* p콏ejmenov치n칤, p콏id치v치n칤, odstra켿ov치n칤 sloupc콢,
* Nan, null, nahrazov치n칤,
* concat, merge, drop_duplicates, sort_values,
* unique, apply,
* kopie a pr치ce s kopiemi,
* statistika,
* 캜ten칤 dat online,

* [Spojov치n칤 dat](#Spojov치n칤-dat),
    - [spojov치n칤 s concat](#Spojov치n칤-s-concat),
    - [spojov치n칤 s concat a arg. join](#concat-a-voliteln칳-argument-join),
    - [spojov치n칤 s metodou append](#Spojov치n칤-pomoc칤-metody-append),
    - [spojov치n칤 s merge](#Spojov치n칤-pomoc칤-merge),
    - [spojov치n칤 s metodou join](#Spojen칤-pomoc칤-index콢,-join),
    - [cvi캜en칤 1]().
* [Agregace](),
    - [jednoduch치 agregace](),
    - [seskupov치n칤 groupby](),
    - [agregace](),
    - [filtrov치n칤](),
    - [transformace](),
    - [apply](),
    - [cvi캜en칤 2]().
* [Pivot tabulka](),
    - [칰vodn칤 motivace](),
    - [syntaxe tabulky](),
    - [dopl켿uj칤c칤 mo쬹osti](),
    - [cvi캜en칤 3]().
* [캛asov칠 콏ady](),
    - [칰vodn칤 motivace](),
    - [datum & 캜as](),
    - [캜etnosti](),
    - [resampling](),
    - [cvi캜en칤 4]().
* [High performance](),
    - [칰vodn칤 motivace](),
    - [eval](),
    - [query](),
    - [caveats]().

<br>

## Spojov치n칤 dat

---


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.APOjuHGvkM0wQaUx9ELKAgHaHa%26pid%3DApi&f=1&ipt=a8b2b692c40e190d4b28c164bf13e6c944702a69944035a4ef9053aa6ea1b190&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

Takov칳mi operacemi si m콢쬰코 p콏edstavit jednoduch칠 operace jako **spojov치n칤** (*konkatenace*) **dvou a v칤ce dataset콢** a po slo쬴t캩j코칤 joiny podobn캩 jako u datab치z칤.

`pandas` obsahuje r콢zn칠 *funkce* a *metody*, kter칠 umo쮄갓j칤 tento zp콢sob pr치ce.

### Spojov치n칤 s `concat`

---

Funkce concat() v pandas umo쮄갓je spojit dva nebo v칤ce:
1. sloupe캜k콢,
2. tabulek.

*Spojen칤* m콢쬰코 prov칠st:
1. **horizont치ln캩**, po sloupc칤ch,
2. **vertik치ln캩**, po 콏치dc칤ch.

Pou쬴t칤 funkce `concat()` spo캜칤v치 v p콏ed치n칤 seznamu objekt콢, kter칠 chce코 spojit, a parametru `axis`, kter칳 ur캜uje osu, podle kter칠 se m치j칤 objekty spojit:

#### Spojen칤 sloupe캜k콢

In [ ]:
from pandas import concat, Series, DataFrame

In [ ]:
sloupec_1 = Series(['A', 'B', 'C'], index=[1, 2, 3])
sloupec_2 = Series(['D', 'E', 'F'], index=[4, 5, 6])

In [ ]:
spojene_sloupce = concat([sloupec_1, sloupec_2])

In [ ]:
spojene_sloupce

#### Spojen칤 tabulek

In [ ]:
uzivatele_1 = {
    'jmeno': ['Matou코', 'Marek', 'Luk치코'],
    'vek': [25, 30, 35]
}

In [ ]:
uzivatele_2 = {
    'jmeno': ['Petr', 'Jan', 'Michal'],
    'vek': [40, 45, 50]
}

In [ ]:
df_uzivatele_1 = DataFrame(uzivatele_1)
df_uzivatele_2 = DataFrame(uzivatele_2)

In [ ]:
df_spojene = concat([df_uzivatele_1, df_uzivatele_2], axis=0)

In [ ]:
df_spojene.head()

Tady se ov코em zduplikovali hodnoty n캩kter칳ch index콢.

Ty je pot콏eba opravit t칤mto postupem:
1. **Vytvo콏칤m nov칳 sloupe캜ek** pro indexy,
2. **odstran칤m star칳 sloupe캜ek** s duplicitami.

In [ ]:
df_spojene = df_spojene.reset_index()

In [ ]:
df_spojene.head()

In [ ]:
df_spojene = df_spojene.drop("index", axis=1)

In [ ]:
df_spojene

Pro odchyt치v치n칤 duplicitn칤ch index콢 m콢쬰코 doplnit parametr `verify_integrity=True`, p콏칤padn캩 pokud je irelevantn칤, ignorovat jej 칰pln캩 `ignore_index=True`.

### `concat` a voliteln칳 argument `join`

---

V jednoduch칳ch uk치zk치ch, jako jsou ty v칳코e, sta캜ilo tabulky a sloupe캜ky spojit.

To prakticky nen칤 v쬯y ide치ln칤 콏e코en칤, proto쬰 n캩kter칠 sloupe캜ky m콢쬺u, ale nemus칤 b칳t shodn칠.

In [ ]:
from pandas import DataFrame, concat

In [ ]:
df_vzorek_1 = DataFrame({"A": ["A1", "A2"], "B": ["B1", "B2"], "C": ["C1", "C2"]}, index=[1, 2])

In [ ]:
df_vzorek_2 = DataFrame({"B": ["B3", "B4"], "C": ["C3", "C4"], "D": ["D3", "D4"]}, index=[3, 4])

In [ ]:
vystup = concat([df_vzorek_1, df_vzorek_2])

In [ ]:
vystup

Pokud n캩kter치 data chyb캩j칤, jsou automaticky vypln캩n치 jako **nezn치m칠 hodnoty**.

콎e코en칤m takov칠 situace m콢쬰코 b칳t zaveden칤 jin칠ho zp콢sobu spojov치n칤.

Tedy nepou쮂셨at defaultn칤 argument `join='outer'`, ale `join='inner'`:

In [ ]:
vystup_bez_na = concat([df_vzorek_1, df_vzorek_2], join='inner')

In [ ]:
vystup_bez_na

### Spojov치n칤 pomoc칤 metody `append`

---

Jde **o zastaral칠 콏e코en칤**, ale p콏esto se s n칤m m콢쬰코 setkat.

Jeliko je spojov치n칤 natolik b캩쬹ou operac칤, vznikl je코t캩 jeden zp콢sob, kter칳 je dokonce stru캜n캩j코칤 jako `concat`.

Jde o metodu `append`:

In [ ]:
df_vzorek_3 = DataFrame({"A": ["A1", "A2"], "B": ["B1", "B2"]}, index=[1, 2])

In [ ]:
df_vzorek_4 = DataFrame({"A": ["A3", "A4"], "B": ["B3", "B4"]}, index=[3, 4])

In [ ]:
df_vzorek_3.append(df_vzorek_4)

Tato metoda p콏itom neupravovala p콢vodn칤 objekty (jako `append` a `extend` pro `list`), ale vytvo콏ila nov칳 objekt.

### Spojov치n칤 pomoc칤 `merge`

---

Dal코칤 funkc칤 pro spojov치n칤 `DataFrame` objekt콢 je `merge`.

Tato funkce je vhodn치 pro spojov치n칤 DataFrame objekt콢, kter칠 **maj칤 spole캜n칠 sloupce**.

M콢쬰코 l칠pe zad치vat typ spojen칤 (parametr `how='inner' | 'outer' | 'left' | 'join'`).

D치le ti umo쬹칤 definovat sloupec, nebo sloupce, na kter칳ch chce코 spojen칤 prov칠st (parametr `on`).

In [ ]:
from pandas import merge

In [ ]:
uzivatele_1 = {
    'jmeno': ['Alice', 'Bob', 'Charlie', 'David'],
     'vek': [25, 30, 35, 40],
     'mesto': ['Brno', 'Praha', 'Plzen', 'Ostrava']
}

In [ ]:
uzivatele_2 = {
    'jmeno': ['Alice', 'David', 'Emma', 'Frank'],
     'pocet_prijemcu': [100, 200, 150, 250]
}

In [ ]:
df_uzivatele_1 = DataFrame(uzivatele_1)

In [ ]:
df_uzivatele_2 = DataFrame(uzivatele_2)

In [ ]:
vystup = merge(df_uzivatele_1, df_uzivatele_2, on='jmeno', how='outer')

In [ ]:
vystup

Obecn캩 plat칤, 쬰 pokud pot콏ebuje코 dva nebo v칤ce `DataFrame` objekt콢 podle **spole캜n칠ho sloupce nebo sloupc콢**, pou쬴j funkci `merge()`.

Pokud chce코 jenom **p콏idat dal코칤 콏치dky nebo sloupce** do existuj칤c칤ho `DataFrame` objektu, pou쬴j funkci `concat`.

In [ ]:
df_uzivatele_1

In [ ]:
df_uzivatele_2

In [ ]:
vystup_left_join = merge(df_uzivatele_1, df_uzivatele_2, on='jmeno', how='left')

In [ ]:
vystup_left_join

V uk치zce v칳코 je pou쬴t칳 *left join*.

Tedy ve v칳sledku uvid칤코 celou prvn칤 (levou tabulku) a z druh칠 pouze ty z치znamy, kter칠 maj칤 ve spojovac칤m sloupci `jmeno` spole캜nou hodnotu.

In [ ]:
df8 = DataFrame({
    'jmeno': ['Bob', 'Jake', 'Lisa', 'Sue'],
    'poradi': [1, 2, 3, 4]
})

In [ ]:
df9 = DataFrame({
    'jmeno': ['Bob', 'Jake', 'Lisa', 'Sue'],
    'poradi': [3, 1, 4, 2]
})

In [ ]:
vystup_konflikt = merge(df8, df9, on="jmeno")

In [ ]:
vystup_konflikt

Funkce sama dopln칤 p콏칤pony, aby rozli코ila mezi ob캩ma p콢vodn칤mi sloupci.

Pokud pot콏ebuje코 vlastn칤 p콏칤pony, m콢쬰코 vyzkou코et voliteln칳 argument pro `suffixes`:

In [ ]:
vystup_vlastni_pripony = merge(df8, df9, on='jmeno', suffixes=('_levy', '_pravy'))

In [ ]:
vystup_vlastni_pripony

### Spojen칤 pomoc칤 index콢, `join`

---

Tato metoda slou쮂 k propojen칤 dvou DataFrame objekt콢 na z치klad캩 jejich index콢 nebo hodnot.

Je velice podobn치 funkci `merge` ale je p콏칤mo sou캜치st칤 `DataFrame` objektu a je snaz코칤 ji aplikovat:

In [ ]:
uzivatele_1 = {
    'jmeno': ['Alice', 'Bob', 'Petr'],
     'vek': [25, 30, 35]
}

In [ ]:
uzivatele_2 = {
    'jmeno': ['Alice', 'Bob', 'Petr'],
    'pocet_prijemcu': [100, 150, 200]
}

In [ ]:
df_uzivatele_1 = DataFrame(uzivatele_1)

In [ ]:
df_uzivatele_2 = DataFrame(uzivatele_2)

In [ ]:
df_uzivatele_1 = df_uzivatele_1.set_index('jmeno')
df_uzivatele_2 = df_uzivatele_2.set_index('jmeno')

In [ ]:
vysledek_join_metody = df_uzivatele_1.join(df_uzivatele_2)

In [ ]:
vysledek_join_metody

Hlavn칤 rozd칤l mezi t캩mito funkcemi je zp콢sob ur캜en칤 sloupce nebo sloupc콢, podle kter칳ch se m치 propojen칤 prov칠st.

Metoda `join()` propojuje DataFrame objekty **na z치klad캩 jejich index콢**, zat칤mco funkce `merge()` umo쮄갓je propojit `DataFrame` objekty **na z치klad캩 hodnoty v jednom nebo v칤ce sloupc칤ch**.

<br>

**游 CVI캛EN칈 游, procvi캜 si spojov치n칤**

M치코 dv캩 tabulky s informacemi o z치kazn칤c칤ch tv칠 firmy.

Tabulky `zakaznici_objednavky` a `zakaznici_info`.

Tv칳m 칰kolem je propojit tyto tabulky podle zad치n칤:
1. Pou쬴j funkci `merge()` k propojen칤 obou tabulek podle spole캜n칠ho kl칤캜e, kter칳m je sloupec `id_zakaznika`,
2. Pou쬴j funkci `concat()` k p콏id치n칤 sloupce `celkova_cena_objednavky`, kter칳 bude vypo캜칤t치n jako sou캜et ceny v코ech objedn치vek dan칠ho z치kazn칤ka,
3. Vyfiltruj pouze informace o z치kazn칤c칤ch ze st치tu `'USA'` a ulo v칳slednou tabulku.

In [ ]:
import pandas as pd

In [ ]:
df_zakaznici_info = pd.DataFrame({'id_zakaznika': [1, 2, 3, 4],
                               'jmeno': ['Jan Nov치k', 'Petr Soukup', 'Marie Hor치kov치', 'Jana Svobodov치'],
                               'adresa': ['Hlavn칤 15', 'Druh치 10', 'T콏et칤 25', '캛tvrt치 20'],
                               'mesto': ['Praha', 'Brno', 'Ostrava', 'New York'],
                               'stat': ['CZ', 'CZ', 'CZ', 'USA']})

In [ ]:
df_zakaznici_objednavky = pd.DataFrame({'id_zakaznika': [1, 2, 3, 4, 1, 2],
                                     'datum_objednavky': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01'],
                                     'nazev_produktu': ['PC', 'Notebook', 'Monitor', 'Tiskarna', 'My코', 'Kl치vesnice'],
                                     'cena': [15000, 20000, 5000, 3000, 500, 800]})

<details>
    <summary>郊윒잺 콎e코en칤</summary>
    
    ```python
    spojene_tabulky = pd.merge(df_zakaznici_info, df_zakaznici_objednavky, on='id_zakaznika')

    celkova_cena_objednavek = spojene_tabulky.groupby('id_zakaznika')['cena'].sum().reset_index()
    celkova_cena_objednavek = celkova_cena_objednavek.rename(columns={'cena': 'celkova_cena_objednavky'})
    spojene_tabulky = pd.concat([spojene_tabulky, celkova_cena_objednavek['celkova_cena_objednavky']], axis=1)

    spojene_tabulky = spojene_tabulky[spojene_tabulky['stat'] == 'USA']
    ```
</details>

---