### ƒçtvrt√° lekce

2. `pandas` II.,
    - file io, encoding, chybƒõj√≠c√≠ data,
    - kombinace dataset≈Ø, concat, append, merge, join,
    - ƒçasov√© ≈ôady, mo≈æn√°?
    - eval() a query() jako high-perf operace.

### t≈ôet√≠ lekce

2. `pandas` I.,
    - √övod do frameworku, proƒç je dobr√© jej ovl√°dat, kde s n√≠m pracovat?
    - jak√© jsou z√°kladn√≠ datov√© typy? (Dframe, series, ƒçasov√© ≈ôady)
    - z√°kladn√≠ orientace, indexov√°n√≠,

## Druh√° lekce, kaggle
* reading and writting DFs,
* indexing, selecting rows & columns, conditional selection,
* functions, map and lambdas,
* groupby, multiindex, sorting values,
* data types or Dtypes, convert data types,
* missing values, fillna, replace,
* rename, merge, join, concat.
* missing data points, the reason why are the data missing, drop missing values, filling missing vals,
* scaling: changing the range, normalization: changing shape,
* parsing dates, selecting days,
* encoding: what are encodings, encode, decode, identifying and saving examples,
* inconsistency: fuzzywuzzy

## Druh√° lekce, kniha
* pandas objects: DFs, Series, Index,
* indexing and selection: series, DFs,
* operating: w/ numpy (hard to implement without numpy),
* handling missing data: Nan and None in pandas,detecting, droping, filling null values,
* indexing: single index, multiple indexes(bad and good example), indexing and slicing multiindex,
* concat, append, merge, join,
* agregation: count, first, last, mean, median, min, max,
* groupBy: split, apply, combine,
* pivot table, methods similar to python methods, regex finding,slice & other miscellaneous methods,
* Time series, to_datetime, data structures of time series, date_range, period_range, timedelta_range,
* frenquencies & offsets, resampling, time shifting,
* eval and query, comparing eval and without eval,

## Druh√° lekce, Honza
* manipulace, √∫vod, instalace,
* DataFrame,
* Series,
* Naƒç√≠t√°n√≠ dat,
* selekce dat,
* indexov√°n√≠, loc a iloc,
* p≈ôejmenov√°n√≠, p≈ôid√°v√°n√≠, odstra≈àov√°n√≠ sloupc≈Ø,
* Nan, null, nahrazov√°n√≠,
* concat, merge, drop_duplicates, sort_values,
* unique, apply,
* kopie a pr√°ce s kopiemi,
* statistika,
* ƒçten√≠ dat online,

<br>

## ƒåasov√© ≈ôady

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.odqbr-09dxxBQjF7x7NyBAHaII%26pid%3DApi&f=1&ipt=5b4a03c1dd38b52108237102ebb350595a5d6ea6a50572f5897ca89fbf5b5445&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

ƒå√°st *frameworku* byla vyvinuta za √∫ƒçelem **finanƒçn√≠ho modelov√°n√≠**.

Proto je v√≠ce ne≈æ dob≈ôe vybavena sadou n√°stroj≈Ø, kter√© um√≠ pracovat **s daty, ƒçasem a ƒçasov√Ωmi objekty**.

<br>

Uplatnƒõn√≠:
* **Anal√Ωza a predikce**: ƒåasov√© ≈ôady umo≈æ≈àuj√≠ analyzovat v√Ωvoj hodnot v ƒçase a p≈ôedpov√≠dat budouc√≠ trendy nebo sez√≥nn√≠ zmƒõny. To je kl√≠ƒçov√© v oblastech jako finance, ekonomika, prodej, poƒças√≠ a mnoho dal≈°√≠ch.

* **Efektivn√≠ manipulace s ƒçasem**: Pandas poskytuje n√°stroje pro efektivn√≠ pr√°ci s ƒçasov√Ωmi ≈ôadami, co≈æ zjednodu≈°uje √∫koly, jako je agregace, interpolace nebo ƒçasov√© posuny. D√≠ky integrovan√Ωm funkc√≠m m≈Ø≈æete snadno pracovat s daty r≈Øzn√Ωch ƒçasov√Ωch frekvenc√≠ a konvertovat mezi nimi.

* **ƒåasovƒõ z√°visl√© anal√Ωzy**: ƒåasov√© ≈ôady umo≈æ≈àuj√≠ prov√°dƒõt ƒçasovƒõ z√°visl√© anal√Ωzy, jako je detekce zmƒõn v trendech, identifikace sez√≥nn√≠ch vliv≈Ø nebo identifikace ƒçasov√Ωch z√°vislost√≠ mezi promƒõnn√Ωmi.

* **Flexibiln√≠ indexace**: Pandas podporuje flexibiln√≠ indexaci ƒçasov√Ωch ≈ôad, co≈æ usnad≈àuje filtrov√°n√≠, ≈ôazen√≠ a v√Ωbƒõr dat na z√°kladƒõ ƒçasov√Ωch znaƒçek nebo rozsah≈Ø.

* **Kompatibilita s dal≈°√≠mi knihovnami**: Pandas je kompatibiln√≠ s mnoha dal≈°√≠mi knihovnami pro anal√Ωzu ƒçasov√Ωch ≈ôad, jako je statsmodels nebo scikit-learn. To usnad≈àuje integraci a roz≈°√≠≈ôen√≠ va≈°ich anal√Ωz s pokroƒçilej≈°√≠mi metodami a algoritmy.
    
<br>

Jde nap≈ô√≠klad o √∫daje typu:
* *timestampy*, √∫daj odkazuj√≠c√≠ na konkr√©tn√≠ ƒçasov√Ω okam≈æik (nap≈ô. `4. ƒçervence 2015 v 7:00 hod.`),
* *ƒçasov√© intervaly*, tedy obdob√≠ odkazuj√≠ na d√©lku ƒçasu mezi konkr√©tn√≠m zaƒç√°tkem a koncem (nap≈ô. intervaly ze dne na den),
* *time delta* objekty, tedy p≈ôesn√© d√©lky ƒçasu (nap≈ô. 22,22 sekundy).

#### Data a ƒças v Pythonu

---

Standardn√≠ v√Ωbavou Pythonu jsou knihovny `datetime`:

In [ ]:
from datetime import datetime

In [ ]:
datetime(year=2023, month=4, day=5)

<br>

Nebo knihovna `dateutil` pro parsov√°n√≠ datov√Ωch typ≈Ø z r≈Øzn√Ωch stringov√Ωch zad√°n√≠:

In [ ]:
from dateutil import parser

In [ ]:
date = parser.parse("5th of april, 2023")

In [ ]:
date

Kde pomoc√≠ metody `strftime` m≈Ø≈æe≈° vypsat den:

In [ ]:
date.strftime("%A")

#### Data a ƒças v numpy

---

Nƒõkter√© nedostatky uvnit≈ô knihoven `datetime` a `dateutil` vedli ke vzniku sady n√°stroj≈Ø.

Tyto dopl≈àky vznikly pod hlaviƒçkou knihovny `numpy`.

In [ ]:
from numpy import array, arange

In [ ]:
date = array('2023-04-05', dtype=np.datetime64)

In [ ]:
date

<br>

Pokud pot≈ôebuje≈° pole n√°sleduj√≠c√≠ch 7 dn√≠:

In [ ]:
date + arange(7)

<br>

Vzhledem k jednotn√©mu datovu typu v poli pro **numpy** `datetime64` m≈Ø≈æe tento typ operace
prov√°dƒõt mnohem rychleji, ne≈æ p≈ô√≠mo v Pythonu `datetime` objekty, zejm√©na kdy≈æ objekty nab√Ωvaj√≠ na velikosti.

#### Data a ƒças v pand√°ch

---

Jde o kombinace objekt≈Ø z obou p≈ôedchoz√≠ch podkapitol.

Ty d√°vaj√≠ dohromady to nejlep≈°√≠ prost≈ôedky pro zach√°zen√≠ s ƒçasem.

In [ ]:
from pandas import to_datetime

In [ ]:
date = to_datetime("5th of April, 2023")

In [ ]:
date

In [ ]:
date.strftime("%A")

<br>

### ƒåasov√© ≈ôady

---

V podstatƒõ jde o hlavn√≠ n√°stroj, kter√Ω tato knihovna dovede nab√≠dnout.

#### Indexovn√≠ ƒçasem
`DatetimeIndex` obsahuje ƒçasov√© znaƒçky (*timestamp*), kter√© jsou ulo≈æeny ve form√°tu `datetime64` s nanosekundovou p≈ôesnost√≠.

Tento objekt umo≈æ≈àuje efektivn√≠ pr√°ci s ƒçasov√Ωmi ≈ôadami a poskytuje mnoho funkc√≠ pro manipulaci s daty a ƒçasy.

V√Ωhody pr√°ce s `DatetimeIndex` objektem:
* ƒåasov√© z√≥ny,
* frekvence,
* ƒçasovƒõ z√°visl√© selekce,
* atributy ƒçasov√Ωch znaƒçek,
* operace s ƒçasem.

In [ ]:
from pandas import DatetimeIndex, Series

In [ ]:
datumy = ["2023-04-05", "2022-04-05", "2021-04-05", "2020-04-05"]

In [ ]:
indexy = DatetimeIndex(datumy)

In [ ]:
hodnoty = [to_datetime(den).strftime("%A") for den in datumy]

In [ ]:
df_hodnoty = Series(hodnoty, index=indexy)

In [ ]:
df_hodnoty

In [ ]:
type(indexy)

In [ ]:
df_hodnoty["2020": "2022"]

<br>

### Z√°kladn√≠ objekty

---

Mezi z√°kladn√≠ objekty pro pr√°ci s ƒçasem pat≈ô√≠:
* `Timestamp` typ (souvisej√≠c√≠ struktura Indexu `DatetimeIndex`,
* `Period` typ (.. `PeriodIndex`),
* `Timedelta` typ (.. `TimedeltaIndex`).

#### Timestamp & DatetimeIndex

Nejƒçastƒõj≈°√≠ datov√© typy, kter√© lze vyvolat p≈ô√≠mo, ov≈°em bƒõ≈ænƒõj≈°√≠ je pracovat s funkc√≠ `to_datetime`.

Funkce `to_datetime` um√≠ parsovat r≈Øzn√© stringov√© form√°ty.

In [ ]:
from pandas import to_datetime

#### Pr√°ce s jedn√≠m datumem

In [ ]:
datum = to_datetime("05/04/2023")

In [ ]:
datum

In [ ]:
type(datum)

Pokud do funkce `to_datetime` vlo≈æ√≠≈° jedinou hodnotu, vrac√≠ objekty typu `Timestamp`.

<br>

#### Specifick√Ω form√°t

Pokud se parser ztrat√≠ nebo tvoje zad√°n√≠ neodpov√≠d√° jeho vyhotoven√≠:

In [ ]:
pd.to_datetime("12-11-2010 00:00", format="%d-%m-%Y %H:%M")

<br>

#### Pr√°ce s nƒõkolika datumy

In [ ]:
datumy = to_datetime([
    datetime(2023, 4, 5), "5th of April 2023", "2023-Apr-5", "05-04-2023", "20230405"]
)

In [ ]:
datumy

In [ ]:
type(datumy)

Zat√≠mco pole hodnot s datumy, kter√© funkce `to_datetime` zpracuje vrac√≠ objekt typu `DatetimeIndex`.

<br>

Objekt `DatetimeIndex` potom m≈Ø≈æe≈° konvertovat na `PeriodIndex` pomoc√≠ *metody* `to_period`:

In [ ]:
datumy.to_period?

<br>

Tato metoda je u≈æiteƒçn√°, pokud chcete p≈ôev√©st ƒçasov√© ≈ôady **na urƒçit√© ƒçasov√© obdob√≠**.

Kdy≈æ bude≈° t≈ôeba pot≈ôebovat p≈ôev√©st hodnoty **z denn√≠ch dat na mƒõs√≠ƒçn√≠ data**.

#### Denn√≠ data

In [ ]:
datumy.to_period("D")

#### Mƒõs√≠ƒçn√≠ data

In [ ]:
datumy.to_period("M")

In [ ]:
data = {
    'date': pd.date_range(start='2022-01-01', periods=10, freq='D'),
    'sales': [100, 102, 105, 107, 110, 112, 115, 117, 120, 122]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.set_index('date', inplace=True)

In [ ]:
df_period = df.to_period(freq='Y')

<br>

### TimedeltaIndex

---

Jde o rozd√≠l v jednotk√°ch ƒçasu.

Nejƒçastƒõji se s t√≠mto objektem setk√°≈°, pokud pot≈ôebuje≈° z√≠skat **rozd√≠l mezi dvƒõma datumy**.

In [ ]:
specialni_datumy = to_datetime([
    datetime(2022, 4, 5), "5th of April 2021", "2020-Apr-5", "05-04-2019", "20180405"]
)

In [ ]:
datumy - specialni_datumy

<br>

### Funkce `date_range`

---

Aby bylo zad√°n√≠ ≈ôady (sekvence) dat pohodlnƒõj≈°√≠, vyzkou≈°ej funkci `date_range`.

Obdobnƒõ potom pracuj√≠ souvisej√≠c√≠ funkce:
* `date_range`, timestampy,
* `period_range`, periody,
* `timedelta_range`, pro delty.

In [ ]:
from pandas import date_range

<br>

#### Poƒçet period

In [ ]:
datumy_ind = date_range("01-01-1992", periods=8)

In [ ]:
datumy_ind

<br>

#### Frekvence

In [ ]:
datumy_mesicne_ind = date_range("01-01-1992", periods=8, freq="M")

In [ ]:
datumy_mesicne_ind

<br>

#### Hodinov√© periody

In [ ]:
from pandas import timedelta_range

In [ ]:
hodinove_ind = timedelta_range(0, periods=12, freq="H")

In [ ]:
hodinove_ind

<br>

### Frekvence

ƒåasovou paletou frekvenc√≠, kterou framework `pandas` nab√≠z√≠ je tato tabulka:

| String | Popisek |
| :-: | :- |
| `D` | kalend√°≈ôn√≠ den |
| `W` | t√Ωden |
| `M` | konec mƒõs√≠ce |
| `Q` | konec ƒçtvrtlet√≠ |
| `A` | konec roku |
| `H` | hodiny |
| `T` | minuty |
| `S` | vte≈ôiny |
| `B` | pracovn√≠ den |
| `BM` | konec pracovn√≠·∏ßo mƒõs√≠ce |
| `BQ` | konec pracovn√≠ho ƒçtvrtlet√≠ |

#### Netradiƒçn√≠ frekvence

In [ ]:
timedelta_range(0, periods=5, freq="1H15T")

### Resampling

---

*Resampling* nebo tak√© *p≈ôevzorkov√°n√≠* je proces, kter√Ω upravuje frekvenci ƒçasov√© ≈ôady.

*Resampling* se obvykle pou≈æ√≠v√° **pro sn√≠≈æen√≠ frekvence** (z hodinov√Ωch dat na denn√≠ data).

*Resampling* zahrnuje *agregaci* dat.

V `pandas` se k tomu pou≈æ√≠v√° metoda `resample`, kter√° m√° jako parametr novou frekvenci, na kterou chcete data p≈ôev√©st:

In [ ]:
import pandas as pd

In [ ]:
data = {
    'date': pd.date_range(start='2022-01-01', periods=60, freq='D'),
    'sales': range(60)
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.set_index('date', inplace=True)

In [ ]:
monthly_data = df.resample('M').sum()

In [ ]:
print(monthly_data)

<br>

### Zp≈ôes≈àov√°n√≠

---

Zahrnuje **zv√Ω≈°en√≠ frekvence ƒçasov√Ωch ≈ôad**.

P≈ôiƒçem≈æ se novƒõ vytvo≈ôen√© hodnoty obvykle interpoluj√≠ nebo dopl≈àuj√≠ nƒõjakou konstantou.

V pandas se k zp≈ôes≈àov√°n√≠ pou≈æ√≠v√° metoda `asfreq`, kter√° m√° jako parametr novou frekvenci, na kterou chcete data p≈ôev√©st.

In [ ]:
data = {
    'date': pd.date_range(start='2022-01-01', end='2022-03-01', freq='MS'),
    'sales': [100, 120, 150]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.head()

In [ ]:
df.set_index('date', inplace=True)

In [ ]:
daily_data = df.asfreq('D', method='ffill')

In [ ]:
daily_data.head(20)

Metoda `asfreq` bere jako parametr novou frekvenci, na kterou chceme data p≈ôev√©st.

V p≈ô√≠padƒõ v√Ω≈°e jde o frekvenci `D`, co≈æ znamen√° **denn√≠ data**.

Proto≈æe p≈ôi zp≈ôes≈àov√°n√≠ se **vytvo≈ô√≠ chybƒõj√≠c√≠ hodnoty** (v d≈Øsledku zv√Ω≈°en√≠ frekvence), je pot≈ôeba zvolit metodu pro jejich doplnƒõn√≠.

V√Ω≈° jde o metodu `forward fill` (parametr `method='ffill'`), kter√° kop√≠ruje p≈ôedchoz√≠ hodnotu pro v√Ωpl≈à chybƒõj√≠c√≠ch hodnot.

Dal≈°√≠ mo≈ænost√≠ je pou≈æ√≠t metodu `'back fill'` (parametr `method='bfill'`), kter√° kop√≠ruje n√°sleduj√≠c√≠ hodnotu pro v√Ωpl≈à chybƒõj√≠c√≠ch hodnot.

<br>

**üß† CVIƒåEN√ç üß†, procviƒç si ƒçasov√© ≈ôady**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:
1. Celkov√Ω prodej za ka≈æd√Ω mƒõs√≠c.
2. Pr≈Ømƒõrn√Ω prodej za ka≈æd√Ω den v t√Ωdnu.
3. Denn√≠ prodej za posledn√≠ t√Ωden.

In [133]:
from numpy.random import randint
from pandas import date_range, DataFrame

denni_datumy = date_range(start='2022-01-01', end='2022-12-31', freq='D')
prodeje = randint(10, 100, size=(len(denni_datumy),))

data = {
    'datumy': denni_datumy,
    'prodeje': prodeje
}

df_prodeje = DataFrame(data)
df_prodeje.set_index('datumy', inplace=True)

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    mesicni_prodej = df_prodeje.resample('M').sum()

    df_prodeje['weekday'] = df_prodeje.index.weekday
    denni_prumer = df_prodeje.groupby('weekday')['prodeje'].mean()

    prodej_posledni_vikend = df_prodeje.loc['2022-12-25':, 'prodeje']
    ```
</details>

* [High performance](),
    - [√∫vodn√≠ motivace](),
    - [eval](),
    - [query](),
    - [caveats]().

## Vysok√Ω v√Ωkon v PANDAS

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.riOR-y2_yu_2cGdEN2e6-wAAAA%26pid%3DApi&f=1&ipt=638c4516d155ff9768066e17887a621cbad0de6bce639a40be98f5dedbce67ac&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

Z p≈ôedchoz√≠ch uk√°zek a popisk≈Ø (seskupov√°n√≠) tedy m≈Ø≈æe≈° ch√°pat, ≈æe skuteƒçn√Ω v√Ωkon *frameworku* tkv√≠ v p≈ôeveden√≠ **z√°kladn√≠ch operac√≠ do jazyka C**.

Tyto abstrakce jsou √∫ƒçinn√© a efektivn√≠ pro mnoho bƒõ≈æn√Ωch p≈ô√≠pad≈Ø pou≈æit√≠.

Vytv√°≈ôej√≠ ale spousty doƒçasn√Ωch objekt≈Ø, co≈æ m≈Ø≈æe zp≈Øsobit nep≈ôimƒõ≈ôenou re≈æii v√Ωpoƒçetn√≠ho ƒçasu a pamƒõti.

### EVAL a QUERY

---

P≈ô√≠m√Ω p≈ô√≠stup k operac√≠m rychlosti C bez n√°kladn√© alokace `pandas` poskytuje funkce `eval` a `query`.

Ty spoleh√°j√≠ na funkci `numexpr`.

<br>

### funkce EVAL

---

Dva d≈Øvody, proƒç pou≈æ√≠vat funkci `eval` m√≠sto obyƒçejn√©ho Pythonu:
1. velk√© objekty typu `DataFrame` jsou vyhodnocov√°ny efektivnƒõji,
2. aritmetick√© a logick√© v√Ωrazy projdou nar√°z z√°kladn√≠m enginem (pomoc√≠ `numexpr`).

**Pozor!** Dobr√° obecn√° pom≈Øcka ≈ô√≠k√°, ≈æe nen√≠ nutn√© vyu≈æ√≠vat funkci `eval` pro tabulky, kter√© jsou krat≈°√≠ ne≈æ 10 000 ≈ô√°dk≈Ø.

### Pou≈æit√≠ EVAL

---

Funkce `eval` slou≈æ√≠ k efektivn√≠mu vyhodnocen√≠ **aritmetick√Ωch v√Ωraz≈Ø** na:
* objekty `DataFrame`,
* objekty `Series`.

Jej√≠ nejvƒõt≈°√≠ v√Ωhodou je **rychlost a efektivita**, kter√° spoƒç√≠v√° v minimalizaci pamƒõ≈•ov√© z√°tƒõ≈æe a zrychlen√≠ operac√≠.

Kdy≈æ pracuje≈° **s velk√Ωmi datov√Ωmi sadami**, pamƒõ≈•ov√° z√°tƒõ≈æ a rychlost se st√°vaj√≠ kl√≠ƒçov√Ωmi faktory.

Funkce `eval` optimalizuje v√Ωpoƒçetn√≠ proces t√≠m, ≈æe sni≈æuje mno≈æstv√≠ alokovan√© pamƒõti a zrychluje v√Ωpoƒçetn√≠ operace.

Uk√°zka pou≈æit√≠ funkce `eval`:

### Uk√°zka EVAL

---

Pro zadan√Ω *dummy dataset* vytvo≈ô **nov√Ω sloupeƒçek** `sloupec_D`, podle vzoru:
`A + B * C`

In [1]:
from pandas import DataFrame, eval

In [2]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}

In [3]:
df_data = DataFrame(data)

In [5]:
df_data

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [9]:
df_data['sloupec_D'] = df_data['A'] + df_data['B'] * df_data['C']

In [10]:
df_data

   A   B   C  sloupec_D
0  1   6  11         67
1  2   7  12         86
2  3   8  13        107
3  4   9  14        130
4  5  10  15        155

<br>

*Alternativn√≠ zp≈Øsob*, jak prov√©st stejn√Ω v√Ωpoƒçet, pokud m√°≈° dlouhou tabulku nebo sloupeƒçek, je pou≈æit√≠ funkce `eval`:

In [11]:
df_data['sloupecek_D'] = df_data.eval('A + B * C')

<br>

Funkce `eval` zpracov√°v√° zadan√Ω `str` podobnƒõ jako built-in funkce `eval`.

In [12]:
df_data

   A   B   C  sloupec_D  sloupecek_D
0  1   6  11         67           67
1  2   7  12         86           86
2  3   8  13        107          107
3  4   9  14        130          130
4  5  10  15        155          155

Souhrnnƒõ lze ≈ô√≠ci:
* funkci `eval` pou≈æij tehdy, pokud je dataset dlouh√Ω,
* ve v≈°ech ostatn√≠ch sc√©n√°≈ô√≠ch, kde nepot≈ôebuje≈° ≈°et≈ôit pamƒõt a ƒças pou≈æij klasickou syntaxi.

### V√Ωkon EVAL

---

In [22]:
import numpy as np
import pandas as pd

In [14]:
pocet_radku, pocet_sloupcu = 100_000, 100

In [15]:
rng = np.random.RandomState(42)

In [29]:
dframe_1, dframe_2, dframe_3, dframe_4 = [DataFrame(rng.rand(pocet_radku, pocet_sloupcu)) for _ in range(4)]

In [30]:
%timeit dframe_1 + dframe_2 + dframe_3 + dframe_4

523 ms ¬± 69.4 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

In [31]:
%timeit pd.eval("dframe_1 + dframe_2 + dframe_3 + dframe_4")

354 ms ¬± 64.8 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

<br>

### Funkce QUERY

---

Funkce `query` slou≈æ√≠ k efektivn√≠mu **filtrov√°n√≠ ≈ô√°dk≈Ø**.

Filtrov√°n√≠ prob√≠h√° na z√°kladƒõ **zadan√© podm√≠nky**.


Hlavn√≠ v√Ωhodou jsou:
* **snadn√° ƒçitelnost**, umo≈æ≈àuje zapisovat podm√≠nky ve snadno ƒçiteln√© formƒõ, zejm√©na v p≈ô√≠padƒõ slo≈æitƒõj≈°√≠ch dotaz≈Ø,
* **rychlost**, m≈Ø≈æe b√Ωt rychlej≈°√≠ ne≈æ tradiƒçn√≠ metody filtrov√°n√≠,(zejm√©na pro velk√© datov√© sady).

### Uk√°zka QUERY

---

Pro zadan√Ω *dummy dataset* vyfiltruj takov√© z√°znamy, kde:
1. Hodnoty ze sloupce A budou **men≈°√≠ ne≈æ 4**,
2. hodnoty ze sloupce B budou **vƒõt≈°√≠ ne≈æ 6**,
3. hodnoty ze sloupce C budou **vƒõt≈°√≠ ne≈æ 11**.

In [32]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}

In [33]:
df_data = DataFrame(data)

In [34]:
df_data

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [39]:
df_filtrovane = df_data[(df_data['A'] < 4) & (df_data['B'] > 6) & (df_data['C'] > 11)]

In [40]:
df_filtrovane

   A  B   C
1  2  7  12
2  3  8  13

Zapisov√°n√≠ pomoc√≠ *boolean indexov√°n√≠* je ov≈°em n√°roƒçn√© jak pro z√°pis, tak pro ƒçten√≠.

<br>

Pomoc√≠ funkce `query`:

In [37]:
df_filtrovane = df_data.query('A < 4 and B > 6 and C > 11')

In [38]:
df_filtrovane

   A  B   C
1  2  7  12
2  3  8  13

### Nedostatky QUERY

---

1. **Omezen√° syntaxe**, m√° omezenƒõj≈°√≠ syntaxi ve srovn√°n√≠ s bƒõ≈æn√Ωm z√°pisem v Pythonu a nemus√≠ podporovat v≈°echny operace,
2. **N√°zvy sloupc≈Ø**, pokud n√°zvy sloupc≈Ø obsahuj√≠ **mezery nebo znaky**, kter√© nejsou platn√Ωmi identifik√°tory Pythonu, mus√≠≈° je uv√©st v z√°vork√°ch a pou≈æ√≠t symbol `@` pro reference na promƒõnn√© mimo `DataFrame`.

In [47]:
df_cisla = pd.DataFrame({'Sloupec 1': [1, 2, 3, 4, 5], 'Sloupec 2': [10, 20, 30, 40, 50]})

In [48]:
vystup_1 = df_cisla.query('Sloupec 1 < 3')

SyntaxError: invalid syntax (<unknown>, line 1)

In [49]:
vystup_2 = df_cisla.query('`Sloupec 1` < 3')

In [50]:
vystup_2

   Sloupec 1  Sloupec 2
0          1         10
1          2         20

### Souhrn k EVAL a QUERY

---

Hlavn√≠m √∫ƒçelem tƒõchto funkc√≠ je aplikace na skuteƒçnƒõ **velk√© datov√© sety**.

Rozd√≠ly u drobnƒõj≈°√≠ch dataset≈Ø **jsou ƒçasto minim√°ln√≠**.

Velk√Ω vliv na v√Ωstupn√Ω ƒças dƒõl√° parametr `engine`, kter√Ω se sna≈æ√≠ pracovat s knihovnou `numexpr`.

<br>

**üß† CVIƒåEN√ç üß†, procviƒç si funkce EVAL a QUERY**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:
1. Vyber studenty s vƒõkem **mezi 20 a 22 lety (vƒçetnƒõ)**,
2. vypoƒçtƒõte *BMI* (Body Mass Index) pro ka≈æd√©ho studenta a p≈ôidejte ho do nov√©ho sloupce (vzorec: *v√°ha[kg] / (v√Ω≈°ka[m] * v√Ω≈°ka[m])*)
3. vyberte studenty s BMI vy≈°≈°√≠m ne≈æ 22.

In [88]:
uzivatele = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [19, 20, 21, 22, 23],
    'Height_cm': [160, 170, 175, 180, 165],
    'Weight_kg': [50, 65, 70, 80, 55],
    'Email': ["alice@gmail.com", "bob@tech-users.com", "charlie91@mail.com", "david_bB@gmail.com", "eevee@my_domain.net"],
    'Address': [
        "Vrbov√° 215/14, 602 00, Brno, ƒåesk√° republika",
        "Jilmov√° 862, 400 11, √öst√≠ nad Labem, ƒåesk√° republika",
        "Kamenick√° 37/2, 170 00, Praha, ƒåesk√° republika",
        "Podlipn√° 1284/6, 460 01, Liberec, ƒåesk√° republika",
        "Havl√≠ƒçkova 1703, 500 02, Hradec Kr√°lov√©, ƒåesk√° republika"
    ]
}

In [89]:
df_uzivatele = DataFrame(uzivatele)

In [90]:
df_uzivatele

,Name,Age,Height_cm,Weight_kg,Email,Address
0,Alice,19,160,50,alice@gmail.com,"Vrbov√° 215/14, 602 00, Brno, ƒåesk√° republika"
1,Bob,20,170,65,bob@tech-users.com,"Jilmov√° 862, 400 11, √öst√≠ nad Labem, ƒåesk√° rep..."
2,Charlie,21,175,70,charlie91@mail.com,"Kamenick√° 37/2, 170 00, Praha, ƒåesk√° republika"
3,David,22,180,80,david_bB@gmail.com,"Podlipn√° 1284/6, 460 01, Liberec, ƒåesk√° republika"
4,Eve,23,165,55,eevee@my_domain.net,"Havl√≠ƒçkova 1703, 500 02, Hradec Kr√°lov√©, ƒåesk√°..."

In [68]:
vyber_uzivatel = df_uzivatele.query("20 <= Age <= 22 and Email.str.contains('gmail.com')")

In [69]:
vyber_uzivatel

    Name  Age  Height_m  Weight_kg               Email
3  David   22       180         80  david_bB@gmail.com

In [96]:
df_uzivatele['Height_m'] = df_uzivatele.eval('Height_cm / 100')

In [97]:
df_uzivatele['BMI'] = df_uzivatele.eval('Weight_kg / (Height_m * Height_m)').round(1)

In [98]:
df_uzivatele

,Name,Age,Height_cm,Weight_kg,Email,Address,City,Height_m,BMI
0,Alice,19,160,50,alice@gmail.com,"Vrbov√° 215/14, 602 00, Brno, ƒåesk√° republika",Brno,1.60,19.5
1,Bob,20,170,65,bob@tech-users.com,"Jilmov√° 862, 400 11, √öst√≠ nad Labem, ƒåesk√° rep...",√öst√≠ nad Labem,1.70,22.5
2,Charlie,21,175,70,charlie91@mail.com,"Kamenick√° 37/2, 170 00, Praha, ƒåesk√° republika",Praha,1.75,22.9
3,David,22,180,80,david_bB@gmail.com,"Podlipn√° 1284/6, 460 01, Liberec, ƒåesk√° republika",Liberec,1.80,24.7
4,Eve,23,165,55,eevee@my_domain.net,"Havl√≠ƒçkova 1703, 500 02, Hradec Kr√°lov√©, ƒåesk√°...",Hradec Kr√°lov√©,1.65,20.2

In [91]:
df_uzivatele["City"] = df_uzivatele["Address"].apply(lambda x: x.split(",")[2])

In [92]:
df_uzivatele

,Name,Age,Height_cm,Weight_kg,Email,Address,City
0,Alice,19,160,50,alice@gmail.com,"Vrbov√° 215/14, 602 00, Brno, ƒåesk√° republika",Brno
1,Bob,20,170,65,bob@tech-users.com,"Jilmov√° 862, 400 11, √öst√≠ nad Labem, ƒåesk√° rep...",√öst√≠ nad Labem
2,Charlie,21,175,70,charlie91@mail.com,"Kamenick√° 37/2, 170 00, Praha, ƒåesk√° republika",Praha
3,David,22,180,80,david_bB@gmail.com,"Podlipn√° 1284/6, 460 01, Liberec, ƒåesk√° republika",Liberec
4,Eve,23,165,55,eevee@my_domain.net,"Havl√≠ƒçkova 1703, 500 02, Hradec Kr√°lov√©, ƒåesk√°...",Hradec Kr√°lov√©

In [99]:
students_with_high_bmi = df_uzivatele.query('BMI > 22 and City in ["Brno", "Praha"]')

In [100]:
students_with_high_bmi

Empty DataFrame
Columns: [Name, Age, Height_cm, Weight_kg, Email, Address, City, Height_m, BMI]
Index: []

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    monthly_sales = df.resample('M').sum()
    print("Celkov√Ω prodej za ka≈æd√Ω mƒõs√≠c:")
    print(monthly_sales)

    df_prodeje['weekday'] = df_prodeje.index.weekday
    average_weekday_sales = df_prodeje.groupby('weekday')['prodeje'].mean()
    print("\nPr≈Ømƒõrn√Ω prodej za ka≈æd√Ω den v t√Ωdnu:")
    print(average_weekday_sales)

    last_week_sales = df.loc['2022-12-25':, 'sales']
    print("\nDenn√≠ prodej za posledn√≠ t√Ωden:")
    print(last_week_sales)
    ```
</details>

<br>

## Chybƒõj√≠c√≠ hodnoty

---

https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.JJu86kKRph1LHt5M7agODQHaHa%26pid%3DApi&f=1&ipt=5cfb9e9f7b451b3a4f7a3ebdc4eb99177d477f20f8145cd818cc4966143f8b2b&ipo=images

ƒåi≈°tƒõn√≠ dat je proces, kter√Ω pat≈ô√≠ k samotn√© pr√°ci s daty.

Spolu s nƒõkter√Ωmi souvisej√≠c√≠mi √∫kony, pat≈ô√≠ mezi ty v√≠ce frustruj√≠c√≠.

Nesmysln√© datov√© typy, zkomolen√© ƒçasov√© √∫daje, nefunguj√≠c√≠ transformace.

In [116]:
df_uzivatele = DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [None, 20, None, 22, 23],
    'Height_cm': [160, 170, 175, None, 165],
    'Weight_kg': [50, 65, 70, 80, 55]
})

In [117]:
df_uzivatele.head(3)

      Name   Age  Height_cm  Weight_kg
0    Alice   NaN      160.0         50
1      Bob  20.0      170.0         65
2  Charlie   NaN      175.0         70

Ihned po naƒçten√≠ je nejlep≈°√≠ data prozkoumat.

Nejenom datov√© typy ale tak√© m√≠t povƒõdom√≠ **o chybƒõj√≠c√≠ch hodnot√°ch**:

In [107]:
df_uzivatele.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       5 non-null      object
 1   Age        3 non-null      float64
 2   Height_cm  4 non-null      float64
 3   Weight_kg  5 non-null      int64
 4   Email      4 non-null      object
dtypes: float64(2), int64(1), object(2)
memory usage: 328.0+ bytes

<br>

Pomoc√≠ metody `info` si udƒõl√°≈° aspo≈à povrchn√≠ p≈ôehled o hodnot√°ch, datov√Ωch typech a chybƒõj√≠c√≠ch hodnot√°ch.

<br>

### Kolik mi chyb√≠ √∫daj≈Ø

---

V≈ædycky p≈ôistupuj k dat≈Øm s m√≠rnou skeps√≠.

Ot√°zkou potom nen√≠, *JESTLI* mi chyb√≠ data, ale *KOLIK* dat mi chyb√≠ **a kde**.

In [108]:
chybejici_hodnoty = df_uzivatele.isnull()

In [109]:
chybejici_hodnoty

    Name    Age  Height_cm  Weight_kg  Email
0  False   True      False      False  False
1  False  False      False      False  False
2  False   True      False      False  False
3  False  False       True      False  False
4  False  False      False      False   True

<br>

Pomoc√≠ metody `isnull` nahrad√≠≈° v≈°echny chybƒõj√≠c√≠ hodnoty v tabulce/sloupc√≠ch pomoc√≠ `True`.

Pokud nechyb√≠, nahrad√≠ s `False`.

In [110]:
type(chybejici_hodnoty)

pandas.core.frame.DataFrame

Takov√Ω v√Ωstup ale nen√≠ zcela reprezentativn√≠.

Proto je pot≈ôeba, seƒç√≠st v≈°echny `True` hodnoty po sloupc√≠ch:

In [112]:
chybejici_hodnoty = df_uzivatele.isnull().sum()

In [113]:
chybejici_hodnoty

Name         0
Age          2
Height_cm    1
Weight_kg    0
Email        1
dtype: int64

<br>

Opƒõt v jednotk√°ch to nemus√≠ zcela prozrazovat chybovost.

Nejlep≈°√≠m indik√°torem ale b√Ωvaj√≠ procenta z celkov√©ho mno≈æstv√≠ hodnot ve sloupci:

In [122]:
celkem_zaznamu = df_uzivatele.shape[0]  # 0 ... Indexy, 1 ... sloupce

In [123]:
celkem_chybi = chybejici_hodnoty

In [124]:
v_procentech = round(celkem_chybi / celkem_zaznamu * 100, 1)

In [125]:
v_procentech

Name          0.0
Age          40.0
Height_cm    20.0
Weight_kg     0.0
Email        20.0
dtype: float64

<br>

p≈ô√≠padnƒõ celkov√© mno≈æstv√≠ z√°znam≈Ø ve v≈°ech sloupc√≠ch:

In [126]:
vsechny_bunky = df_uzivatele.shape[0] * df_uzivatele.shape[1]  # 5 * 4

In [127]:
vsechny_chybejici_hodnoty = chybejici_hodnoty.sum()            # 4

In [128]:
celkem_v_procentech = round(vsechny_chybejici_hodnoty / vsechny_bunky * 100, 1)

In [129]:
celkem_v_procentech

20.0

<br>

V t√©to uk√°zce tedy chyb√≠ 20 % dat a to nen√≠ m√°lo!

<br>

### Co s chybƒõj√≠c√≠mi hodnotami

---

Je d≈Øle≈æit√© vƒõdƒõt, proƒç m√°≈° takov√© mno≈æstv√≠ chybƒõj√≠c√≠ch hodnot.

Chyb√≠ ti data, proto≈æe neexistuj√≠, nebo proto≈æe nejsou souƒç√°st√≠ z√°znam≈Ø v datasetu.

V takov√Ωch kroc√≠ch je obvykle nutn√©, pochopit podstatu √∫daj≈Ø (dokumentace, specifikace,..).

Nejjednodu≈°≈°√≠ zp≈Øsoby, jak s chybƒõj√≠c√≠mi daty nalo≈æit (ale ne efektivn√≠!!):
1. Zahodit chybƒõj√≠c√≠ hodnoty,
2. doplnit chybƒõj√≠c√≠ hodnoty.

#### Zahodit chybƒõj√≠c√≠ hodnoty

In [130]:
df_uzivatele.dropna()

  Name   Age  Height_cm  Weight_kg
1  Bob  20.0      170.0         65
4  Eve  23.0      165.0         55

<br>

V tento okam≈æik si zahod√≠≈° v≈°echny z√°znamy, kter√© **postr√°daly nƒõjakou hodnotu**.

Nƒõkdy je jednodu≈°≈°√≠ zahodit sloupeƒçek, kter√Ω m√° chybƒõj√≠c√≠ hodnotu:

In [131]:
df_uzivatele.dropna(axis=1)

      Name  Weight_kg
0    Alice         50
1      Bob         65
2  Charlie         70
3    David         80
4      Eve         55

#### Doplnit automaticky hodnoty

In [ ]:
df_uzivatele.fillna(0)

<br>

Pomoc√≠ funkce `fillna` m≈Ø≈æe≈° vyplnit m√≠sto chybƒõj√≠c√≠ch hodnot p≈ôeddefinovanou vlastn√≠ hodnotu.

Nebo pomoc√≠ argumentu pro `method` pracovat s elegantnƒõj≈°√≠m zad√°n√≠m.

Nahradit chybƒõj√≠c√≠ hodnoty hodnotou, kter√° n√°sleduje bezprost≈ôednƒõ za n√≠ ve stejn√©m sloupci (To m√° velk√Ω smysl u soubor≈Ø dat, kde maj√≠ pozorov√°n√≠ nƒõjak√© logick√© po≈ôad√≠.)

In [144]:
df_uzivatele.fillna(method='bfill', axis=0).fillna(0)

      Name   Age  Height_cm  Weight_kg
0    Alice  20.0      160.0         50
1      Bob  20.0      170.0         65
2  Charlie  22.0      175.0         70
3    David  22.0      165.0         80
4      Eve  23.0      165.0         55