# Datová akademie, ČSOB, 2023

---

* [Úvod k datům](#Úvod-k-datům),

* [pracovní prostředí](#Pracovní-prostředí),

<br>

## Druhá lekce, návrh
1. `numpy`,
    - intro ke knihovně, jak s ní pracovat, kde, verze,
    - rozdíl datových typů, list a integer,
    - datové typy v Numpy,
    - array v Pythonu, array v numpy, základy,jejich atributy,
    - operace s maticemi, array,
    - Ufunks,
    - agregace.
    
2. Knihovna `numpy`.
    - Co je to za knihovnu, proč ji mám znát?
    - Základní datové typy, numpy array, co jsou zač, kde je jich potřeba?
    - Performance rozdíly. Agregace, výpočty, srovnávání.

## Druhá lekce, kaggle
* reading and writting DFs,
* indexing, selecting rows & columns, conditional selection,
* functions, map and lambdas,
* groupby, multiindex, sorting values,
* data types or Dtypes, convert data types,
* missing values, fillna, replace,
* rename, merge, join, concat.


* missing data points, the reason why are the data missing, drop missing values, filling missing vals,
* scaling: changing the range, normalization: changing shape,
* parsing dates, selecting days,
* encoding: what are encodings, encode, decode, identifying and saving examples,
* inconsistency: fuzzywuzzy

## Druhá lekce, kniha
* pandas objects: DFs, Series, Index,
* indexing and selection: series, DFs,
* operating: w/ numpy (hard to implement without numpy),
* handling missing data: Nan and None in pandas,detecting, droping, filling null values,
* indexing: single index, multiple indexes(bad and good example), indexing and slicing multiindex,
* concat, append, merge, join,
* agregation: count, first, last, mean, median, min, max,
* groupBy: split, apply, combine,
* pivot table, methods similar to python methods, regex finding,slice & other miscellaneous methods,
* Time series, to_datetime, data structures of time series, date_range, period_range, timedelta_range,
* frenquencies & offsets, resampling, time shifting,
* eval and query, comparing eval and without eval,

## Druhá lekce, Honza
* manipulace, úvod, instalace,
* DataFrame,
* Series,
* Načítání dat,
* selekce dat,
* indexování, loc a iloc,
* přejmenování, přidávání, odstraňování sloupců,
* Nan, null, nahrazování,
* concat, merge, drop_duplicates, sort_values,
* unique, apply,
* kopie a práce s kopiemi,
* statistika,
* čtení dat online,

## Druhá lekce, Víťa
* doplnit, chybí mi link na repozitář.

## Druhá lekce, návrh Matouš

* úvod do pand (**10 min**)
    - představení,
    - oficiální web, repo,
    - instalacee knihovny,
    - dokumentace.
    
    
* základní objekty (**10 min**),
    - DF,
    - Series,
    - Index,
    - vizualizace.
    

* tvorba DF, Series, File IO, (**30 min** + **5 min**)
    - vytvoření jednoduchého DF,
    - výběr některých volitelných argumentů,
    - vstupy souborů: csv, excel, txt, xml, HTML.
    - cvičení 01,


* prohlídka dat, selekce, indexování, (**30 min** + **5 min**) (80/150 min)
    - head, tail, info, sloupce, truncate výstupu
    - datové typy, naťuknout chybějící hodnoty,
    - index, loc, iloc,
    - multiindex.
    - cvičení 02,
    

* manipulace se sloupci, (**10 min** + **5 min**) (90/150 min)
    - selekce,
    - přejmenování,
    - přidávání sloupců,
    - odebírání sloupců.
    - cvičení 03,


* manipulace s Series a DFs, (**40 min** + **5 min**) (130/150 min)
    - concat, 10
    - append, 5
    - merge, 15,
    - join, 10.
    - cvičení 04,

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.BaZU6gIdwRYQHu4rBBoO-gHaIX%26pid%3DApi&f=1&ipt=1013c975daabd695fcd4ebfc2c0e0b8ba4f10c37780419d8ff56538ec7a7f9ea&ipo=images" width="120"/>

## Úvod k pandám

---

Jde o knihovnu, která staví na jednoduchých, přesto výkonných datových strukturách v Pythonu.

Vzít data z různých zdrojů, načíst je, zpracovat a zapsat.

#### Jak pandas vypadá

Odkaz na oficiální repozitář [této knihovny](https://github.com/pandas-dev/pandas).

#### Proč se ti bude hodit

**Pandas** slouží pro analýzu dat.

Data jsou nejčastěji v SQL databázi, různých souborech, tabulkových procesech atd.

*Pandas* si představ jako Excel, ale s více funkcemi a hlavně možností automatizovat procesy.

#### Kde se dozvím více

Pokud budeš potřebovat více podrobností, mrkni na [oficiální dokumentaci](https://pandas.pydata.org/pandas-docs/stable/index.html).

#### Instalace

In [ ]:
!pip install pandas

In [ ]:
!pip install pandas==1.1.1

#### Použití

In [ ]:
import pandas

In [ ]:
from pandas import DataFrame

In [ ]:
import pandas as pd

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.b2NCTuZRiG8yrmTCF7MogAHaHa%26pid%3DApi&f=1&ipt=f9e6a3811b3a707743134cfb19b2ee4f9c44584f5ea328582b227f14b94fcb1f&ipo=images" width="190"/>

## Základní datové typy frameworku

Knihovna nabízí řadu užitečných nástrojů, metod a funkcí nad rámec základních (zabudovaných) datových struktur.

Hlavní tři struktury, na kterých stojí jsou:
* Series,
* dataFrames,
* indexes.

In [ ]:
# obrazek

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Yp6ZBv9C33_pDfZkJcKbJQHaHa%26pid%3DApi&f=1&ipt=546833b7ce370c5a62bea21079371efd1fa9547765d4eae8e6c9e41f6b25a3af&ipo=images" width="160"/>

### Series

Jde **o jednodimenzionální sloupeček** (popř. řadu), který má **indexované data**.

Opět si jej můžeš představit jako sloupeček v excelovských tabulkách.

Na ukázku můžeš tyto sloupečky vytvořit třeba ze sekvencí:

In [2]:
from pandas import Series

In [5]:
mesta_df = Series(["Praha", "Brno", "Ostrava", "Hradek Králové"])

In [6]:
type(mesta_df)

pandas.core.series.Series

In [7]:
mesta_df

0             Praha
1              Brno
2           Ostrava
3    Hradek Králové
dtype: object

Jak můžeš vidět v ukázce výše, *sloupec* `Series` obsahuje jak pořadí, tak hodnoty.

In [9]:
mesta_df.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
mesta_df.values

array(['Praha', 'Brno', 'Ostrava', 'Hradek Králové'], dtype=object)

Obecně vypadá jako nějaké pole, který má svůj nativní datový typ `object`.

Ačkoliv je `pandas` knihovna Pythonu, datové typy nemusí vždy odpovídat základním datovým typům Pythonu:

| Typy `pandas`| typy `Python`| Použití |
| :-: | :-: | :- |
| `object` | `str` nebo směska| text nebo namíchané číselné a nečíselné hodnoty |
| `int64` | `int`| celá čísla |
| `float64` | `float` | desetinná čísla |
| `bool` | `bool` | True a False |
| `datetime64` | `-`| Hodnota data a času |
| `timedelta` | `-` | Časové rozdíly |

Stejně jako pole nebo sekvence můžeš indexovat a slicovat hodnoty typu `Series`.

##### Indexování

In [11]:
mesta_df[1]

'Brno'

##### Slicing

In [12]:
mesta_df[0:3]

0      Praha
1       Brno
2    Ostrava
dtype: object

Proč je tedy znalost pandího objektu `Series` tak důležitá?

Na první pohled není tolik odlišný od datového typu `list` nebo `tuple` (případně pole v `numpy`).

Největší rozdíl spočítá v tzv. **indexu**.

Ať `list`, `tuple` nebo `numpy.array` implicitně pracují s celočíselným indexem.

Objekt `Series` na druhou stranu nabízí možnost, zadávat vlastní indexové hodnoty:

In [13]:
mesta_df = Series(["Praha", "Brno", "Ostrava", "Hradek Králové"],
                  index=["1_mesto", "2_mesto", "3_mesto", "4_mesto"])

In [15]:
mesta_df.index

Index(['1_mesto', '2_mesto', '3_mesto', '4_mesto'], dtype='object')

In [16]:
mesta_df

1_mesto             Praha
2_mesto              Brno
3_mesto           Ostrava
4_mesto    Hradek Králové
dtype: object

In [17]:
mesta_df["1_mesto"]

'Praha'

Tímto způsobem si můžeš představit řadu, sloupec (`Series`) jako variantu datového typu `dict`, v Pythonu.

Víš, že ve slovníku Pythonu jsou hodnoty mapované na jednotlivé klíče.

V případě `Series` jde o mapování **typovaných hodnot** na **typované klíče**. Právě pojem **typovaný** (~*type-specific*) je zásadní.

Právě *typovaný* zkompilovaný kód od `Series` nabízí některé efektivnější metody a funkce, které obyč. `dict` v Pythonu ne.

In [19]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [21]:
populace_df = Series(populace_evropa)

Defaultně ti objekt `Series` nachystá index ze seřazených klíčů původního datového typu `dict`.

Můžeš provést klasické mapování hodnoty na jméno klíče:

In [22]:
populace_df["Ceska_republika"]

10513209

K tomu, ale `Series` nabízí operace jako např. slicing pro pole:

In [24]:
populace_df["Ceska_republika": "Polsko"]

Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
dtype: int64

Další procesy uvidíš následně v průběhu příštích lekcí.

### DataFrame

Dalím elementárním datovým typem této knihovny je `DataFrame`.

Analogicky si jej můžeš představit jako tabulky v Excelu.

Tedy objekt složený z řádků (indexů) a sloupců (`Series`).

In [ ]:
# obrazek

Takový objekt budeš potřebovat, pokud již nepůjde o jedno-dimenzionální rozměr hodnoty:

In [25]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [26]:
rozloha_evropa = {
    'Dansko': 42_916,
    'Ceska_republika': 78_870,
    'Nemecko': 357_168,
    'Polsko': 312_679,
    'Slovensko': 49_035,
    'Rakousko': 83_878
}

In [27]:
from pandas import DataFrame

In [28]:
zeme_evropa_df = DataFrame({"populace": populace_evropa, "rozloha": rozloha_evropa})

In [29]:
zeme_evropa_df

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168
Polsko           38483957   312679
Slovensko         5415949    49035
Rakousko          8932664    83878

Stejně jako u `Series` má i `DataFrame` svoje *indexy*:

In [30]:
zeme_evropa_df.index

Index(['Dansko', 'Ceska_republika', 'Nemecko', 'Polsko', 'Slovensko',
       'Rakousko'],
      dtype='object')

Navíc můžeš pracovat s atributem `columns`, který drží jména jednotlivých sloupečků:

In [31]:
zeme_evropa_df.columns

Index(['populace', 'rozloha'], dtype='object')

Proto si můžeš objekt `DataFrame` představit také jako Pythonovský `dict`.

Ovšem s tím rozdílem, že tentokrát mapuješ jméno sloupečku na `Series`:

In [37]:
zeme_evropa_df["populace"]

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
Slovensko           5415949
Rakousko            8932664
Name: populace, dtype: int64

In [38]:
populace_z_df = zeme_evropa_df["populace"]

In [39]:
type(populace_z_df)

pandas.core.series.Series

Opatrně při vytváření nového `DataFrame`, u chybějících klíčů implictině zapisuje `Nan` hodnotu (~*not a number*):

In [47]:
chybejici_hodnoty_df = DataFrame(
    [
        {"a": 1, "b": 4},
        {"c": 6, "b": 7}
    ])

In [48]:
chybejici_hodnoty_df

     a  b    c
0  1.0  4  NaN
1  NaN  7  6.0

Navíc si můžeš všimnout rozdílné definice **datového typu**:

In [55]:
chybejici_hodnoty_df.dtypes

a    float64
b      int64
c    float64
dtype: object

In [58]:
chybejici_hodnoty_df["a"]

0    1.0
1    NaN
Name: a, dtype: float64

In [60]:
konvertovany_sl_a = chybejici_hodnoty_df["a"].convert_dtypes()

In [61]:
konvertovany_sl_a

0       1
1    <NA>
Name: a, dtype: Int64

Více si o přetypování obecně a dozvíš později.

### Index

Posledním ze základních objektů frameworku `pandas` je tedy **index**.

Jak `Series`, tak `DataFrame` v sobě *index* obsahují.

Pro jednoduchost, si jej můžeš představit jako označení jednotlivých řádků v tabulce.

In [62]:
from pandas import Index

In [63]:
indexy = Index([2, 3, 4, 5])

In [64]:
indexy

Int64Index([2, 3, 4, 5], dtype='int64')

##### Indexování indexů

In [65]:
indexy[2]

4

##### Slicování indexů

In [66]:
indexy[:3]

Int64Index([2, 3, 4], dtype='int64')

##### Nezměnitelný objekt

In [67]:
indexy[2] = 3

TypeError: Index does not support mutable operations

Tato nezměnitelnost slouží k větší bezpečnosti, protože jednotlivé indexy, může sdílet více `DataFrame`.

##### Index jako seřazený set

In [68]:
indexy_a = Index([1, 2, 3, 4])
indexy_b = Index([3, 4, 5, 6])

In [70]:
indexy_a.intersection(indexy_b)

Int64Index([3, 4], dtype='int64')

In [71]:
indexy_a.union(indexy_b)

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

tvorba DF, Series, File IO, (30 min + 5 min)

    vytvoření jednoduchého DF,
    výběr některých volitelných argumentů,
    vstupy souborů: csv, excel, txt, xml, HTML.
    cvičení 01,

## Tvorba DataFrame

Vytvořit nový `DataFrame` je záležitost několika málo argumentů.

Poměrově ale není časté, chystat data *z ničeho*.

Většinou potřebuješ právě nahrát různé existující externí struktury, do `DataFrame` objektů.

* `read_csv`,
* `read_excel`,
* `read_json`,
* `read_html`,
* `read_sql`,
* `read_parquet`,
* `read_sas`.

###  Načti soubor `csv`

Knihovna nabízí přímo specializovanou funkci `read_csv`.

Ta dovede načíst obsah souboru do nového `DataFrame`.

Pro první použití, případně pozdější rozšíření je vhodné, prozkoumat dokumentaci:

In [8]:
import pathlib
from pandas import read_csv

In [106]:
read_csv?

Načteš jméno souboru se specifickou příponou `csv`:

In [10]:
zamestnanci_ = !ls ../onsite | grep ".csv"

In [11]:
zamestnanci_

['customers_inp.csv']

In [12]:
zamestnanci_rel = pathlib.Path("../onsite").joinpath(zamestnanci_[0])

In [6]:
zamestnanci_rel

PosixPath('../onsite/customers_inp.csv')

In [13]:
zamestnanci = read_csv(zamestnanci_rel)

Prozkoumej samotný soubor:

In [4]:
!cat ../onsite/customers_inp.csv

customer_id,first_name,last_name,phone,email
11,Matous,Holinka,`+420777666555,matous@matousholinka.com
12,Marek,Parek,`+420777434111,marek.parek@gmail.com
13,Petr,Svetr,`+420777333111,petr@svetr.com
14,Alice,Svobodova,`+420777200300,svobodova.a@email.cz
15,Tereza,Novakova,`+420777608080,novakova_terka@seznam.cz

Nyní se podívej jak vypadá nově vytvořený `DataFrame`:

In [129]:
zamestnanci

   customer_id first_name  last_name           phone                     email
0           11     Matous    Holinka  `+420777666555  matous@matousholinka.com
1           12      Marek      Parek  `+420777434111     marek.parek@gmail.com
2           13       Petr      Svetr  `+420777333111            petr@svetr.com
3           14      Alice  Svobodova  `+420777200300      svobodova.a@email.cz
4           15     Tereza   Novakova  `+420777608080  novakova_terka@seznam.cz

Je potřeba pohlídat si (není řazené podle priorit):
* indexy,
* záhlaví,
* strukturu jednotlivých `Series`,
* datové typy.

Pokud nesedí **defaultní oddělovač** (*sep* nebo *delimiter*):

In [126]:
!sed -i s"/;/,/g" ../onsite/customers_inp.csv

In [6]:
!cat ../onsite/customers_inp.csv

customer_id,first_name,last_name,phone,email
11,Matous,Holinka,`+420777666555,matous@matousholinka.com
12,Marek,Parek,`+420777434111,marek.parek@gmail.com
13,Petr,Svetr,`+420777333111,petr@svetr.com
14,Alice,Svobodova,`+420777200300,svobodova.a@email.cz
15,Tereza,Novakova,`+420777608080,novakova_terka@seznam.cz

In [9]:
zamestnanci_carka = read_csv(f"../onsite/{zamestnanci_[0]}")

NameError: name 'zamestnanci_' is not defined

In [94]:
zamestnanci_carka

        customer_id;first_name;last_name;phone;email
0  11;Matous;Holinka;`+420777666555;matous@matous...
1  12;Marek;Parek;`+420777434111;marek.parek@gmai...
2        13;Petr;Svetr;`+420777333111;petr@svetr.com
3  14;Alice;Svobodova;`+420777200300;svobodova.a@...
4  15;Tereza;Novakova;`+420777608080;novakova_ter...

Můžeš zadat jiný než *defaultní* oddělovač:

In [97]:
zamestnanci_strednik = read_csv(f"../onsite/{zamestnanci_[0]}", sep=";")

In [98]:
zamestnanci_strednik

   customer_id first_name  last_name           phone                     email
0           11     Matous    Holinka  `+420777666555  matous@matousholinka.com
1           12      Marek      Parek  `+420777434111     marek.parek@gmail.com
2           13       Petr      Svetr  `+420777333111            petr@svetr.com
3           14      Alice  Svobodova  `+420777200300      svobodova.a@email.cz
4           15     Tereza   Novakova  `+420777608080  novakova_terka@seznam.cz

**Nevhodné datové typy** je také možné řešit při nové inicializaci `DataFrame`:

In [100]:
zamestnanci_strednik.dtypes

customer_id     int64
first_name     object
last_name      object
phone          object
email          object
dtype: object

Pokud potřebuješ *vynutit* konverzi datového typu:

In [103]:
zamestnanci_bez_cisel = read_csv(
    f"../onsite/{zamestnanci_[0]}",
    sep=";",
    dtype={
        "customer_id": str,
        "first_name": str,
        "last_name": str,
        "phone": str,
        "email": str
    }
)

In [104]:
zamestnanci_bez_cisel.dtypes

customer_id    object
first_name     object
last_name      object
phone          object
email          object
dtype: object

### Načti tabulku `html`

Funkce `read_html` často zastává některé kroky *web scrapování*.

Přesto je jejím učelem "pouze" extrahování dat v HTML `<table></table>` elementech.

Ukázka [zdroj](https://simple.wikipedia.org/wiki/List_of_U.S._states).

##### Demo: Ukázka v příkazovém řádku

### Načti výstup dotazu do tabulky

Další možností, jak lépe pracovat s knihovnou `pandas`, je načítání z databáze.

Prakticky pošleš dotaz do databázového systému a on jej rozdělí na `DataFrame`:

In [147]:
from pandas import read_sql

In [148]:
read_sql?

In [151]:
database_name = "company_test"

In [152]:
select_query = f"SELECT * FROM {database_name}"

In [153]:
connection_str = 'Driver={ODBC Driver 17 for SQL Server};' \
    'Server=localhost;uid=sa;pwd=csoB2023;' \
    f'port=1443;database={database_name};'

In [ ]:
with pyodbc.connect(connection_str) as connection:
    select_query = read_sql(select_query, connection)

In [ ]:
print(select_query)

Autoři knihovny většinou vyžadují chystání *connection* objektů pomocí **SQL Alchemy**.

V rámci ukázky je použitý dnes již netestováné `dbapi2` připojení.

##### 🧠 CVIČENÍ 🧠, načti data z vlastní DB a nachystej nový DataFrame

## Prozkoumávání dat pomocí DataFramů

Nejprve obecně pohled na `DataFrame`.

Několik funkcí a pohledů:
* `head`,
* `tail`,
* `info`,
* `describe`,
* `dtypes`

### Selekce u sloupečků

In [2]:
from pandas import Series

In [3]:
vek_df = Series(
    [26, 36, 46, 56],
    index=['Petr', 'Pavel', 'Jiri', 'Tomas']
)

Vybereš si sloupeček `customer_id`:

In [31]:
vek_df

Petr     26
Pavel    36
Jiri     46
Tomas    56
dtype: int64

Pokud provádíš *slicing* pomocí indexů, implicitně **vynecháš konečný index**:

In [32]:
vek_df[0:3]

Petr     26
Pavel    36
Jiri     46
dtype: int64

Pokud ovšem zadáváš přímo hodnotu Indexu, potom vybíráš hodnoty **včetně konečného indexu**:

In [33]:
vek_df["Petr": "Tomas"]

Petr     26
Pavel    36
Jiri     46
Tomas    56
dtype: int64

Tento jednoduchý přístup potom vede k častým chybám a nepochopením.

### Atributy `loc`, `iloc`

Právě protože je *indexování* a *slicing* v rámci `Series` matoucí, existují pomocné atributy.

##### loc

Právě tento atribut zaručí, že budeš vždy pracovat pomocí explicitního zadání hodnoty indexů:

In [5]:
vek_df.loc["Petr"]

26

Jde tedy o explicitní práci s Indexy knihovny `pandas`, ne indexy Pythonu:

In [15]:
jmena_df = Series(
    ["Matous", "Marek", "Lukas", "Jan"],
    index=[1, 2, 3, 4]
)

In [18]:
jmena_df

1    Matous
2     Marek
3     Lukas
4       Jan
dtype: object

In [16]:
jmena_df.loc[1]

'Matous'

In [20]:
jmena_df.loc?

##### iloc

Naopak atribut `iloc` je proces, který funguje výlučně na indexování v rámci Pythonu (pořadí, začíná nulou):

In [19]:
jmena_df.iloc[1]

'Marek'

Kvůli jasnosti a přehlednosti je obecně výhodnější a doporučováné, pracovat s atributy `loc` a `iloc`.

### Selekce u tabulárních hodnot

Jelikož je `DataFrame` složený ze sloupečků, můžeš aplikovat některé postupy z uplynulé teorie.

* slovnákový klíč,
* slovníkový náhled,
* loc, iloc, ix, transformace,
* xx

In [21]:
from pandas import DataFrame

In [22]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [23]:
rozloha_evropa = {
    'Dansko': 42_916,
    'Ceska_republika': 78_870,
    'Nemecko': 357_168,
    'Polsko': 312_679,
    'Slovensko': 49_035,
    'Rakousko': 83_878
}

In [24]:
zeme_evropa_df = DataFrame({"populace": populace_evropa, "rozloha": rozloha_evropa})

In [25]:
zeme_evropa_df

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168
Polsko           38483957   312679
Slovensko         5415949    49035
Rakousko          8932664    83878

##### Klíčový přístup

In [26]:
zeme_evropa_df["populace"]

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
Slovensko           5415949
Rakousko            8932664
Name: populace, dtype: int64

In [27]:
zeme_evropa_df["rozloha"]

Dansko              42916
Ceska_republika     78870
Nemecko            357168
Polsko             312679
Slovensko           49035
Rakousko            83878
Name: rozloha, dtype: int64

##### Atributový přístup

In [30]:
bool(zeme_evropa_df["rozloha"] is zeme_evropa_df.rozloha)

True

In [28]:
zeme_evropa_df.populace

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
Slovensko           5415949
Rakousko            8932664
Name: populace, dtype: int64

In [29]:
zeme_evropa_df.rozloha

Dansko              42916
Ceska_republika     78870
Nemecko            357168
Polsko             312679
Slovensko           49035
Rakousko            83878
Name: rozloha, dtype: int64

In [ ]:
zeme_evropa_df[zeme_evropa_df.rozloha > 100_000]

Opatrně, atributový přístup nelze aplikovat, pokud je jméno sloupečku shodné s některým z rezerovaných výrazů.

##### Slovníkový náhled

In [32]:
zeme_evropa_df.values

array([[ 5655750,    42916],
       [10513209,    78870],
       [80716000,   357168],
       [38483957,   312679],
       [ 5415949,    49035],
       [ 8932664,    83878]])

##### Transformace

In [33]:
zeme_evropa_df.T

           Dansko  Ceska_republika   Nemecko    Polsko  Slovensko  Rakousko
populace  5655750         10513209  80716000  38483957    5415949   8932664
rozloha     42916            78870    357168    312679      49035     83878

##### loc

Stejná pravidla jako pro `Series`, nicméne tentokrát můžeš vybírat buď jednotlivé Indexy, nebo pole Indexů:

In [34]:
zeme_evropa_df.loc["Nemecko"]

populace    80716000
rozloha       357168
Name: Nemecko, dtype: int64

In [35]:
zeme_evropa_df.loc[:"Nemecko"]

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168

Dále můžeš vybírat sloupce nebo rozsah sloupců:

In [36]:
zeme_evropa_df.loc["Nemecko", "populace"]

80716000

In [37]:
zeme_evropa_df.loc[:"Nemecko", "populace"]

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Name: populace, dtype: int64

In [38]:
zeme_evropa_df.loc[:"Nemecko", :"rozloha"]

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168

##### iloc

In [39]:
zeme_evropa_df.iloc[:3, :2]

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168

##### ix

Jde o atribut-hybrid, který kombinuje mixování stylů z `loc` a `iloc`:

##### 🧠 CVIČENÍ 🧠, načti data z vlastní DB a nachystej nový DataFrame

* Načti sloupec,
* načti první údaj ve sloupci,
* načti první Index v DF,
* načti prvních deset Indexů v DF,
* načti pouze Indexy 1, 2, 3, 5, 10,
* načti nový DF z Indexů 1, 2, 3 a sloupců A, B, C,
* načti nový DF o sloupcích A, B s prvními 100 Indexy,
* načti pouze sloupec, který odpovídá hodnotě X,
* načt pouze sloupec, který odpovídá dvěma podmínkám.