# Datov√° akademie, ƒåSOB, 2023

---

* [ƒåasov√© ≈ôady](#ƒåasov√©-≈ôady),
    - [√∫vodn√≠ motivace](#√övod),
    - [z√°kladn√≠ objekty](#Z√°kladn√≠-objekty),
    - [indexov√°n√≠ ƒçasov√Ωmi √∫daji](#Indexov√°n√≠-s-ƒçasem),
    - [funkce to_datetime](#Funkce-TO_DATETIME),
    - [funkce date_range](#Funkce-DATE_RANGE),
    - [resampling](#Resampling,-sn√≠≈æen√≠-frekvence),
    - [zp≈ôes≈àov√°n√≠](#Zp≈ôes≈àov√°n√≠-≈ôady),
    - [cviƒçen√≠](#üß†-CVIƒåEN√ç-üß†,-procviƒç-si-ƒçasov√©-≈ôady).
* [V√Ωkonn√© pandy](#V√Ωkonn√Ω-PANDAS),
    - [funkce eval](#Funkce-EVAL),
    - [v√Ωhody eval](#V√Ωkon-EVAL),
    - [funkce query](#Funkce-QUERY),
    - [souhrn k eval a query](#Souhrn-k-EVAL-a-QUERY),
    - [cviƒçen√≠](#üß†-CVIƒåEN√ç-üß†,-procviƒç-si-funkce-EVAL-a-QUERY).
* [Skuteƒçn√© hodnoty](#Skuteƒçn√©-datov√©-sety),
    - [chybƒõj√≠c√≠ √∫daje](#Kolik-mi-chyb√≠-√∫daj≈Ø),
    - [encoding](#Encoding),
    - [nekonzistentn√≠ data](#Nekonzistentn√≠-data),
    - [cviƒçen√≠](#üß†-CVIƒåEN√ç-üß†,-procviƒç-si-pr√°ci-s-chybn√Ωm-datasetem).

<br>

## ƒåasov√© ≈ôady

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.odqbr-09dxxBQjF7x7NyBAHaII%26pid%3DApi&f=1&ipt=5b4a03c1dd38b52108237102ebb350595a5d6ea6a50572f5897ca89fbf5b5445&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

### √övod

---

ƒå√°st *frameworku* byla vyvinuta za √∫ƒçelem **finanƒçn√≠ho modelov√°n√≠**.

Proto je v√≠ce ne≈æ dob≈ôe vybavena sadou n√°stroj≈Ø, kter√© um√≠ pracovat **s daty, ƒçasem a ƒçasov√Ωmi objekty**.

<br>

Uplatnƒõn√≠:
* **Anal√Ωza a predikce**: umo≈æ≈àuje analyzovat v√Ωvoj hodnot v ƒçase a p≈ôedpov√≠dat budouc√≠ trendy nebo sez√≥nn√≠ zmƒõny,
* **Efektivn√≠ manipulace s ƒçasem**: zjednodu≈°uje √∫koly, jako je agregace, interpolace nebo ƒçasov√© posuny,
* **Flexibiln√≠ indexace**: podporuje flexibiln√≠ indexaci ƒçasov√Ωch ≈ôad, co≈æ usnad≈àuje filtrov√°n√≠, ≈ôazen√≠ a v√Ωbƒõr dat,
* **Kompatibilita s dal≈°√≠mi knihovnami**: je kompatibiln√≠ s mnoha dal≈°√≠mi knihovnami pro anal√Ωzu ƒçasov√Ωch ≈ôad, jako je `statsmodels` nebo `scikit-learn`.

<br>

#### Pomoc√≠ standardn√≠ho Pythonu

---

Standardn√≠ v√Ωbavou Pythonu jsou knihovny `datetime`:

In [ ]:
from datetime import datetime

In [ ]:
# help(datetime)

In [ ]:
datetime(year=2023, month=4, day=5)

In [ ]:
type(datetime(year=2023, month=4, day=5))

<br>

Nebo knihovna `dateutil` pro *parsov√°n√≠* datov√Ωch typ≈Ø z r≈Øzn√Ωch **stringov√Ωch zad√°n√≠**:

In [ ]:
from dateutil import parser

In [ ]:
type(parser)

<br>

Funkce `parse` zpracuje (*parsuje*) velk√© mno≈æstv√≠ r≈Øzn√Ωch form√°t≈Ø ƒçasu ve `str`:

In [ ]:
date = parser.parse("5th of april, 2023")

In [ ]:
type(parser.parse)

In [ ]:
date.year

In [ ]:
date.month

In [ ]:
date.day

<br>

Kde pomoc√≠ metody `strftime` m≈Ø≈æe≈° vypsat den:

In [ ]:
date.strftime("%A")

In [ ]:
date.strftime("%d/%m/%y")

<br>

#### Pomoc√≠ NUMPY

---

Nƒõkter√© nedostatky uvnit≈ô knihoven `datetime` a `dateutil` vedli ke vzniku sady n√°stroj≈Ø.

Tyto dopl≈àky vznikly pod hlaviƒçkou knihovny `numpy`.

In [ ]:
import numpy
from numpy import array, arange

In [ ]:
date = array('2023-04-05', dtype=numpy.datetime64)

In [ ]:
date

<br>

Pokud pot≈ôebuje≈° pole **n√°sleduj√≠c√≠ch 7 dn√≠**:

In [ ]:
date + arange(7)

<br>

Vzhledem k jednotn√©mu datovu typu v poli pro **numpy** `datetime64` m≈Ø≈æe tento typ operace
prov√°dƒõt mnohem rychleji.

P≈ô√≠mo v Pythonu pomoc√≠ `datetime` objektu potom roste handicap, kdy≈æ objekty nab√Ωvaj√≠ na velikosti.

<br>

#### Pomoc√≠ PANDAS

---

Jde o kombinace objekt≈Ø z obou p≈ôedchoz√≠ch podkapitol.

Ty d√°vaj√≠ dohromady to nejlep≈°√≠ prost≈ôedky pro zach√°zen√≠ s ƒçasem.

In [ ]:
from pandas import to_datetime

In [ ]:
date = to_datetime("5th of April, 2023")

In [ ]:
date

In [ ]:
type(date)

In [ ]:
date.strftime("%A")

<br>

### Z√°kladn√≠ objekty

---

V podstatƒõ jde o hlavn√≠ n√°stroj, kter√Ω tato knihovna dovede nab√≠dnout.

Tedy pr√°ce **s univerz√°ln√≠mi datov√Ωmi typy** pro ƒças.

Mezi z√°kladn√≠ objekty pro pr√°ci s ƒçasem pat≈ô√≠:
* `Timestamp`, typ (souvisej√≠c√≠ struktura Indexu `DatetimeIndex`),
* `Period`, typ (.. `PeriodIndex`),
* `Timedelta`, typ (.. `TimedeltaIndex`).

<br>

#### Timestamp

---

Z√°kladn√≠ datov√Ω typ do ƒçasov√Ωch ≈ôad.

P≈ôi≈ôazuje pandas√≠ hodnoty k skuteƒçn√©mu konkr√©tn√≠m ƒçasov√©mu okam≈æiku.

In [ ]:
from pandas import Timestamp

In [ ]:
# Timestamp?

In [ ]:
Timestamp("2023-05-04")  # str, tuple, datetime.datetime

In [ ]:
Timestamp(2023, 5, 4)

In [ ]:
type(Timestamp(2023, 5, 4))

<br>

#### Period

---

V mnoha p≈ô√≠padech je v≈°ak p≈ôirozenƒõj≈°√≠ spojit promƒõnn√©, jako je **poƒç√°teƒçn√≠ ƒças** s n√°sledn√Ωm **ƒçasov√Ωm rozpƒõt√≠m**.

`Period` p≈ôedstavuje ƒçasov√Ω interval nebo obdob√≠, kter√© m√° zaƒç√°tek a *frekvenci*.

In [ ]:
from pandas import Period

In [ ]:
Period("2023-04", freq="D")

In [ ]:
type(Period("2023-04", freq="D"))

Hlavn√≠m rozd√≠lem pro `Timestamp` a `Period` je v r√°mci jejich zapracov√°n√≠.

`Timestamp` pracuje s konkr√©tn√≠m ƒçasov√Ωm okam≈æikem.

`Period` naopak s ƒçasov√Ωm intervalem.

<br>

#### Timedelta

---

P≈ôedstavuje rozd√≠l mezi dvƒõma datumy nebo ƒçasy.

In [ ]:
datum_1 = Timestamp(2023,4,12, 12, 30)

In [ ]:
datum_2 = Timestamp(2023,4,10, 12, 0)

In [ ]:
datum_1 - datum_2

In [ ]:
type(datum_1 - datum_2)

In [ ]:
from pandas import Timedelta

In [ ]:
# Timedelta?

<br>

### Indexov√°n√≠ s ƒçasem

---

Pomoc√≠ objekt≈Ø ƒçasu m≈Ø≈æe≈° vytvo≈ôit samotn√© **Indexy**.

`DatetimeIndex` obsahuje ƒçasov√© znaƒçky (*timestamp*), kter√© jsou ulo≈æeny ve form√°tu `datetime64` s nanosekundovou p≈ôesnost√≠.

Tento objekt umo≈æ≈àuje efektivn√≠ pr√°ci s ƒçasov√Ωmi ≈ôadami a poskytuje mnoho funkc√≠ pro manipulaci s daty a ƒçasy:

In [ ]:
from pandas import DatetimeIndex, Series

<br>

Pomocn√Ω objekt typu `list`:

In [ ]:
datumy = ["2023-04-05", "2022-04-05", "2021-04-05", "2020-04-05"]

In [ ]:
indexy = DatetimeIndex(datumy)

In [ ]:
type(indexy)

In [ ]:
jmena_dnu = [to_datetime(den).strftime("%A") for den in datumy]

In [ ]:
jmena_dnu

In [ ]:
hodnoty_sl = Series(jmena_dnu, index=indexy)

In [ ]:
hodnoty_sl

In [ ]:
type(hodnoty_sl)

In [ ]:
type(indexy)

In [ ]:
hodnoty_sl["2020": "2022"]

In [ ]:
hodnoty_sl["2020-04-05": "2022-04-05"]

<br>

#### TimedeltaIndex

---

Jde o rozd√≠l v jednotk√°ch ƒçasu.

Nejƒçastƒõji se s t√≠mto objektem setk√°≈°, pokud pot≈ôebuje≈° z√≠skat **rozd√≠l mezi dvƒõma datumy**.

In [ ]:
datumy

In [ ]:
datumy_ = to_datetime(datumy)

In [ ]:
datumy_

In [ ]:
specialni_datumy = to_datetime([
    datetime(2022, 4, 5), "5th of April 2021", "2020-Apr-5", "05-04-2019"]
)

In [ ]:
datumy_ - specialni_datumy

<br>

### Funkce TO_DATETIME

---

Nejƒçastƒõj≈°√≠ datov√© typy, kter√© lze zapsat p≈ô√≠mo, ov≈°em bƒõ≈ænƒõj≈°√≠ je pracovat s funkc√≠ `to_datetime`.

Funkce `to_datetime` um√≠ parsovat r≈Øzn√© stringov√© form√°ty.

In [ ]:
from pandas import to_datetime

<br>

#### Pr√°ce s jedn√≠m datumem

---

In [ ]:
datum = to_datetime("05/04/2023")  # str, tuple, datetime.datetime

In [ ]:
datum

In [ ]:
type(datum)

Pokud do funkce `to_datetime` vlo≈æ√≠≈° jedinou hodnotu, vrac√≠ objekty typu `Timestamp`.

<br>

#### Specifick√Ω form√°t

---

Pokud se parser ve funkci `to_datetime` ztrat√≠ nebo tvoje zad√°n√≠ neodpov√≠d√° jeho vyhotoven√≠, m≈Ø≈æe≈° zadat form√°t explicitnƒõ:

In [ ]:
vystup = to_datetime("12-11-2010 01:05")

In [ ]:
vystup.day

<br>

V uk√°zce v√Ω≈° ale hodnota `11` p≈ôedstavuje mƒõs√≠c, nikoliv den.

In [ ]:
vystup = to_datetime("12-11-2010 01:05", format="%d-%m-%Y %H:%M")

In [ ]:
vystup.day

In [ ]:
vystup.month

In [ ]:
vystup.year

In [ ]:
vystup.hour

<br>

#### ƒåasov√© z√≥ny

---

Objekt `Timestamp` umo≈æ≈àuje hodnoty ƒçasov√Ωch z√≥n zad√°vat pomoc√≠ metody `tz_localize`:

In [ ]:
datum

In [ ]:
datum.tz

In [ ]:
tz_datum = datum.tz_localize("Europe/Prague")

In [ ]:
tz_datum.tz

In [ ]:
nove_tz_datum = tz_datum.tz_convert("US/Pacific")

In [ ]:
nove_tz_datum = tz_datum.tz_convert("Europe/London")

In [ ]:
nove_tz_datum

<br>

#### Pr√°ce s nƒõkolika datumy

---

Stejnƒõ jak um√≠ funkce *parsovat* jednu hodnotu, um√≠ zpracovat pole ƒçasov√Ωch string≈Ø:

In [ ]:
datumy = to_datetime(
    [datetime(2023, 4, 5), "5th of April 2023", "2023-Apr-5", "04-05-2023", "20230405"]
)

In [ ]:
datumy

In [ ]:
type(datumy)

Zat√≠mco pole hodnot s datumy, kter√© funkce `to_datetime` zpracuje, vrac√≠ objekt typu `DatetimeIndex`.

<br>

Objekt `DatetimeIndex` potom m≈Ø≈æe≈° konvertovat na `PeriodIndex` pomoc√≠ *metody* `to_period`:

In [ ]:
datumy.to_period?

<br>

Tato metoda je u≈æiteƒçn√°, pokud chcete p≈ôev√©st ƒçasov√© ≈ôady **na urƒçit√© ƒçasov√© obdob√≠**.

Kdy≈æ bude≈° t≈ôeba pot≈ôebovat p≈ôev√©st hodnoty **z denn√≠ch dat na mƒõs√≠ƒçn√≠ data**.

#### Denn√≠ data

In [ ]:
datumy.to_period("D")

#### Mƒõs√≠ƒçn√≠ data

In [ ]:
datumy.to_period("M")

<br>

### Funkce DATE_RANGE

---

In [ ]:
from pandas import date_range, DataFrame

In [ ]:
date_range(start='2023-01-01', periods=10, freq='D')

In [ ]:
date_range(start='2023-01-01', periods=10, freq='M')

In [ ]:
data = {
    'date': date_range(start='2022-01-01', periods=10, freq='D'),
    'sales': [100, 102, 105, 107, 110, 112, 115, 117, 120, 122]
}

In [ ]:
data

In [ ]:
df_data = DataFrame(data)

In [ ]:
df_data.head(3)

In [ ]:
df_data.set_index('date', inplace=True)

In [ ]:
df_data.head(3)

In [ ]:
df_period_y = df_data.to_period(freq='M')

In [ ]:
df_period_y

<br>

#### Poƒçet period

---

Nachyst√° objekt, kter√Ω vypracuje tolik period, kter√© definuje≈° pomoc√≠ parametru `periods`:

In [ ]:
date_range(start='2000-01-01', periods=10, freq='Y')

In [ ]:
# date_range?

In [ ]:
datumy_ind = date_range(start="01-01-1992", periods=8)  # defaultnƒõ denn√≠ frekvence

In [ ]:
datumy_ind

<br>

#### Frekvence

---

In [ ]:
datumy_mesicne_ind = date_range("01-01-1992", periods=8, freq="M")

In [ ]:
datumy_mesicne_ind

<br>

### Frekvence

ƒåasovou paletou frekvenc√≠, kterou framework `pandas` nab√≠z√≠ je tato tabulka:

| String | Popisek |
| :-: | :- |
| `D` | kalend√°≈ôn√≠ den |
| `W` | t√Ωden |
| `M` | konec mƒõs√≠ce |
| `Q` | konec ƒçtvrtlet√≠ |
| `A` | konec roku |
| `H` | hodiny |
| `T` | minuty |
| `S` | vte≈ôiny |
| `B` | pracovn√≠ den |
| `BM` | konec pracovn√≠·∏ßo mƒõs√≠ce |
| `BQ` | konec pracovn√≠ho ƒçtvrtlet√≠ |

<br>

#### Hodinov√© periody

---

In [ ]:
from pandas import timedelta_range

In [ ]:
hodinove_ind = timedelta_range(0, periods=12, freq="H")

In [ ]:
hodinove_ind

#### Netradiƒçn√≠ frekvence

---

In [ ]:
timedelta_range(0, periods=10, freq="1H15T")

<br>

### Resampling, sn√≠≈æen√≠ frekvence

---

*Resampling* nebo tak√© *p≈ôevzorkov√°n√≠* je proces, kter√Ω upravuje frekvenci ƒçasov√© ≈ôady.

*Resampling* se obvykle pou≈æ√≠v√° **pro sn√≠≈æen√≠ frekvence** (z hodinov√Ωch dat na denn√≠ data).

*Resampling* zahrnuje *agregaci* dat.

V `pandas` se k tomu pou≈æ√≠v√° metoda `resample`, kter√° m√° jako parametr novou frekvenci, na kterou chcete data p≈ôev√©st:

In [ ]:
data = {
    'date': date_range(start='2022-01-01', periods=60, freq='D'),
    'sales': range(60)
}

In [ ]:
data

In [ ]:
df_data = DataFrame(data)

In [ ]:
df_data

In [ ]:
df_data.set_index('date', inplace=True)

In [ ]:
df_data.head()

In [ ]:
seskupena_data = df_data.resample('Y').sum()

In [ ]:
seskupena_data

<br>

### Zp≈ôes≈àov√°n√≠ ≈ôady

---

Zahrnuje **zv√Ω≈°en√≠ frekvence ƒçasov√Ωch ≈ôad**.

P≈ôiƒçem≈æ se novƒõ vytvo≈ôen√© hodnoty obvykle interpoluj√≠ nebo dopl≈àuj√≠ nƒõjakou konstantou.

V pandas se k zp≈ôes≈àov√°n√≠ pou≈æ√≠v√° metoda `asfreq`, kter√° m√° jako parametr novou frekvenci, na kterou chcete data p≈ôev√©st.

In [ ]:
data = {
    'date': date_range(start='2022-01-01', end='2022-03-01', freq='MS'),  # M - konec mƒõs√≠ce
    'sales': [100, 120, 150]
}

In [ ]:
df_data = DataFrame(data)

In [ ]:
df_data.head()

In [ ]:
df_data.set_index('date', inplace=True)

In [ ]:
df_data.head()

In [ ]:
denni_data = df_data.asfreq('D', method='bfill')

In [ ]:
denni_data.head()

Metoda `asfreq` bere jako parametr novou frekvenci, na kterou chceme data p≈ôev√©st.

V p≈ô√≠padƒõ v√Ω≈°e jde o frekvenci `D`, co≈æ znamen√° **denn√≠ data**.

Proto≈æe p≈ôi zp≈ôes≈àov√°n√≠ se **vytvo≈ô√≠ chybƒõj√≠c√≠ hodnoty** (v d≈Øsledku zv√Ω≈°en√≠ frekvence), je pot≈ôeba zvolit metodu pro jejich doplnƒõn√≠.

V√Ω≈° jde o metodu `forward fill` (parametr `method='ffill'`), kter√° kop√≠ruje p≈ôedchoz√≠ hodnotu pro v√Ωpl≈à chybƒõj√≠c√≠ch hodnot.

Dal≈°√≠ mo≈ænost√≠ je pou≈æ√≠t metodu `'back fill'` (parametr `method='bfill'`), kter√° kop√≠ruje n√°sleduj√≠c√≠ hodnotu pro v√Ωpl≈à chybƒõj√≠c√≠ch hodnot.

<br>

##### **üß† CVIƒåEN√ç üß†, procviƒç si ƒçasov√© ≈ôady**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:
1. Celkov√Ω prodej za ka≈æd√Ω mƒõs√≠c.
2. Pr≈Ømƒõrn√Ω prodej za ka≈æd√Ω den v t√Ωdnu.
3. Denn√≠ prodej za posledn√≠ t√Ωden.

In [ ]:
import pandas as pd
import numpy as np

denni_datumy = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
prodeje = np.random.randint(10, 100, size=(len(denni_datumy),))

data = {
    'datumy': denni_datumy,
    'prodeje': prodeje
}

df_prodeje = pd.DataFrame(data)
df_prodeje.set_index('datumy', inplace=True)

In [ ]:
df_prodeje.tail()

In [ ]:
from datetime import timedelta

In [ ]:
#√ökol 1
mesicni_prodej = df_prodeje.resample( 'M' ).sum( )
mesicni_prodej['mesic'] = mesicni_prodej.index.month_name( )
mesicni_prodej = mesicni_prodej.set_index( 'mesic' )
# display( mesicni_prodej )

In [ ]:
mesicni_prodej

In [ ]:
#√ökol 2
df_prodeje['den'] = df_prodeje.index.day_name( )
prumerne_prodeje = df_prodeje.groupby( by="den" ).mean( )
prumerne_prodeje = prumerne_prodeje

In [ ]:
prumerne_prodeje

In [ ]:
"Timedelta" in dir()

In [ ]:
#√ökol 3
zacatek_posledniho_tydne = df_prodeje.index.max( ) - Timedelta( days = 7 )
posledni_tyden = df_prodeje[df_prodeje.index > zacatek_posledniho_tydne]

In [ ]:
posledni_tyden

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    mesicni_prodej = df_prodeje.resample('M').sum()

    df_prodeje['weekday'] = df_prodeje.index.weekday
    denni_prumer = df_prodeje.groupby('weekday')['prodeje'].mean()

    prodej_posledni_vikend = df_prodeje.loc['2022-12-25':, 'prodeje']
    ```
</details>

## V√Ωkonn√Ω PANDAS

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.riOR-y2_yu_2cGdEN2e6-wAAAA%26pid%3DApi&f=1&ipt=638c4516d155ff9768066e17887a621cbad0de6bce639a40be98f5dedbce67ac&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

Z p≈ôedchoz√≠ch uk√°zek a popisk≈Ø (seskupov√°n√≠) tedy m≈Ø≈æe≈° ch√°pat, ≈æe skuteƒçn√Ω v√Ωkon *frameworku* tkv√≠ v p≈ôeveden√≠ **z√°kladn√≠ch operac√≠ do jazyka C**.

Tyto abstrakce jsou √∫ƒçinn√© a efektivn√≠ pro mnoho bƒõ≈æn√Ωch p≈ô√≠pad≈Ø pou≈æit√≠.

Vytv√°≈ôej√≠ ale spousty doƒçasn√Ωch objekt≈Ø, co≈æ m≈Ø≈æe zp≈Øsobit nep≈ôimƒõ≈ôenou re≈æii v√Ωpoƒçetn√≠ho ƒçasu a pamƒõti.

<br>

### EVAL a QUERY

---

P≈ô√≠m√Ω p≈ô√≠stup k operac√≠m rychlosti C bez n√°kladn√© alokace `pandas` poskytuje funkce `eval` a `query`.

Ty spoleh√°j√≠ na funkci `numexpr`.

<br>

### Funkce EVAL

---

Dva d≈Øvody, proƒç pou≈æ√≠vat funkci `eval` m√≠sto obyƒçejn√©ho Pythonu:
1. velk√© objekty typu `DataFrame` jsou vyhodnocov√°ny efektivnƒõji,
2. aritmetick√© a logick√© v√Ωrazy projdou nar√°z z√°kladn√≠m enginem (pomoc√≠ `numexpr`).

**Pozor!** Dobr√° obecn√° pom≈Øcka ≈ô√≠k√°, ≈æe nen√≠ nutn√© vyu≈æ√≠vat funkci `eval` pro tabulky, kter√© jsou krat≈°√≠ ne≈æ 10 000 ≈ô√°dk≈Ø.

### Pou≈æit√≠ EVAL

---

Funkce `eval` slou≈æ√≠ k efektivn√≠mu vyhodnocen√≠ **aritmetick√Ωch v√Ωraz≈Ø** na:
* objekty `DataFrame`,
* objekty `Series`.

Jej√≠ nejvƒõt≈°√≠ v√Ωhodou je **rychlost a efektivita**, kter√° spoƒç√≠v√° v minimalizaci pamƒõ≈•ov√© z√°tƒõ≈æe a zrychlen√≠ operac√≠.

Kdy≈æ pracuje≈° **s velk√Ωmi datov√Ωmi sadami**, pamƒõ≈•ov√° z√°tƒõ≈æ a rychlost se st√°vaj√≠ kl√≠ƒçov√Ωmi faktory.

Funkce `eval` optimalizuje v√Ωpoƒçetn√≠ proces t√≠m, ≈æe sni≈æuje mno≈æstv√≠ alokovan√© pamƒõti a zrychluje v√Ωpoƒçetn√≠ operace.

<br>

### Uk√°zka EVAL

---

Pro zadan√Ω *dummy dataset* vytvo≈ô **nov√Ω sloupeƒçek** `sloupec_D`, podle vzoru:
`A + B * C`

In [ ]:
import pandas as pd

In [ ]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}

In [ ]:
df_data = pd.DataFrame(data)

In [ ]:
df_data.head()

In [ ]:
df_data['sloupec_D'] = df_data['A'] + df_data['B'] * df_data['C']

In [ ]:
df_data.head()

<br>

*Alternativn√≠ zp≈Øsob*, jak prov√©st stejn√Ω v√Ωpoƒçet, pokud m√°≈° dlouhou tabulku nebo sloupeƒçek, je pou≈æit√≠ funkce `eval`:

In [ ]:
df_data['sloupecek_D'] = df_data.eval('A + B * C')

In [ ]:
df_data.head()

In [ ]:
from pandas import eval as ev

In [ ]:
# ev?

<br>

Funkce `eval` zpracov√°v√° zadan√Ω `str` podobnƒõ jako built-in funkce `eval`.

Souhrnnƒõ lze ≈ô√≠ci:
* funkci `eval` pou≈æij tehdy, pokud je [dataset dlouh√Ω](https://pandas.pydata.org/pandas-docs/stable/user_guide/enhancingperf.html#pandas-eval-performance),
* ve v≈°ech ostatn√≠ch sc√©n√°≈ô√≠ch, kde nepot≈ôebuje≈° ≈°et≈ôit pamƒõt a ƒças pou≈æij klasickou syntaxi.

### V√Ωkon EVAL

---

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
pocet_radku, pocet_sloupcu = 1_000_000, 100

In [ ]:
rng = np.random.RandomState()

In [ ]:
dframe_1, dframe_2, dframe_3, dframe_4 = [DataFrame(rng.rand(pocet_radku, pocet_sloupcu)) for _ in range(4)]

In [ ]:
dframe_1.head()

#### Uk√°zka sƒç√≠t√°n√≠ hodnot tabulek

---

In [ ]:
from pandas import DataFrame

In [ ]:
df1 = DataFrame({"A": [1, 2], "B": [3, 4]})

In [ ]:
df2 = DataFrame({"A": [2, 3], "B": [1, 2]})

In [ ]:
df1 + df2

In [ ]:
from pandas import eval as ev

In [ ]:
ev?

In [ ]:
%timeit dframe_1 + dframe_2 + dframe_3 + dframe_4

In [ ]:
%timeit ev("dframe_1 + dframe_2 + dframe_3 + dframe_4", engine="numexpr")  # bez engine="numexpr"

In [ ]:
!pip install numexpr

In [ ]:
# 1.10 s

In [ ]:
# pd.eval?

<br>

### Funkce QUERY

---

Funkce `query` slou≈æ√≠ k efektivn√≠mu **filtrov√°n√≠ ≈ô√°dk≈Ø**.

Filtrov√°n√≠ prob√≠h√° na z√°kladƒõ **zadan√© podm√≠nky**.


Hlavn√≠ v√Ωhodou jsou:
* **snadn√° ƒçitelnost**, umo≈æ≈àuje zapisovat podm√≠nky ve snadno ƒçiteln√© formƒõ, zejm√©na v p≈ô√≠padƒõ slo≈æitƒõj≈°√≠ch dotaz≈Ø,
* **rychlost**, m≈Ø≈æe b√Ωt rychlej≈°√≠ ne≈æ tradiƒçn√≠ metody filtrov√°n√≠,(zejm√©na pro velk√© datov√© sady).

### Uk√°zka QUERY

---

Pro zadan√Ω *dummy dataset* vyfiltruj takov√© z√°znamy, kde:
1. Hodnoty ze sloupce A budou **men≈°√≠ ne≈æ 4**,
2. hodnoty ze sloupce B budou **vƒõt≈°√≠ ne≈æ 6**,
3. hodnoty ze sloupce C budou **vƒõt≈°√≠ ne≈æ 11**.

In [ ]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15],
        'D': ["AA", "BB", "CC", "DD", "EE"]
}

In [ ]:
df_data = DataFrame(data)

In [ ]:
df_data

In [ ]:
df_filtrovane = df_data[(df_data['A'] < 4) & (df_data['B'] > 6) & (df_data['C'] > 11)]  # & - and, | - or

In [ ]:
df_filtrovane

Zapisov√°n√≠ pomoc√≠ *boolean indexov√°n√≠* je ov≈°em n√°roƒçn√© jak pro z√°pis, tak pro ƒçten√≠.

<br>

Pomoc√≠ funkce `query`:

In [ ]:
df_filtrovane = df_data.query('A < 4 and B > 6 and C > 11')

In [ ]:
df_filtrovane

#### WHERE 'D' LIKE 'CC'

---

In [ ]:
df_filtrovane_str = df_data.query(
    "A < 4 and B > 6 and C > 11 and D.str.contains('CC')"
)  # LIKE

In [ ]:
df_filtrovane_str

In [ ]:
df_filtrovane_str = df_data.query(
    "A < 4 and B > 6 and C > 11 and ~D.str.contains('CC')"
)  # NOT LIKE

In [ ]:
df_filtrovane_str

#### column_a NOT IN []

---

In [ ]:
"A not in [1, 2]"

In [ ]:
"A < 4 and B > 6 and C > 11 and D in ('AA', 'CC')"

<br>

### Nedostatky QUERY

---

1. **Omezen√° syntaxe**, m√° omezenƒõj≈°√≠ syntaxi ve srovn√°n√≠ s bƒõ≈æn√Ωm z√°pisem v Pythonu a nemus√≠ podporovat [v≈°echny operace](https://pandas.pydata.org/pandas-docs/stable/user_guide/enhancingperf.html#eval-examples),
2. **N√°zvy sloupc≈Ø**, pokud n√°zvy sloupc≈Ø obsahuj√≠ **mezery nebo znaky**, mus√≠≈° je uv√©st pomoc√≠ backtick≈Ø a pou≈æ√≠t symbol `@` pro reference na promƒõnn√© mimo `DataFrame`.

In [ ]:
df_cisla = DataFrame({'Sloupec 1': [1, 2, 3, 4, 5], 'Sloupec 2': [10, 20, 30, 40, 50]})

In [ ]:
df_cisla

In [ ]:
# vystup_1 = df_cisla.query('Sloupec 1 < 3')

In [ ]:
limit = 3

In [ ]:
vystup_2 = df_cisla.query('`Sloupec 1` < @limit')

In [ ]:
vystup_2

### Souhrn k EVAL a QUERY

---

Hlavn√≠m √∫ƒçelem tƒõchto funkc√≠ je aplikace na skuteƒçnƒõ **velk√© datov√© sety**.

Rozd√≠ly u drobnƒõj≈°√≠ch dataset≈Ø **jsou ƒçasto minim√°ln√≠**.

Velk√Ω vliv na v√Ωstupn√Ω ƒças dƒõl√° parametr `engine`, kter√Ω se sna≈æ√≠ pracovat s knihovnou `numexpr`.

<br>

#### **üß† CVIƒåEN√ç üß†, procviƒç si funkce EVAL a QUERY**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:
1. Vyber studenty s vƒõkem **mezi 20 a 22 lety (vƒçetnƒõ)** a email, kter√Ω obsahuje string **gmail.com**,
2. vypoƒçtƒõte *BMI* (Body Mass Index) pro ka≈æd√©ho studenta a p≈ôidejte ho do nov√©ho sloupce (vzorec: *v√°ha[kg] / (v√Ω≈°ka[m] * v√Ω≈°ka[m])*)
3. vyberte studenty s BMI **vy≈°≈°√≠m ne≈æ 22** a kte≈ô√≠ **poch√°z√≠ z mƒõst Brno a Praha**.

In [ ]:
from pandas import DataFrame

uzivatele = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [19, 20, 21, 22, 23],
    'Height_cm': [160, 170, 175, 180, 165],
    'Weight_kg': [50, 65, 70, 80, 55],
    'Email': ["alice@gmail.com", "bob@tech-users.com", "charlie91@mail.com", "david_bB@gmail.com", "eevee@my_domain.net"],
    'Address': [
        "Vrbov√° 215/14, 602 00, Brno, ƒåesk√° republika",
        "Jilmov√° 862, 400 11, √öst√≠ nad Labem, ƒåesk√° republika",
        "Kamenick√° 37/2, 170 00, Praha, ƒåesk√° republika",
        "Podlipn√° 1284/6, 460 01, Liberec, ƒåesk√° republika",
        "Havl√≠ƒçkova 1703, 500 02, Hradec Kr√°lov√©, ƒåesk√° republika"
    ]
}

df_uzivatele = DataFrame(uzivatele)

In [ ]:
df_uzivatele

In [ ]:
# √ökol 1
vybrani_uzivatele_1 = df_uzivatele.query( 
    "Age.between( 20, 22 ) and Email.str.contains( 'gmail.com' )" 
)

In [ ]:
# √ökol 2
df_uzivatele['BMI'] = df_uzivatele.eval( 
    'Weight_kg / ( ( Height_cm / 100 ) ** 2 )' 
)

In [ ]:
df_uzivatele

In [ ]:
# √ökol 3
vybrani_uzivatele_2 = df_uzivatele.query( 
    "BMI > 22 and Address.str.split( ', ', expand = True )[2].isin( ['Praha', 'Brno'] )" 
)

In [ ]:
df_uzivatele.query( 
    "BMI > 22")

In [ ]:
df_uzivatele["Address"].str.split(", ", expand=True)[2].isin({"Praha", "Brno"})

In [ ]:
df_uzivatele["Address"].str.split(", ", expand=True)[2].isin({"Praha", "Brno"})

In [ ]:
r1 = r1.rename({"2": "Sloupec_2"})

In [ ]:
r1 = r1[2].rename("rrrr")

In [ ]:
r1.columns

In [ ]:
vybrani_uzivatele_2

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    vyber_uzivatel = df_uzivatele.query("20 <= Age <= 22 and Email.str.contains('gmail.com')")

    df_uzivatele['Height_m'] = df_uzivatele.eval('Height_cm / 100')
    df_uzivatele['BMI'] = df_uzivatele.eval('Weight_kg / (Height_m * Height_m)').round(1)
    
    df_prodeje['weekday'] = df_prodeje.index.weekday
    average_weekday_sales = df_prodeje.groupby('weekday')['prodeje'].mean()
    
    df_uzivatele["City"] = df_uzivatele["Address"].apply(lambda x: x.split(",")[2])
    students_with_high_bmi = df_uzivatele.query('BMI > 22 and City in ["Brno", "Praha"]')
    ```
</details>

<br>

## Skuteƒçn√© datov√© sety

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.JJu86kKRph1LHt5M7agODQHaHa%26pid%3DApi&f=1&ipt=5cfb9e9f7b451b3a4f7a3ebdc4eb99177d477f20f8145cd818cc4966143f8b2b&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

ƒåi≈°tƒõn√≠ dat je proces, kter√Ω pat≈ô√≠ k samotn√© pr√°ci s daty.

Spolu s nƒõkter√Ωmi souvisej√≠c√≠mi √∫kony, pat≈ô√≠ mezi ty v√≠ce frustruj√≠c√≠.

Nesmysln√© datov√© typy, zkomolen√© ƒçasov√© √∫daje, nefunguj√≠c√≠ transformace.

In [ ]:
from pandas import DataFrame

In [ ]:
df_uzivatele = DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [None, 20, None, 22, 23],
    'Height_cm': [160, 170, 175, None, 165],
    'Weight_kg': [50, 65, 70, 80, 55]
})

In [ ]:
df_uzivatele.head(3)

Ihned po naƒçten√≠ je nejlep≈°√≠ data prozkoumat.

Nejenom datov√© typy ale tak√© m√≠t povƒõdom√≠ **o chybƒõj√≠c√≠ch hodnot√°ch**:

In [ ]:
df_uzivatele.info()

<br>

Pomoc√≠ metody `info` si udƒõl√°≈° aspo≈à povrchn√≠ p≈ôehled o hodnot√°ch, datov√Ωch typech a chybƒõj√≠c√≠ch hodnot√°ch.

<br>

### Kolik mi chyb√≠ √∫daj≈Ø

---

V≈ædycky p≈ôistupuj k dat≈Øm s m√≠rnou skeps√≠.

Ot√°zkou potom nen√≠, *JESTLI* mi chyb√≠ data, ale *KOLIK* dat mi chyb√≠ **a kde**.

In [ ]:
chybejici_hodnoty = df_uzivatele.isnull()  # isna()

In [ ]:
chybejici_hodnoty

<br>

Pomoc√≠ metody `isnull` nahrad√≠≈° v≈°echny chybƒõj√≠c√≠ hodnoty v tabulce/sloupc√≠ch pomoc√≠ `True`.

Pokud nechyb√≠, nahrad√≠ s `False`.

In [ ]:
type(chybejici_hodnoty)

Takov√Ω v√Ωstup ale nen√≠ zcela reprezentativn√≠.

Proto je pot≈ôeba, seƒç√≠st v≈°echny `True` hodnoty po sloupc√≠ch:

In [ ]:
chybejici_hodnoty = df_uzivatele.isnull().sum()

In [ ]:
chybejici_hodnoty

<br>

Opƒõt v jednotk√°ch to nemus√≠ zcela prozrazovat chybovost.

Nejlep≈°√≠m indik√°torem ale b√Ωvaj√≠ **procenta z celkov√©ho mno≈æstv√≠ hodnot ve sloupci**:

In [ ]:
celkem_zaznamu = df_uzivatele.shape[0]  # 0 ... Indexy, 1 ... sloupce

In [ ]:
celkem_chybi = chybejici_hodnoty

In [ ]:
celkem_chybi

In [ ]:
v_procentech = round(celkem_chybi / celkem_zaznamu * 100, 1)

In [ ]:
v_procentech

<br>

p≈ô√≠padnƒõ celkov√© mno≈æstv√≠ z√°znam≈Ø ve v≈°ech sloupc√≠ch:

In [ ]:
vsechny_bunky = df_uzivatele.shape[0] * df_uzivatele.shape[1]  # 5 * 4

In [ ]:
vsechny_chybejici_hodnoty = chybejici_hodnoty.sum()            # 4

In [ ]:
celkem_v_procentech = round(vsechny_chybejici_hodnoty / vsechny_bunky * 100, 1)

In [ ]:
celkem_v_procentech

<br>

V t√©to uk√°zce tedy chyb√≠ 20 % dat a to nen√≠ m√°lo!

<br>

### Co s chybƒõj√≠c√≠mi hodnotami

---

Je d≈Øle≈æit√© vƒõdƒõt, proƒç m√°≈° takov√© mno≈æstv√≠ chybƒõj√≠c√≠ch hodnot.

Chyb√≠ ti data, proto≈æe neexistuj√≠, nebo proto≈æe nejsou souƒç√°st√≠ z√°znam≈Ø v datasetu.

V takov√Ωch kroc√≠ch je obvykle nutn√©, pochopit podstatu √∫daj≈Ø (dokumentace, specifikace,..).

Nejjednodu≈°≈°√≠ zp≈Øsoby, jak s chybƒõj√≠c√≠mi daty nalo≈æit (ale ne efektivn√≠!!):
1. Zahodit chybƒõj√≠c√≠ hodnoty,
2. doplnit chybƒõj√≠c√≠ hodnoty.

#### Zahodit chybƒõj√≠c√≠ hodnoty

In [ ]:
# df_uzivatele.dropna?

In [ ]:
df_uzivatele

In [ ]:
df_uzivatele.dropna()  # axis=0

<br>

V tento okam≈æik si zahod√≠≈° v≈°echny z√°znamy, kter√© **postr√°daly nƒõjakou hodnotu**.

Nƒõkdy je jednodu≈°≈°√≠ zahodit sloupeƒçek, kter√Ω m√° chybƒõj√≠c√≠ hodnotu:

In [ ]:
df_uzivatele.dropna(axis=1)

#### Doplnit automaticky hodnoty

In [ ]:
# df_uzivatele.fillna?

In [ ]:
df_uzivatele

In [ ]:
df_uzivatele.fillna(0)  # replace: "Nan" --> 0

<br>

Pomoc√≠ funkce `fillna` m≈Ø≈æe≈° vyplnit m√≠sto chybƒõj√≠c√≠ch hodnot p≈ôeddefinovanou vlastn√≠ hodnotu.

Nebo pomoc√≠ argumentu pro `method` pracovat s elegantnƒõj≈°√≠m zad√°n√≠m.

Nahradit chybƒõj√≠c√≠ hodnoty hodnotou, kter√° n√°sleduje bezprost≈ôednƒõ za n√≠ ve stejn√©m sloupci (To m√° velk√Ω smysl u soubor≈Ø dat, kde maj√≠ pozorov√°n√≠ nƒõjak√© logick√© po≈ôad√≠.)

In [ ]:
df_uzivatele

In [ ]:
df_uzivatele.fillna(method='bfill', axis=0)

In [ ]:
df_uzivatele.fillna(method='ffill', axis=0).fillna(19)

## Encoding

---

Probl√©my s k√≥dov√°n√≠m jsou bƒõ≈æn√©.

Jde o proces, kter√Ω mapuje **bajtov√© stringy** (`0110101011`) na **u≈æivatelsky ƒçiteln√Ω text** (`"ahoj!"`).

Tento probl√©m nastane, pokud se sna≈æ√≠≈° naƒç√≠st zdroj v jin√© k√≥dovac√≠ sadƒõ, ne≈æ byl soubor zapsan√Ω.

<br>

Proto≈æe je tƒõchto sad hodnƒõ, obƒças skonƒç√≠≈° s *escapovan√Ωmi znaky*, nebo s nezn√°m√Ωmi kliky-h√°ky:

In [ ]:
√¶‚Äì‚Ä°√•

<br>

P≈ô√≠padnƒõ pokud nelze domapovat znaky:

ÔøΩÔøΩ

<br>

V **Pythonu 2** nebylo lehk√© *encoding* zajistit.

V **Pythonu 3** je cel√Ω proces o dost jednodu≈°≈°√≠.

Standardem pro pr√°ci b√Ωv√° obyƒçejnƒõ UTF-8. Na to ale zrovna v na≈°ich konƒçin√°ch nem≈Ø≈æe≈° spol√©hat.

In [ ]:
veta = "Matou≈° zaplatil 100 $"

In [ ]:
# veta?

<br>

√ödaj, kter√Ω vid√≠≈° v√Ω≈° je datov√Ω typ `str`.

In [ ]:
prevedena_veta = veta.encode("utf-8", errors="replace")

In [ ]:
prevedena_veta

In [ ]:
prevedena_veta?

<br>

D√°l je mo≈æn√©, p≈ôev√©st `str` na `bytes`. Tedy sekvenci ƒç√≠sel.

Jak ale teƒè tato sekvence vypad√°:

In [ ]:
prevedena_veta

<br>

Celou vƒõtu m≈Ø≈æe≈° zp√°tky k√≥dovat pomoc√≠ funkce `decode` z `bytes` na `str`:

In [ ]:
print(prevedena_veta.decode("utf-8"))

<br>

Pokud ale zvol√≠≈° jinou sadu, nemus√≠≈° dostat stejn√© hodnoty:

In [ ]:
print(prevedena_veta.decode("windows-1250"))

In [ ]:
print(prevedena_veta.decode("ascii"))

<br>

Toto a dal≈°√≠ ne√∫spƒõ≈°n√© postupy je samoz≈ôejmƒõ ≈°patnƒõ a ty se tomu chce≈° urƒçitƒõ vyhnout.

In [ ]:
from pandas import read_csv

In [ ]:
# chybna_sada = read_csv("neznamy_vzorek.csv")

<br>

Ne v≈ædy je mo≈æn√©, defaultnƒõ pracovat se znakovou sadou **UTF-8**.

Ve v√Ωstupu je vidƒõt, ≈æe jde o smƒõs nƒõkolika sad a ty mus√≠≈° vyzkou≈°et, jak√° bude fungovat.

In [ ]:
import sys

In [ ]:
sys.getdefaultencoding()

In [ ]:
!pip install chardet

In [ ]:
from chardet.universaldetector import UniversalDetector

In [ ]:
detector = UniversalDetector()

In [ ]:
for line in open("neznamy_vzorek.csv", 'rb'):
    detector.feed(line)
    if detector.done:
        break

detector.close()
print(detector.result)

<br>

Pomoc√≠ knihovny `chardet` / `charset_normalizer` identifikuje≈°, o jak√© znakov√© sady jde:

Nyn√≠ m√°≈° lep≈°√≠ p≈ôedstavu o tom, jakou znakovou sadu soubor pou≈æ√≠v√°.

Opatrnƒõ na d√©lku `str`, kter√Ω detekuje≈°.

Pokud je p≈ô√≠li≈° kr√°tk√Ω, m≈Ø≈æe to ovlivnit v√Ωsledek.

Naopak pokud je p≈ô√≠li≈° dlouh√Ω, m≈Ø≈æe trvat jeho naƒçten√≠.

In [ ]:
spravna_sada = read_csv("neznamy_vzorek.csv", encoding="Windows-1252")

In [ ]:
spravna_sada.head()

In [ ]:
spravna_sada.info()

<br>

Tentokr√°t soubor otev≈ôe≈° pouze s varov√°n√≠m.

Pro p≈ô√≠≈°tƒõ je urƒçitƒõ v√Ωhodou vytvo≈ôit kopii takov√©ho souboru, kterou ulo≈æ√≠≈° v ide√°ln√≠m k√≥dov√°n√≠:

In [ ]:
spravna_sada.to_csv("kopie_sada_utf8.csv", encoding="utf-8")

In [ ]:
# pokus = read_<zdroj>("vzorek_2.csv")

In [ ]:
# vzorek = to_<zdroj>(...)

<br>

## Nekonzistentn√≠ data

---

Pokud ti data nechyb√≠, je≈°tƒõ neznamen√°, ≈æe mus√≠ b√Ωt nutnƒõ v po≈ô√°dku:

In [1]:
from pandas import DataFrame

In [16]:
chybny_dataset = {
    "id": [111, 112, 113, 114, 115, 116, 117],
    "jmeno": ["Matous", "Marek", "Petr", "Filip", "Jan", "Lukas", "David"],
    "vek": [22, 29, 31, 55, 43, 61, 55],
    "zeme": ["Ceska republika", "Slovensko", "Nemecko", "Ceskarepublika", "Ceska Republika", "Rakousko", "Ceska Reapublika"]
}

In [40]:
df_zamestnanci = DataFrame(chybny_dataset)

In [41]:
df_zamestnanci

    id   jmeno  vek              zeme
0  111  Matous   22   Ceska republika
1  112   Marek   29         Slovensko
2  113    Petr   31           Nemecko
3  114   Filip   55    Ceskarepublika
4  115     Jan   43   Ceska Republika
5  116   Lukas   61          Rakousko
6  117   David   55  Ceska Reapublika

R≈Øzn√© zdroje, spr√°vci m≈Ø≈æou zp≈Øsobit nejednotn√Ω z√°pis a dopustit se *nekonzistence*.

In [12]:
df_zamestnanci["zeme"].unique()

array(['Ceska republika', 'Slovensko', 'Nemecko', 'Ceskarepublika',
       'Ceska Republika', 'Rakousko'], dtype=object)

<br>

To m≈Ø≈æou b√Ωt jak mal√° velk√° p√≠smena, tak r≈Øzn√© znaky, chybƒõj√≠c√≠ mezery apod.

Odstranit je nen√≠ n√°roƒçn√©.

N√°roƒçn√© m≈Ø≈æe b√Ωt opƒõt rozpozn√°n√≠, takov√© komplikace.

In [20]:
df_zamestnanci["zeme"].str.lower().unique()

array(['ceska republika', 'slovensko', 'nemecko', 'ceskarepublika',
       'rakousko', 'ceska reapublika'], dtype=object)

<br>

Nƒõkter√© chyby, ale m≈Ø≈æou zp≈Øsobit paseku. T≈ôeba chybƒõj√≠c√≠ mezery.

Tady je nejlep≈°√≠, pomoci si vhodn√Ωm n√°strojem `fuzzywuzzy`.

In [ ]:
!pip install fuzzywuzzy

In [21]:
import fuzzywuzzy
from fuzzywuzzy import process

/home/matous/projects/data-csob-2023/shared/onsite/env/lib/python3.8/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

Pro men≈°√≠ datasety s chybƒõj√≠c√≠mi mezerami aj., m≈Ø≈æe tato knihovna pracovat prakticky sama.

√öƒçel t√©to knihovny je rozpoznat podobn√© ≈ôetƒõzce, jak√©

In [26]:
shodne = fuzzywuzzy.process.extract(
    "Ceska republika",
    df_zamestnanci["zeme"],
    limit=6,
    scorer=fuzzywuzzy.fuzz.token_sort_ratio
)

In [24]:
df_zamestnanci["zeme"]

0     Ceska republika
1           Slovensko
2             Nemecko
3      Ceskarepublika
4     Ceska Republika
5            Rakousko
6    Ceska Reapublika
Name: zeme, dtype: object

In [28]:
df_zamestnanci["zeme"].unique()

array(['Ceska republika', 'Slovensko', 'Nemecko', 'Ceskarepublika',
       'Ceska Republika', 'Rakousko', 'Ceska Reapublika'], dtype=object)

In [27]:
shodne

[('Ceska republika', 100, 0),
 ('Ceska Republika', 100, 4),
 ('Ceskarepublika', 97, 3),
 ('Ceska Reapublika', 97, 6),
 ('Slovensko', 25, 1),
 ('Nemecko', 18, 2)]

Nyn√≠ m≈Ø≈æe≈° vidƒõt shodn√© `str` se zvolen√Ωm zad√°n√≠m, jak to vid√≠ `fuzzywuzzy`.

Pro nahrazen√≠ je optim√°ln√≠ nachystat vhodnou u≈æivatelskou funkci:

In [27]:
shodne

[('Ceska republika', 100, 0),
 ('Ceska Republika', 100, 4),
 ('Ceskarepublika', 97, 3),
 ('Ceska Reapublika', 97, 6),
 ('Slovensko', 25, 1),
 ('Nemecko', 18, 2)]

In [29]:
nejblizsi_shoda = [shoda[0] for shoda in shodne if shoda[1] >= 90]

In [30]:
nejblizsi_shoda

['Ceska republika', 'Ceska Republika', 'Ceskarepublika', 'Ceska Reapublika']

In [31]:
shodujici_udaje = df_zamestnanci["zeme"].isin(nejblizsi_shoda)  # membership testing

In [32]:
shodujici_udaje

0     True
1    False
2    False
3     True
4     True
5    False
6     True
Name: zeme, dtype: bool

In [33]:
df_zamestnanci

    id   jmeno  vek              zeme
0  111  Matous   22   Ceska republika
1  112   Marek   29         Slovensko
2  113    Petr   31           Nemecko
3  114   Filip   55    Ceskarepublika
4  115     Jan   43   Ceska Republika
5  116   Lukas   61          Rakousko
6  117   David   55  Ceska Reapublika

In [39]:
df_zamestnanci

    id   jmeno  vek             zeme
0  111  Matous   22  Ceska republika
1  112   Marek   29        Slovensko
2  113    Petr   31          Nemecko
3  114   Filip   55  Ceska republika
4  115     Jan   43  Ceska republika
5  116   Lukas   61         Rakousko
6  117   David   55  Ceska republika

In [42]:
df_zamestnanci.loc[shodujici_udaje,"zeme"]

0     Ceska republika
3      Ceskarepublika
4     Ceska Republika
6    Ceska Reapublika
Name: zeme, dtype: object

In [43]:
vysledek = df_zamestnanci.loc[shodujici_udaje, "zeme"] = "Ceska republika"

In [45]:
df_zamestnanci

    id   jmeno  vek             zeme
0  111  Matous   22  Ceska republika
1  112   Marek   29        Slovensko
2  113    Petr   31          Nemecko
3  114   Filip   55  Ceska republika
4  115     Jan   43  Ceska republika
5  116   Lukas   61         Rakousko
6  117   David   55  Ceska republika

In [ ]:
def nahrad_shody_stringem(dframe, jmeno_sloupce, vzor, min_shoda=90):
    
    vsechny_stringy = dframe[sloupec].unique()
    
    shody = fuzzywuzzy.process.extract(vzor, vsechny_stringy, limit=5,
                                       scorer=fuzzywuzzy.fuzz.token_sort_ratio)
    
    nejblizsi_shoda = [shoda [0] for shoda in shody if shoda[1] >= min_shoda]
    
    shodujici_zaznam = dframe[sloupec].isin(nejblizsi_shoda)
    dframe.loc[shodujici_zaznam, sloupec] = vzor

In [ ]:
nahrad_shody_stringem(dframe=df_zamestnanci, jmeno_sloupce="zeme", vzor="Ceska republika")

In [ ]:
df_zamestnanci

<br>

#### **üß† CVIƒåEN√ç üß†, procviƒç si pr√°ci s chybn√Ωm datasetem**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:
1. Nahraj soubor do `DataFrame`, jm√©no souboru `cviceni_3.csv` (spr√°vn√Ω encoding, spr√°vn√© rozdƒõlen√≠),
2. projdi sloupce, zkontroluj, kde je probl√©m s daty,
3. vypi≈° v≈°echny z√°znamy, kter√© maj√≠ ve sloupci `mesto` hodnotu `Praha`.

In [ ]:
from pandas import read_csv

In [ ]:
# ze souboru DFrame (chardet / charset_normalizer)

In [ ]:
cviceni_3_df = read_csv("cviceni_3.csv")  # ??? Doplnit del≈°√≠ zdr. soubor (fce Download)

In [ ]:
# anal√Ωza dat v DFrame

In [ ]:
# v 'mesto' --> vzor: 'Praha': 'praaahaaa', 'praha', ..

In [ ]:
import pandas as pd
import re
import fuzzywuzzy
from fuzzywuzzy import process

In [ ]:
data = pd.read_csv(
    'C:\\Users\\je97214\\Desktop\\cviceni_3.csv',
    encoding = 'cp1250',
    sep = ';'
)

In [ ]:
def nahrad_shody_stringem(dframe, sloupec, vzor, min_shoda=60):
    vsechny_stringy = dframe[sloupec].unique()
    shody = fuzzywuzzy.process.extract(vzor, vsechny_stringy, limit=5, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
    nejblizsi_shoda = [shoda [0] for shoda in shody if shoda[1] >= min_shoda]
    shodujici_zaznam = dframe[sloupec].isin(nejblizsi_shoda)
    dframe.loc[shodujici_zaznam, sloupec] = vzor

In [ ]:
print( 'Probl√©my s daty:' )
display( data[~data['narozeni'].str.contains('\\d{1,2}/\\d{1,2}/\\d{4}', regex= True, na=False)] )
display( data['mesto'].unique( ) )

In [ ]:
#oprava narozen√≠
data['narozeni'] = data['narozeni'].astype( 'datetime64' )
#oprava mƒõsta
nahrad_shody_stringem(dframe=data, sloupec="mesto", vzor="Praha")
print( 'V√Ωsledek:' )
data.query( "mesto == 'Praha'" )

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    df_ukazka = read_csv("cviceni_3.csv", encoding="Windows-1250", delimiter=";")

    def nahrad_shody_stringem(df, vzor, vyber, min_shoda=85):
        shody = fuzzywuzzy.process.extract(vzor, vyber, limit=20,
                                           scorer=fuzzywuzzy.fuzz.token_sort_ratio)

        nejblizsi_shoda = [shoda[0] for shoda in shody if shoda[1] >= min_shoda]

        shodujici_zaznam = vyber.isin(nejblizsi_shoda)
        df.loc[shodujici_zaznam, "mesto"] = vzor
        
    nahrad_shody_stringem(df_ukazka, "Praha", df_ukazka["mesto"])
    vystup = df_ukazka[df_ukazka["mesto"] == "Praha"]
    ```
</details>

---