## KN, projekt

#### Init

In [64]:
import os
from pathlib import PurePath

In [65]:
import pandas

In [2]:
!ls -l ../onsite/tata

total 884
-rw-rw-r-- 1 jovyan 1000 903253 Feb 28 06:48 sraz_vse_bu.csv

In [25]:
csv_file = pandas.read_csv("../onsite/tata/sraz_vse_bu.csv")

### Je soubor CSV

In [68]:
filename = "../onsite/tata/sraz_vse_bu.pdf"

In [69]:
def is_file_valid(filename: str, valid: tuple = (".csv")) -> bool:
    return PurePath(filename).suffix in valid

In [70]:
is_file_valid(filename)

False

In [59]:
pathlib.PurePath(filename).suffix

'.csv'

In [26]:
type(csv_file)

pandas.core.frame.DataFrame

In [4]:
csv_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1455 entries, 0 to 1454
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   IČ                  1455 non-null   object
 1   RČ                  1455 non-null   object
 2   Název               1455 non-null   object
 3   Příjmení            1455 non-null   object
 4   Jméno               1455 non-null   object
 5   Titul               1455 non-null   object
 6   TitulZ              1455 non-null   object
 7   LV                  1455 non-null   int64
 8   Podíl               1455 non-null   object
 9   ULICE               1454 non-null   object
 10  OBEC                1455 non-null   object
 11  PSC                 1450 non-null   float64
 12  DRUH_CISLOVANI_PAR  1455 non-null   object
 13  Parcela             1455 non-null   object
 14  Datum               1455 non-null   object
 15  CAS                 1455 non-null   float64
 16  KATUZE_KOD          1455 non-null   object
 17  sraz                1455 non-null   object
 18  Unnamed: 18         377 non-null    object
dtypes: float64(2), int64(1), object(16)
memory usage: 216.1+ KB

In [27]:
csv_file.head()

,IČ,RČ,Název,Příjmení,Jméno,Titul,TitulZ,LV,Podíl,ULICE,OBEC,PSC,DRUH_CISLOVANI_PAR,Parcela,Datum,CAS,KATUZE_KOD,sraz,Unnamed: 18
0,28561325,,ADRAS REALITY s.r.o. ...,...,...,,,239,1/3,Sokolská 21 č.p.576,Olomouc,77900.0,2,KN 696,5.12.2022,10.0,Lhotka u Kroměříže,sraz 2,NaN
1,28561325,,ADRAS REALITY s.r.o. ...,...,...,,,239,1/3,Sokolská 21 č.p.576,Olomouc,77900.0,st.,KN 43,5.12.2022,10.0,Lhotka u Kroměříže,sraz 2,x
2,48399345,,AGROPOS s.r.o. ...,...,...,,,648,1/1,Křenovská č.p.1051,"Kojetín, Kojetín I-Město",75201.0,2,KN 167,6.12.2022,10.0,Újezdsko,sraz 6,NaN
3,48399345,,AGROPOS s.r.o. ...,...,...,,,462,1/1,Křenovská č.p.1051,"Kojetín, Kojetín I-Město",75201.0,2,KN 729/2,7.12.2022,9.3,Kostelany,sraz 10,NaN
4,48399345,,AGROPOS s.r.o. ...,...,...,,,648,1/1,Křenovská č.p.1051,"Kojetín, Kojetín I-Město",75201.0,2,KN 149/33,14.12.2022,10.3,Újezdsko,sraz 24,NaN

In [16]:
columns = csv_file.columns.to_list()

### Preprocessing

In [ ]:
max_

In [17]:
columns

['IČ',
 'RČ',
 'Název',
 'Příjmení',
 'Jméno',
 'Titul',
 'TitulZ',
 'LV',
 'Podíl',
 'ULICE',
 'OBEC',
 'PSC',
 'DRUH_CISLOVANI_PAR',
 'Parcela',
 'Datum',
 'CAS',
 'KATUZE_KOD',
 'sraz',
 'Unnamed: 18']

In [5]:
csv_file["PSC"] = csv_file["PSC"].astype(str)

In [6]:
csv_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1455 entries, 0 to 1454
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   IČ                  1455 non-null   object
 1   RČ                  1455 non-null   object
 2   Název               1455 non-null   object
 3   Příjmení            1455 non-null   object
 4   Jméno               1455 non-null   object
 5   Titul               1455 non-null   object
 6   TitulZ              1455 non-null   object
 7   LV                  1455 non-null   int64
 8   Podíl               1455 non-null   object
 9   ULICE               1454 non-null   object
 10  OBEC                1455 non-null   object
 11  PSC                 1455 non-null   object
 12  DRUH_CISLOVANI_PAR  1455 non-null   object
 13  Parcela             1455 non-null   object
 14  Datum               1455 non-null   object
 15  CAS                 1455 non-null   float64
 16  KATUZE_KOD          1455 non-null   object
 17  sraz                1455 non-null   object
 18  Unnamed: 18         377 non-null    object
dtypes: float64(1), int64(1), object(17)
memory usage: 216.1+ KB

### Kontrola dat

In [13]:
missing_ids = csv_file["IČ"].isnull().values.any()
missing_years = csv_file["RČ"].isnull().values.any()
missing_names = csv_file["Název"].isnull().values.any()

##### Chybí mi nějaká hodnota ve sloupcích jméno, ič, rč?

In [14]:
missing_values = (csv_file["IČ"].isnull().values.any(),
                 csv_file["RČ"].isnull().values.any(),
                 csv_file["Název"].isnull().values.any()
                 )

In [15]:
any(missing_values)

False

In [ ]:
any_missing = True

if not any_missing:
    create_row_entity()
else:
    select_primary_column(df, *args)

In [33]:
def check_every_column(df, *args):
    results = dict()
    
    for arg in args:
        if arg in df.columns:
            results[arg] = df[arg].isnull().values.any()

    else:
        return results

In [35]:
test_d = select_primary_column(csv_file, "IČ", "RČ", "Název")

In [39]:
for key, val in test_d.items():
    if val:
        continue
    else:
        primary_column = key

In [78]:
unique_vals = type(csv_file[primary_column].unique())

In [85]:
for index, row in enumerate(csv_file[primary_column].unique()):
        if index == 2:
            break
        else:
            selected_rows = csv_file[csv_file["Název"] == row]
            territories = selected_rows["Parcela"].to_list()
            print(territories)

['KN 696', 'KN 43']
['KN 167', 'KN 729/2', 'KN 149/33', 'KN 294/1']

In [71]:
csv_file["Název"]

0       ADRAS REALITY s.r.o.                          ...
1       ADRAS REALITY s.r.o.                          ...
2       AGROPOS s.r.o.                                ...
3       AGROPOS s.r.o.                                ...
4       AGROPOS s.r.o.                                ...
                              ...
1450                                                  ...
1451                                                  ...
1452                                                  ...
1453                                                  ...
1454                                                  ...
Name: Název, Length: 1455, dtype: object

In [52]:
csv_file[csv_file["Název"] == csv_file["Název"][0]]

,IČ,RČ,Název,Příjmení,Jméno,Titul,TitulZ,LV,Podíl,ULICE,OBEC,PSC,DRUH_CISLOVANI_PAR,Parcela,Datum,CAS,KATUZE_KOD,sraz,Unnamed: 18
0,28561325,,ADRAS REALITY s.r.o. ...,...,...,,,239,1/3,Sokolská 21 č.p.576,Olomouc,77900.0,2,KN 696,5.12.2022,10.0,Lhotka u Kroměříže,sraz 2,NaN
1,28561325,,ADRAS REALITY s.r.o. ...,...,...,,,239,1/3,Sokolská 21 č.p.576,Olomouc,77900.0,st.,KN 43,5.12.2022,10.0,Lhotka u Kroměříže,sraz 2,x

### Rozdělovač dat uživ.

In [8]:
row_count = len(csv_file.index)

In [9]:
for num in range(row_count):
    entity = csv_file.iloc[0]
    break

In [11]:
csv_file.head()

,IČ,RČ,Název,Příjmení,Jméno,Titul,TitulZ,LV,Podíl,ULICE,OBEC,PSC,DRUH_CISLOVANI_PAR,Parcela,Datum,CAS,KATUZE_KOD,sraz,Unnamed: 18
0,28561325,,ADRAS REALITY s.r.o. ...,...,...,,,239,1/3,Sokolská 21 č.p.576,Olomouc,77900.0,2,KN 696,5.12.2022,10.0,Lhotka u Kroměříže,sraz 2,NaN
1,28561325,,ADRAS REALITY s.r.o. ...,...,...,,,239,1/3,Sokolská 21 č.p.576,Olomouc,77900.0,st.,KN 43,5.12.2022,10.0,Lhotka u Kroměříže,sraz 2,x
2,48399345,,AGROPOS s.r.o. ...,...,...,,,648,1/1,Křenovská č.p.1051,"Kojetín, Kojetín I-Město",75201.0,2,KN 167,6.12.2022,10.0,Újezdsko,sraz 6,NaN
3,48399345,,AGROPOS s.r.o. ...,...,...,,,462,1/1,Křenovská č.p.1051,"Kojetín, Kojetín I-Město",75201.0,2,KN 729/2,7.12.2022,9.3,Kostelany,sraz 10,NaN
4,48399345,,AGROPOS s.r.o. ...,...,...,,,648,1/1,Křenovská č.p.1051,"Kojetín, Kojetín I-Město",75201.0,2,KN 149/33,14.12.2022,10.3,Újezdsko,sraz 24,NaN

### Extrakce pro název, obec, ulice, parcely

In [34]:
name = entity["Název"].strip()
city = entity["OBEC"].strip()
street = entity["ULICE"].strip()
post_number = entity["PSC"]  # nesedí datový typ
plot_number = entity["Parcela"].strip()

In [44]:
f"{str(int(77900.0))[:3]} {str(int(77900.0))[3:]}"

'779 00'

In [ ]:
class EntityAddress:
    """
    From the given object set up a new class.
    """
    
    def __init__(self, entity: pandas.core.DataFrame):
        self.entity = entity
        self.parse_attrs()
    
    def parse_attrs(self):
        """
        Try to return attributes from the given object.
        """
        logging.info()
               
        try:
            name = 
            city = 
            street = 
            post_number = 
            plot_number =
            
        except Exception as err:
            logging.error()
            
            name = None
            city = None
            street = None
            post_number = None 
            plot_number = None
        else:
            logging.info()

            name = name.strip() 
            city = city.strip()
            street = street.strip()
            post_number = post_number.strip()
            plot_number = plot_number.strip()
        finally:
            logging.info()

            self.name = name
            self.city = city
            self.street = street
            self.post_number = post_number
            self.plot_number = plot_number

### Tvorba záznamu pro dokument

In [ ]:
class DocSubjectCreator:
    """Create an object that represents a single entity."""
    
    def __init__(self, person: EntityAddress, doc_object):
        self.person = person
        self.doc_file = doc_object